# {{ ansible_managed }}

global_defs {
}

vrrp_instance VI_1 {
    state {{ keepalived_is_master | ternary('MASTER', 'BACKUP') }}
    interface {{ keepalived_interface }}
    virtual_router_id 101
    priority  {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
}
