apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: docker-registry-pv-claim
  namespace: {{ docker_registry.namespace }}
spec:
  accessModes: [ "ReadWriteMany" ]
  storageClassName: {{ kubernetes_longhorn_high_durability_storage_class_name }}
  resources:
    requests:
      storage: {{ docker_registry.container.storage.data }}
