apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-auth
  namespace: {{ docker_registry.namespace }}
  labels:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry.labels_desc | to_nice_yaml() | indent(4) }}
data:
  htpasswd: {{ lookup('template', role_path + '/app/config/htpasswd.j2') | b64encode }}
