apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-certs
  namespace: {{ docker_registry.namespace }}
  labels:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for docker_registry_generated_certificate_file in docker_registry_generated_certificate_files.results %}
  {{ docker_registry_generated_certificate_file.source | basename }}: {{ docker_registry_generated_certificate_file.content }}
{% endfor %}
