kind: Service
apiVersion: v1
metadata:
  name: docker-registry-lb
  namespace: {{ docker_registry.namespace }}
  labels:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  type: LoadBalancer
  loadBalancerIP: {{ kubernetes_docker_registry_lb_ip }}
  externalTrafficPolicy: Local
  ports:
    - port: 443
      name: https
      targetPort: https
  selector:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
