apiVersion: v1
kind: Service
metadata:
  name: prometheus-operator
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: prometheus-operator
spec:
  clusterIP: None
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
