apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-operator
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(4) }}
automountServiceAccountToken: false

