apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: paperless
  namespace: {{ paperless.namespace }}
  labels:
    {{ paperless.labels_def | to_nice_yaml() | indent(4) }}
    {{ paperless.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Files
    gethomepage.dev/name: Paperless
    gethomepage.dev/description: Scan & OCR documents
    gethomepage.dev/icon: paperless
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=paperless"
{% if homepage.config.paperless.enabled %}
    # https://gethomepage.dev/en/services/paperlessngx/
    gethomepage.dev/widget.type: "paperlessngx"
    gethomepage.dev/widget.url: "http://paperless.tool-paperless.svc.cluster.local:8000"
    gethomepage.dev/widget.fields: '["total", "inbox"]'
    gethomepage.dev/widget.username: "{{ homepage.config.paperless.username }}"
    gethomepage.dev/widget.password: "{{ homepage.config.paperless.password }}"
{% endif %}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - paperless.tool.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: paperless.tool.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if paperless.context_root == '' else paperless.context_root }}
        pathType: Prefix
        backend:
          service:
            name: paperless
            port:
              name: web
