apiVersion: v1
kind: Secret
metadata:
  name: paperless
  namespace: {{ paperless.namespace }}
  labels:
    {{ paperless.labels_def | to_nice_yaml() | indent(4) }}
    {{ paperless.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  redis_connection_url: "{{ ('redis://' + paperless_redis.username + ':' + paperless_redis.password + '@redis:6379') | b64encode }}"
  secret_key: {{ paperless.secret_key | b64encode }}
  admin_user: {{ paperless.admin.user | b64encode }}
  admin_mail: {{ paperless.admin.mail | b64encode }}
  admin_password: {{ paperless.admin.password | b64encode }}
