apiVersion: v1
kind: Secret
metadata:
  name: pgsql
  namespace: {{ paperless.namespace }}
  labels:
    {{ paperless_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ paperless_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ paperless_pgsql.password | b64encode }}
