apiVersion: v1
kind: Secret
metadata:
  name: redis
  namespace: {{ paperless.namespace }}
  labels:
    {{ paperless_redis.labels_def | to_nice_yaml() | indent(4) }}
    {{ paperless_redis.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  redis.conf: {{ lookup('template', role_path + '/app/config/redis.conf.j2') | b64encode }}
