apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: "{{ paperless.namespace }}"
  labels:
    {{ paperless_redis.labels_def | to_nice_yaml() | indent(4) }}
    {{ paperless_redis.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ paperless_redis.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ paperless_redis.labels_def | to_nice_yaml() | indent(8) }}
        {{ paperless_redis.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-data-dir
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /data-volume/data
            chown -R 999:1000 /data-volume/*
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: redis-pv-claim
          mountPath: /data-volume
      containers:
      - name: redis
        image: "{{ paperless_redis.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
        - redis-server
        - /usr/local/etc/redis/redis.conf
        ports:
        - containerPort: 6379
          name: redis
        securityContext:
          runAsNonRoot: true
          runAsUser: 999
          runAsGroup: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - "/usr/local/bin/redis-cli --user {{ paperless_redis.health_username }} --pass '' ping"
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ paperless_redis.container.requests_cpu }}"
            memory: "{{ paperless_redis.container.requests_memory }}"
          limits:
            cpu: "{{ paperless_redis.container.limits_cpu }}"
            memory: "{{ paperless_redis.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: redis-secret
          mountPath: /usr/local/etc/redis/redis.conf
          subPath: redis.conf
        - name: redis-pv-claim
          mountPath: /data
          subPath: data
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: redis-secret
        secret:
          secretName: redis
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: redis-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: {{ paperless_redis.container.storage.data }}
      selector:
        matchLabels:
          {{ paperless_redis.labels_def | to_nice_yaml() | indent(10) }}
