apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: airsonic
  namespace: {{ airsonic.namespace }}
  labels:
    app: airsonic
spec:
  tls:
    - hosts:
      - stream.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: stream.{{ web_base_domain }}
    http:
      paths:
        - path: {{ airsonic.context_path }}
          backend:
            serviceName: airsonic
            servicePort: 80
