kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-airsonic
  namespace: {{ airsonic.namespace }}
  labels:
    app.kubernetes.io/name: airsonic
    app.kubernetes.io/component: airsonic
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: airsonic
      app.kubernetes.io/component: airsonic

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: airsonic
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
