kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-airsonic
  namespace: {{ airsonic.namespace }}
  labels:
    {{ airsonic.labels_def | to_nice_yaml() | indent(4) }}
    {{ airsonic.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ airsonic.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: airsonic
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
