apiVersion: v1
kind: Secret
metadata:
  name: mailhog-smtp
  namespace: default
  labels:
    app: mailhog
    app-component: mailhog
type: Opaque
data:
  smtp.json: {{ lookup('template', kubernetes_app_root_path + '/infra/mailhog/config/smtp.json.j2', convert_data=False) | b64encode }}
