apiVersion: v1
kind: ConfigMap
metadata:
  name: ttrss-pgsql-init
  namespace: default
  labels:
    app: ttrss
    app-component: pgsql
data:
  init-ttrss-schema.sql:  |
    {{ lookup('file', ttrss_temp_schema_path)  | replace('\n', '\n    ') }}
