apiVersion: v1
kind: Secret
metadata:
  name: ttrss-pgsql-pass
  namespace: default
  labels:
    app: ttrss
    app-component: pgsql
type: Opaque
data:
  password: {{ ttrss_pqsql_password | b64encode }}
