apiVersion: apps/v1
kind: Deployment
metadata:
  name: ttrss
  namespace: default
  labels:
    app: ttrss
    app-component: ttrss
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: ttrss
      app-component: ttrss
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ttrss
        app-component: ttrss
    spec:
      containers:
      - image: linuxserver/tt-rss
        name: ttrss
# TODO inject TT-RSS configuration after the image is updated
#        env:
#        - name: TTRSS_DB_HOST
#          value: ttrss-mysql
#        - name: TTRSS_DB_PASSWORD
#          valueFrom:
#            secretKeyRef:
#              name: ttrss-mysql-pass
#              key: password
        ports:
        - containerPort: 80
          name: ttrss
        resources:
          requests:
            cpu: "{{ ttrss_ttrss_requests_cpu | default("100m") }}"
            memory: "{{ ttrss_ttrss_requests_memory | default("32Mi") }}"
          limits:
            cpu: "{{ ttrss_ttrss_limits_cpu | default("200m") }}"
            memory: "{{ ttrss_ttrss_limits_memory | default("32Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: nginx-site-config-file
          mountPath: /config/nginx/site-confs/
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: nginx-site-config-file
        configMap:
          name: ttrss-config
          items:
          - key: nginx_site_config
            path: default
      nodeSelector:
        capability/general-purpose: 'yes'
