apiVersion: apps/v1
kind: Deployment
metadata:
  name: ttrss
  namespace: default
  labels:
    app: ttrss
    app-component: ttrss
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: ttrss
      app-component: ttrss
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ttrss
        app-component: ttrss
    spec:
      containers:
      - image: {{ kubernetes_registry_url }}/ttrss
        name: ttrss
        ports:
        - containerPort: 80
          name: ttrss
        resources:
          requests:
            cpu: "{{ ttrss_ttrss_requests_cpu | default("100m") }}"
            memory: "{{ ttrss_ttrss_requests_memory | default("64Mi") }}"
          limits:
            cpu: "{{ ttrss_ttrss_limits_cpu | default("200m") }}"
            memory: "{{ ttrss_ttrss_limits_memory | default("64Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: ttrss-config
          mountPath: /config/nginx/site-confs/default
          subPath: nginx_site.conf
        - name: ttrss-config
          mountPath: /config/config.php
          subPath: config.php
        - name: certs-volume
          mountPath: /etc/ldap/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: ttrss-config
        configMap:
          name: ttrss-config
      - name: certs-volume
        secret:
          secretName: openldap-ca
      nodeSelector:
        capability/general-purpose: 'yes'
