apiVersion: v1
kind: Secret
metadata:
  name: homepage-config
  namespace: {{ homepage.namespace }}
  labels:
    {{ homepage.labels_def | to_nice_yaml() | indent(4) }}
    {{ homepage.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for homepage_config_file in homepage_config_files %}
  {{ homepage_config_file | basename | replace(".j2", "") }}: {{ lookup(homepage_config_file | regex_search('.j2$') | ternary('template','file'), homepage_config_file) | b64encode }}
{% endfor %}
