apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: pyload
  namespace: default
spec:
  tls:
    - hosts:
      - dl.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: dl.{{ web_base_domain }}
    http:
      paths:
        - path: {{ pyload.context_root }}
          backend:
            serviceName: pyload
            servicePort: 80
