kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-pyload
  namespace: {{ pyload.namespace }}
  labels:
    app: pyload
    app-component: pyload
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: pyload
      app-component: pyload

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: webui
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
