apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pyload
  namespace: {{ pyload.namespace }}
  labels:
    {{ pyload.labels_def | to_nice_yaml() | indent(4) }}
    {{ pyload.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ pyload.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ pyload.labels_def | to_nice_yaml() | indent(8) }}
        {{ pyload.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.container.image }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /opt/pyload/data
            chown -R 1000:1000 /opt/pyload/data
            # Ensure pid file is absent
            rm -f /opt/pyload/data/pyload.pid
        volumeMounts:
        - name: pyload-config-pv-claim
          mountPath: /opt/pyload
      containers:
      - name: pyload
        image: "{{ pyload.container.image }}"
        imagePullPolicy: Always        
        ports:
        - containerPort: 8000
          name: webui
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ '/' if pyload.context_root == '' else pyload.context_root }}
            port: webui
          initialDelaySeconds: 3
          periodSeconds: 5
        env:
          - name: PYLOAD_DEFAULT_USER
            value: "{{ pyload.default_user }}"
          - name: PYLOAD_DEFAULT_PASSWORD
            value: "{{ pyload.default_password }}"
          - name: PYLOAD_CONF_webinterface_prefix
            value: "{{ pyload.context_root }}"
          - name: PYLOAD_CONF_general_download_folder
            value: /mnt/download/pyload
          - name: PYLOAD_CONF_log_file_log
            value: "False"
        resources:
          requests:
            cpu: "{{ pyload.container.requests_cpu }}"
            memory: "{{ pyload.container.requests_memory }}"
          limits:
            cpu: "{{ pyload.container.limits_cpu }}"
            memory: "{{ pyload.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: pyload-config-pv-claim
          mountPath: /opt/pyload-data
          subPath: data
        - name: pyload-download
          mountPath: /mnt/download
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: pyload-download
        persistentVolumeClaim:
          claimName: nfs-download
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: pyload-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 32M
      selector:
        matchLabels:
          {{ pyload.labels_def | to_nice_yaml() | indent(10) }}
