apiVersion: v1
kind: Service
metadata:
  name: apcups-exporter-prometheus
  namespace: {{ apcups_exporter.namespace }}
  labels:
    {{ apcups_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ apcups_exporter.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: apcups-exporter
spec:
  ports:
    - port: 9162
      name: metrics
      targetPort: metrics
  selector:
    {{ apcups_exporter.labels_def | to_nice_yaml() | indent(4) }}
