apiVersion: v1
kind: ConfigMap
metadata:
  name: gotify-config
  namespace: default
  labels:
    app: gotify
    app-component: gotify
data:
  config.yml: |
    {{ lookup('template', role_path + '/app/config/config.yml.j2')  | replace('\n', '\n    ') }}
