apiVersion: v1
kind: ConfigMap
metadata:
  name: gotify-config
  namespace: {{ gotify.namespace }}
  labels:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
    {{ gotify.labels_desc | to_nice_yaml() | indent(4) }}
data:
  config.yml: |
    {{ lookup('template', role_path + '/app/config/config.yml.j2')  | replace('\n', '\n    ') }}
