kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-gotify
  namespace: {{ gotify.namespace }}
  labels:
    app.kubernetes.io/name: gotify
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: gotify
      app.kubernetes.io/component: gotify

  ingress:
    - ports:
        - port: gotify
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
    
        # Allow from homeassistant
        - namespaceSelector:
            matchLabels:
              name: {{ homeassistant.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: homeassistant
              app.kubernetes.io/component: homeassistant
