kind: Service
apiVersion: v1
metadata:
  name: gotify
  namespace: {{ gotify.namespace }}
  labels:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
    {{ gotify.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
  selector:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
