kind: Service
apiVersion: v1
metadata:
  name: gotify
  namespace: default
  labels:
    app: gotify
    app-component: gotify
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: gotify
    app-component: gotify
