apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gotify
  namespace: {{ gotify.namespace }}
  labels:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
    {{ gotify.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if gotify.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^({{ gotify.context_root }})$ $1/ permanent;
{% endif %}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - gotify.infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: gotify.infra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if gotify.context_root == '' else gotify.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: gotify
            port:
              name: http
