kind: Service
apiVersion: v1
metadata:
  name: gotify
  namespace: {{ gotify.namespace }}
  labels:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
    {{ gotify.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
    - port: 80
      name: http
      targetPort: http
  selector:
    {{ gotify.labels_def | to_nice_yaml() | indent(4) }}
