#!/bin/sh

touch /var/lib/ntfy/user.db

{% for user in ntfy.users %}
echo "--------------------------------------------------"
echo "User : {{ user.name }}"
{% set user_role = 'admin' if user.admin | bool else 'user' %}

echo " - create user"
NTFY_PASSWORD={{ user.password }} ntfy user add --ignore-exists {{ user.name }}

echo " - set password"
NTFY_PASSWORD={{ user.password }} ntfy user change-pass {{ user.name }}

echo " - set role {{ user_role }}"
ntfy user change-role {{ user.name }} {{ user_role }}

echo " - permissions :"
{% for perm in user.permissions | default([]) %}

echo " --- {{ perm.topic }} {{ perm.permission }}"
ntfy access {{ user.name }} "{{ perm.topic }}" {{ perm.permission }}
{% endfor %}

{% endfor %}

echo "--------------------------------------------------"
echo "List of all existing users and permissions :"
ntfy user list
