apiVersion: v1
kind: ConfigMap
metadata:
  name: sabnzbd-config
  namespace: {{ sabnzbd.namespace }}
  labels:
    app: sabnzbd
    app-component: sabnzbd
data:
  sabnzbd_delta.ini: |
    {{ lookup('template', role_path + '/app/config/sabnzbd_delta.ini.j2') | replace('\n', '\n    ') }}
  autoProcessMedia_delta.cfg: |
    {{ lookup('template', role_path + '/app/config/autoProcessMedia_delta.cfg.j2') | replace('\n', '\n    ') }}
  mergeConf.py: |
    {{ lookup('file', role_path + '/app/config/mergeConf.py') | replace('\n', '\n    ') }}
  configobj.py: |
    {{ lookup('file', role_path + '/app/config/configobj.py') | replace('\n', '\n    ') }}
