apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sabnzbd
  namespace: {{ sabnzbd.namespace }}
  labels:
    {{ sabnzbd.labels_def | to_nice_yaml() | indent(4) }}
    {{ sabnzbd.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  tls:
    - hosts:
      - sabnzbd.dl.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: sabnzbd.dl.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if sabnzbd.context_root == '' else sabnzbd.context_root }}
        pathType: Prefix
        backend:
          service:
            name: sabnzbd
            port:
              number: 80
