kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-sabnzbd
  namespace: {{ sabnzbd.namespace }}
  labels:
    app.kubernetes.io/name: sabnzbd
    app.kubernetes.io/component: sabnzbd
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: sabnzbd
      app.kubernetes.io/component: sabnzbd

  ingress:
    - ports:
        - port: http
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx

        # Allow from sickchill
        - namespaceSelector:
            matchLabels:
              name: {{ sickchill.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: sickchill
              app.kubernetes.io/component: sickchill
