apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ttrss
  namespace: default
spec:
  rules:
  - host: web.{{ web_base_domain }}
    http:
      paths:
        - path: {{ ttrss_context_root }}
          backend:
            serviceName: ttrss
            servicePort: 80
