apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin
  namespace: {{ jellyfin.namespace }}
  labels:
    {{ jellyfin.labels_def | to_nice_yaml() | indent(4) }}
    {{ jellyfin.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Stream
    gethomepage.dev/name: Jellyfin
    gethomepage.dev/description: Media streaming
    gethomepage.dev/icon: jellyfin
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=jellyfin"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - jellyfin.stream.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: jellyfin.stream.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if jellyfin.context_root == '' else jellyfin.context_root }}
        pathType: Prefix
        backend:
          service:
            name: jellyfin
            port:
              number: 80
