apiVersion: apps/v1
kind: Deployment
metadata:
  name: mailhog
  namespace: {{ mailhog.namespace }}
  labels:
    app: mailhog
    app-component: mailhog
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mailhog
      app-component: mailhog
  template:
    metadata:
      labels:
        app: mailhog
        app-component: mailhog
    spec:
      containers:
      - name: mailhog
        image: "{{ mailhog.container.image }}"
        resources:
          requests:
            cpu: "{{ mailhog.container.requests_cpu }}"
            memory: "{{ mailhog.container.requests_memory }}"
          limits:
            cpu: "{{ mailhog.container.limits_cpu }}"
            memory: "{{ mailhog.container.limits_memory }}"
        env:
          - name: MH_UI_WEB_PATH
            value: mailhog
{% if mailhog.forward_smtp.enabled | bool %}
          - name: MH_OUTGOING_SMTP
            value: /etc/mailhog/smtp.json
{% endif %}
        ports:
        - containerPort: 1025
          name: smtp
        - containerPort: 8025
          name: http
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: mailhog-smtp
          mountPath: /etc/mailhog/smtp.json
          subPath: smtp.json
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: mailhog-smtp
        secret:
          secretName: mailhog-smtp
      nodeSelector:
        capability/general-purpose: 'yes'
