apiVersion: v1
kind: Secret
metadata:
  name: mailhog-smtp
  namespace: {{ mailhog.namespace }}
  labels:
    app: mailhog
    app-component: mailhog
type: Opaque
data:
  smtp.json: {{ lookup('template', role_path + '/app/config/smtp.json.j2', convert_data=False) | b64encode }}
