apiVersion: v1
kind: Service
metadata:
  name: mailhog
  namespace: {{ mailhog.namespace }}
  labels:
    app: mailhog
spec:
  ports:
    - port: 1025
      name: smtp
    - port: 8025
      name: http
  selector:
    app: mailhog
    app-component: mailhog
