apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitea
  namespace: {{ gitea.namespace }}
  labels:
    {{ gitea.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitea.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Dev
    gethomepage.dev/name: Gitea
    gethomepage.dev/description: Lightweight code hosting solution
    gethomepage.dev/icon: gitea
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=gitea"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - gitea.dev.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: gitea.dev.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if gitea.context_root == '' else gitea.context_root }}
        pathType: Prefix
        backend:
          service:
            name: gitea
            port:
              name: http
