apiVersion: v1
kind: Secret
metadata:
  name: pgsql-pass
  namespace: {{ gitea.namespace }}
  labels:
    {{ gitea_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitea_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ gitea_pgsql.password | b64encode }}
