kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-dashboard-metrics-scraper
  namespace: {{ kubernetes_dashboard.namespace }}
  labels:
    {{ kubernetes_dashboard_metrics_scraper.labels_def | to_nice_yaml() | indent(4) }}
    {{ kubernetes_dashboard_metrics_scraper.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ kubernetes_dashboard_metrics_scraper.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from kubernetes-dashboard
    - ports:
        - port: 8000
      from:
        - podSelector:
            matchLabels:
              {{ kubernetes_dashboard.labels_def | to_nice_yaml() | indent(14) }}

---

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-kubernetes-dashboard
  namespace: {{ kubernetes_dashboard.namespace }}
  labels:
    {{ kubernetes_dashboard.labels_def | to_nice_yaml() | indent(4) }}
    {{ kubernetes_dashboard.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ kubernetes_dashboard.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: 8443
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
