kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-dashboard-metrics-scraper
  namespace: {{ kubernetes_dashboard.namespace }}
  labels:
    app.kubernetes.io/name: kubernetes-dashboard
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: dashboard-metrics-scraper

  ingress:
    # Allow from kubernetes-dashboard
    - ports:
        - port: 8000
      from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-dashboard

---

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-kubernetes-dashboard
  namespace: {{ kubernetes_dashboard.namespace }}
  labels:
    app.kubernetes.io/name: kubernetes-dashboard
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: kubernetes-dashboard

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: 8443
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
