apiVersion: v1
kind: ServiceAccount
metadata:
  name: dashboard-admin-user
  namespace: {{ kubernetes_dashboard.namespace }}
  labels:
    {{ kubernetes_dashboard.labels_def | to_nice_yaml() | indent(4) }}
    {{ kubernetes_dashboard.labels_desc | to_nice_yaml() | indent(4) }}
