# {{ ansible_managed }}

# Config file for mosquitto
#
# See mosquitto.conf(5) for more information.

{% for listener in mosquitto.listeners %}
{% if loop.first %}
# =================================================================
# Default listener
# =================================================================
listener {{ listener.port }}
{% else %}
# =================================================================
# Extra listener
# =================================================================
listener {{ listener.port }}
{% endif %}

{% if listener.websocket %}protocol websockets{% endif %}
{% if listener.secure %}
tls_version tlsv1.2
capath /etc/ssl/mqtt/ca.crt
certfile /etc/ssl/mqtt/{{ listener.cert_name }}.crt
keyfile /etc/ssl/mqtt/{{ listener.cert_name }}.key
{% endif %}

{% endfor %}


# =================================================================
# Persistence
# =================================================================
persistence true
persistence_location /mosquitto/data/


# =================================================================
# Logs
# =================================================================
log_dest stdout
log_timestamp_format %Y-%m-%dT%H:%M:%S
log_type error
log_type warning
# All logins are logged as notice, healthcheck included
#log_type notice
log_type information


{% if mosquitto.credentials | default([]) | length > 0 %}
# =================================================================
# Security
# =================================================================
allow_anonymous false
password_file /mosquitto/config/passwd
{% endif %}
