apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasources
  namespace: {{ grafana.namespace }}
  labels:
    {{ grafana.labels_def | to_nice_yaml() | indent(4) }}
    {{ grafana.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
{% for grafana_datasources_file in grafana_datasources_files %}
  {{ grafana_datasources_file | basename | replace(".j2", "") }}: {{ lookup('template', grafana_datasources_file) | b64encode }}
{% endfor %}
