{
   "cfgAuthor" : "Ansible",
   "cfgNum" : 2,
   "cfgVersion" : "2.0.2",
   "cfgLog": "{{ ansible_managed }}",

{# generalParameters > portalParams #}
   "portal" : "https://auth.{{ web_base_domain }}/",

{# generalParameters > portalParams > portalMenu #}
   "applicationList" : {
      "2administration" : {
         "catname" : "Administration",
         "manager" : {
            "options" : {
               "description" : "Configure LemonLDAP::NG WebSSO",
               "display" : "auto",
               "logo" : "configure.png",
               "name" : "WebSSO Manager",
               "uri" : "https://infra.{{ web_base_domain }}/lemonldap/manager.html"
            },
            "type" : "application"
         },
         "notifications" : {
            "options" : {
               "description" : "Explore WebSSO notifications",
               "display" : "auto",
               "logo" : "database.png",
               "name" : "Notifications explorer",
               "uri" : "https://infra.{{ web_base_domain }}/lemonldap/notifications.html"
            },
            "type" : "application"
         },
         "sessions" : {
            "options" : {
               "description" : "Explore WebSSO sessions",
               "display" : "auto",
               "logo" : "database.png",
               "name" : "Sessions explorer",
               "uri" : "https://infra.{{ web_base_domain }}/lemonldap/sessions.html"
            },
            "type" : "application"
         },
         "type" : "category"
      },
      "3documentation" : {
         "catname" : "Documentation",
         "localdoc" : {
            "options" : {
               "description" : "Documentation supplied with LemonLDAP::NG",
               "display" : "on",
               "logo" : "help.png",
               "name" : "Local documentation",
               "uri" : "https://infra.{{ web_base_domain }}/lemonldap/manager/doc/"
            },
            "type" : "application"
         },
         "officialwebsite" : {
            "options" : {
               "description" : "Official LemonLDAP::NG Website",
               "display" : "on",
               "logo" : "network.png",
               "name" : "Official Website",
               "uri" : "http://lemonldap-ng.org/"
            },
            "type" : "application"
         },
         "type" : "category"
      }
   },

{# generalParameters > portalParams > portalMenu > portalModules #}
   "portalDisplayLogout": 1,
   "portalDisplayChangePassword": "$_auth =~ /^(LDAP|DBI|Demo)$/",
   "portalDisplayAppslist": 1,
   "portalDisplayLoginHistory": 1,
   "portalDisplayOidcConsents": "$_oidcConnectedRP",
{# generalParameters > portalParams > portalCustomization #}
   "portalMainLogo": "common/logos/logo_llng_400px.png",
   "showLanguages": 1,
   "portalSkin" : "bootstrap",
   "portalSkinBackground" : "1280px-Cedar_Breaks_National_Monument_partially.jpg",
   "portalSkinRules": {},
{# generalParameters > portalParams > portalCustomization > portalButtons #}
   "portalCheckLogins": 1,
   "portalDisplayResetPassword": 1,
   "passwordResetAllowedRetries": 3,
   "portalDisplayRegister": 1,
{# generalParameters > portalParams > portalCustomization > passwordManagement #}
   "portalRequireOldPassword": 1,
   "hideOldPassword": 0,
   "mailOnPasswordChange": 1,
{# generalParameters > portalParams > portalCustomization > portalOther #}
   "portalUserAttr": "_user",
   "portalOpenLinkInNewWindow": 0,
   "portalAntiFrame": 1,
   "portalPingInterval": 60000,
   "portalErrorOnExpiredSession": 1,
   "portalErrorOnMailNotFound": 0,
{# generalParameters > portalParams > portalCaptcha #}
   "captcha_login_enabled": 0,
   "captcha_mail_enabled": 1,
   "captcha_register_enabled": 1,
   "captcha_size": 6,

{# generalParameters > authParams #}
   "authentication": "LDAP",
   "userDB": "LDAP",
   "passwordDB": "LDAP",
   "registerDB": "LDAP",
{# generalParameters > authParams > ldapParams #}
   "ldapAuthnLevel": 1,
   "ldapExportedVars": {
       "uid": "uid",
       "mail": "mail",
       "cn": "cn"
   },
{# generalParameters > authParams > ldapParams > ldapConnection #}
   "ldapServer": "ldap+tls://{{ lemonldap_ldap_servername }}/cafile=/var/lib/lemonldap-ng/server-certs/ca.crt",
   "ldapPort": 389,
   "ldapBase": "{{ lemonldap_ldap_base }}",
   "managerDn": "{{ lemonldap_ldap_manager_dn }}",
   "managerPassword": "{{ lemonldap_ldap_manager_password }}",
   "ldapTimeout": 30,
   "ldapVersion": 3,
   "ldapRaw": "", {# Binary attributes #}
{# generalParameters > authParams > ldapParams > ldapFilters #}
   "LDAPFilter": "",
   "AuthLDAPFilter": "(&(uid=$user)(objectClass=inetOrgPerson))",
   "mailLDAPFilter": "(&(mail=$mail)(objectClass=inetOrgPerson))",
   "ldapSearchDeref": "find",
{# generalParameters > authParams > ldapParams > ldapGroups #}
   "ldapGroupBase": "{{ lemonldap_ldap_group_base }}",
   "ldapGroupObjectClass": "groupOfUniqueNames",
   "ldapGroupAttributeName": "uniqueMember",
   "ldapGroupAttributeNameUser": "dn",
   "ldapGroupAttributeNameSearch": "cn",
   "ldapGroupDecodeSearchedValue": 0,
   "ldapGroupRecursive": 0,
   "ldapGroupAttributeNameGroup": "dn",
{# generalParameters > authParams > ldapParams > ldapPassword #}
   "ldapPpolicyControl": 1,
   "ldapSetPassword": 0,
   "ldapChangePasswordAsUser": 1,
   "ldapPwdEnc": "utf-8",
   "ldapUsePasswordResetAttribute": 1,
   "ldapPasswordResetAttribute": "pwdReset",
   "ldapPasswordResetAttributeValue": "TRUE",
   "ldapAllowResetExpiredPassword": 1,

{# generalParameters > logParams #}
   "whatToTrace" : "_whatToTrace",
   "hiddenAttributes": "_password",
{# generalParameters > cookieParams #}
   "cookieName" : "lemonldap",
   "domain" : "{{ web_base_domain }}",
   "cda": 0,
   "securedCookie": 0,
   "httpOnly": 1,
   "cookieExpiration": 0,
{# generalParameters > sessionParams #}
   "storePassword": 0,
   "timeout": 72000,
   "timeoutActivity": 0,
   "timeoutActivityInterval": 60,
   "grantSessionRules": {},
{# generalParameters > sessionParams > sessionStorage #}
   "globalStorage" : "Apache::Session::File",
   "globalStorageOptions": {
       "Directory": "{{ lemonldap_persistent_volume_path }}/sessions",
       "generateModule": "Lemonldap::NG::Common::Apache::Session::Generate::SHA256",
       "LockDirectory": "{{ lemonldap_persistent_volume_path }}/sessions/lock"
   },
   "localSessionStorage": "Cache::FileCache",
   "localSessionStorageOptions" : {
      "cache_depth" : 3,
      "cache_root" : "/tmp",
      "default_expires_in" : 600,
      "directory_umask" : "007",
      "namespace" : "lemonldap-ng-sessions"
   },
{# generalParameters > sessionParams > multipleSessions #}
   "singleSession": 0,
   "singleIP": 0,
   "singleUserByIP": 0,
   "singleSessionUserByIP": 0,
   "notifyDeleted": 1,
   "notifyOther": 0,
{# generalParameters > sessionParams > persistentSessions #}
   "persistentStorage" : "Apache::Session::File",
   "persistentStorageOptions" : {
      "Directory" : "{{ lemonldap_persistent_volume_path }}/psessions",
      "LockDirectory" : "{{ lemonldap_persistent_volume_path }}/psessions/lock"
   },
{# generalParameters > reloadParams #}
   "reloadUrls" : {
      "localhost" : "https://infra.{{ web_base_domain }}/reload"
   },
   "reloadTimeout": 5,

{# generalParameters > plugins #}
   "stayConnected": 0,
   "portalStatus": 0,
   "upgradeSession": 1,
{# generalParameters > plugins > portalServers #}
   "wsdlServer": 0,
   "restSessionServer": 0,
   "restConfigServer": 0,
   "soapSessionServer": 0,
   "soapConfigServer": 0,
   "exportedAttr": "",
{# generalParameters > plugins > loginHistory #}
   "loginHistoryEnabled" : 1,
   "successLoginNumber": 5,
   "failedLoginNumber": 5,
   "sessionDataToRemember" : {},
{# generalParameters > plugins > notifications #}
   "notification": 1,
   "notificationServer": 0,
   "oldNotifFormat": 0,
   "notificationStorage": "File",
   "notificationStorageOptions": {
       "dirName": "{{ lemonldap_persistent_volume_path }}/notifications"
   },
   "notificationWildcard": "allusers",
   "notificationXSLTfile": "",
{# generalParameters > plugins > passwordManagement > mailContent #}
   "mailSubject": "",
   "mailBody": "",
   "mailConfirmSubject": "",
   "mailConfirmBody": "",
{# generalParameters > plugins > passwordManagement > mailOther #}
   "mailUrl" : "https://auth.{{ web_base_domain }}/resetpwd",
   "mailTimeout": 0,
   "randomPasswordRegexp": "[A-Z]{3}[a-z]{5}.\\d{2}",
{# generalParameters > plugins > register #}
   "registerUrl" : "https://auth.{{ web_base_domain }}/register",
   "registerTimeout": 0,
   "registerConfirmSubject": "",
   "registerDoneSubject": "",
{# generalParameters > plugins > autoSignin #}
   "autoSigninRules": {},
{# generalParameters > plugins > stateCheck #}
   "checkState": 0,
   "checkStateSecret": "",

{# generalParameters > secondFactors #}
   "available2FSelfRegistration": "TOTP,U2F,Yubikey",
   "available2F": "UTOTP,TOTP,U2F,REST,Mail2F,Ext2F,Yubikey",
   "max2FDevices": 10,
   "max2FDevicesNameLength": 20,
   "sfEngine": "::2F::Engines::Default",
   "sfRequired": 0,

{# generalParameters > secondFactors > utotp2f #}
   "utotp2fActivation": 0,
   "utotp2fAuthnLevel": 4,
{# generalParameters > secondFactors > totp #}
   "totp2fActivation": 1,
   "totp2fSelfRegistration": 1,
   "totp2fAuthnLevel": 4,
   "totp2fIssuer": "{{ web_base_domain }}",
   "totp2fInterval": 30,
   "totp2fRange": 1,
   "totp2fDigits": 6,
   "totp2fDisplayExistingSecret": 0,
   "totp2fUserCanChangeKey": 0,
   "totp2fUserCanRemoveKey": 1,
{# generalParameters > secondFactors > u2f #}
   "u2fActivation": 0,
   "u2fSelfRegistration": 0,
   "u2fAuthnLevel": 4,
   "u2fUserCanRemoveKey": 1,
{# generalParameters > secondFactors > mail2f #}
   "mail2fActivation": 0,
   "mail2fCodeRegex": "\\d{6}",
   "mail2fTimeout": 120,
   "mail2fSubject": "",
   "mail2fBody": "",
   "mail2fAuthnLevel": 2,
   "mail2fLogo": "",
{# generalParameters > secondFactors > external2f #}
   "ext2fActivation": 0,
   "ext2FSendCommand": "",
   "ext2FValidateCommand": "",
   "ext2fAuthnLevel": 2,
   "ext2fLogo": "",
{# generalParameters > secondFactors > rest2f #}
   "rest2fActivation": 0,
   "rest2fInitUrl": "http://disabled",
   "rest2fInitArgs": {},
   "rest2fVerifyUrl": "",
   "rest2fVerifyArgs": {},
   "rest2fAuthnLevel": 2, 
   "rest2fLogo": "",
{# generalParameters > secondFactors > yubikey2f #}
   "yubikey2fActivation": 0,
   "yubikey2fSelfRegistration": 0,
   "yubikey2fAuthnLevel": 4,
   "yubikey2fClientID": "",
   "yubikey2fSecretKey": "",
   "yubikey2fNonce": "",
   "yubikey2fUrl": "",
   "yubikey2fPublicIDSize": 12,
   "yubikey2fUserCanRemoveKey": 1,

{# generalParameters > advancedParams #}
   "customFunctions": "",
   "multiValuesSeparator": "; ",
   "nginxCustomHandlers": {},
   "logoutServices": {},
{# generalParameters > advancedParams > SMTP #}
   "mailSessionKey": "mail",
   "SMTPServer": "{{ lemonldap_smtp_host }}",
   "SMTPPort": {{ lemonldap_smtp_port }},
   "SMTPAuthUser": "{{ lemonldap_smtp_user }}",
   "SMTPAuthPass": "{{ lemonldap_smtp_password }}",
   "SMTPTLS": "{{ lemonldap_smtp_tls }}",
   "SMTPTLSOpts": {
      "SSL_ca_file": "/var/lib/lemonldap-ng/server-certs/ca.crt"
   },
{# generalParameters > advancedParams > SMTP > mailHeaders #}
   "mailFrom": "{{ lemonldap_smtp_from }}",
   "mailReplyTo": "{{ lemonldap_smtp_replyTo }}",
   "mailCharset": "utf-8",
{# generalParameters > advancedParams > security #}
   "userControl": "^[\\w\\.\\-@]+$",
   "portalForceAuthn": 0,
   "portalForceAuthnInterval": 5,
{# "key": "", #}
   "trustedDomains": "",
   "useSafeJail": 1,
   "checkXSS": 1,
   "bruteForceProtection": 0,
   "bruteForceProtectionTempo": 30,
   "bruteForceProtectionMaxFailed": 3,
   "bruteForceProtectionMaxAge": 300,
   "requireToken": 1,
   "formTimeout": 120,
   "tokenUseGlobalStorage": 0,
   "lwpOpts": {},
   "lwpSslOpts": {},
{# generalParameters > advancedParams > security > contentSecurityPolicy #}
   "cspDefault": "'self'",
   "cspImg": "'self' data:",
   "cspScript": "'self'",
   "cspStyle": "'self'",
   "cspFont": "'self'",
   "cspFormAction": "'self'",
   "cspConnect": "'self'",
{# generalParameters > advancedParams > redirection #}
   "https": -1,
   "port": -1,
   "useRedirectOnForbidden": 0,
   "useRedirectOnError": 1,
   "maintenance": 0,
{# generalParameters > advancedParams > portalRedirection #}
   "jsRedirect": 0,
   "noAjaxHook": 0,
   "skipRenewConfirmation": 0,
{# generalParameters > advancedParams > forms #}
   "infoFormMethod": "get",
   "confirmFormMethod": "post",
   "redirectFormMethod": "get",
   "activeTimer": 1,

{# variables #}
   "exportedVars": {},
   "macros": {
       "_whatToTrace": "$_auth eq 'SAML' ? \"$_user\\@$_idpConfKey\" : $_auth eq 'OpenIDConnect' ? \"$_user\\@$_oidcConnectedRP\" : \"$_user\"",
       "UA": "$ENV{HTTP_USER_AGENT}"
   },
   "groups": {},
{# virtualHosts #}
   "locationRules" : {
{% for locationRule in lemonldap_location_rules | default([]) %}
   {% set locationLoop = loop %}
      "{{ locationRule.domain }}" : {
         "default": "{{ locationRule.default_rule }}"{% if locationRule.rules | default([]) | length > 0 %},{% endif %}
      {% for oneRule in locationRule.rules | default([]) %}
         "(?#{{ oneRule.name }}){{ oneRule.uri }}": "{{ oneRule.rule }}"{% if not loop.last %},{% endif %}
      {% endfor %}
      }{% if not locationLoop.last %},{% endif %}
{% endfor %}
   },
   "exportedHeaders" : {},
   "vhostOptions": {
{% for locationRule in lemonldap_location_rules | default([]) %}
   {% set locationLoop = loop %}
      "{{ locationRule.domain }}" : {
         "vhostType": "Main",
         "vhostPort": -1,
         "vhostMaintenance": 0,
         "vhostAuthnLevel": {{ locationRule.requiredAuthnLevel | default(1) }},
         "vhostHttps": -1
      }{% if not locationLoop.last %},{% endif %}
{% endfor %}
   }

{# samlServiceMetaData #}
{# samlIDPMetaDataNodes #}
{# samlSPMetaDataNodes #}
{# oidcServiceMetaData #}
{# oidcOPMetaDataNodes #}
{# oidcRPMetaDataNodes #}
{# casServiceMetadata #}
{# casSrvMetaDataNodes #}
{# casAppMetaDataNodes #}

}
 