apiVersion: v1
kind: ConfigMap
metadata:
  name: sickchill-config
  namespace: default
  labels:
    app: sickchill
    app-component: sickchill
data:
  config_delta.ini: |
    {{ lookup('template', kubernetes_app_root_path + '/download/sickchill/config/config_delta.ini.j2') | replace('\n', '\n    ') }}
  mergeConf.py: |
    {{ lookup('file', kubernetes_app_root_path + '/download/sickchill/config/mergeConf.py') | replace('\n', '\n    ') }}
