
kind: Endpoints
apiVersion: v1
metadata:
  name: {{ kubernetes_glusterfs_endpoint }}
  namespace: {{ item.1 }}
subsets:
{% for glusterfs_node in groups['glusterfs_servers'] | map('extract', hostvars, ['ansible_host']) %}
- addresses:
  - ip: {{ glusterfs_node }}
  ports:
  - port: 1
{% endfor %}
