apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.key }}
{% if item.value.labels | default([]) | length > 0%}
  labels: 
{% for label_name, label_value in item.value.labels.items() %}
    {{ label_name }}: {{ label_value }}
{% endfor %}
{% endif %}
spec:
  capacity:
    storage: {{ item.value.capacity }}
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: {{ item.value.reclaim_policy }}
  storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
  local:
    path: /dev/kubernetes_vg/{{ item.key }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ ansible_hostname | lower }}
