apiVersion: v1
kind: Secret
metadata:
  name: frigate
  namespace: {{ frigate.namespace }}
  labels:
    {{ frigate.labels_def | to_nice_yaml() | indent(4) }}
    {{ frigate.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  mqtt_password: {{ frigate.mqtt.password | b64encode }}
