apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-providers
  namespace: {{ grafana.namespace }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: grafana
data:
  dashboards.yaml: |-
    {
        "apiVersion": 1,
        "providers": [
            {
                "folder": "",
                "name": "0",
                "options": {
                    "path": "/grafana-dashboard-definitions/0"
                },
                "orgId": 1,
                "type": "file"
            }
        ]
    }
