apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-config
  namespace: {{ grafana.namespace }}
  labels:
    {{ grafana.labels_def | to_nice_yaml() | indent(4) }}
    {{ grafana.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for grafana_dashboard_file in grafana_dashboard_files %}
  {{ grafana_dashboard_file | basename }}: |-
    {{ lookup('file', grafana_dashboard_file) | replace('\n', '') }}
{% endfor %}
