apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasources
  namespace: monitoring
  labels:
    app: grafana
    app-component: grafana
type: Opaque
data:
  prometheus.yaml: {{ lookup('template', role_path + '/app/config/datasources/prometheus.yaml.j2') | b64encode }}
