apiVersion: v1
kind: Secret
metadata:
  name: grafana-datasources
  namespace: {{ grafana.namespace }}
  labels:
    {{ grafana.labels_def | to_nice_yaml() | indent(4) }}
    {{ grafana.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  prometheus.yaml: {{ lookup('template', role_path + '/app/config/datasources/prometheus.yaml.j2') | b64encode }}
