apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: grafana
  namespace: {{ grafana.namespace }}
  labels:
    app.kubernetes.io/name: grafana
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
spec:
  tls:
    - hosts:
      - infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
        - path: /grafana/?(.*)
          backend:
            serviceName: grafana
            servicePort: 3000
