kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-grafana
  namespace: {{ grafana.namespace }}
  labels:
    app: grafana
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: grafana
      app-component: grafana

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: http
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
