kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-grafana
  namespace: {{ grafana.namespace }}
  labels:
    app.kubernetes.io/name: grafana
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: grafana
      app.kubernetes.io/component: grafana

  ingress:
    - ports:
        - port: http
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx

        # Allow from prometheus
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
              prometheus: k8s
