apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab
  namespace: {{ gitlab.namespace }}
  labels:
    {{ gitlab.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitlab.labels_desc | to_nice_yaml() | indent(4) }}
data:
  gitlab.rb: |
    {{ lookup('template', role_path + '/app/config/gitlab.rb.j2') | replace('\n', '\n    ') }}
