apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
{% for ip_pool in metallb_ip_pools %}
    - name: {{ ip_pool.name }}
      protocol: layer2
      addresses:
      {{ ip_pool.addresses | to_nice_yaml(indent=2) | indent(6) }}
{% endfor %}
