apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: zwavejsui
  namespace: {{ zwavejsui.namespace }}
  labels:
    {{ zwavejsui.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejsui.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if zwavejsui.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-External-Path /zwave;
{% endif %}
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Home
    gethomepage.dev/name: Z-Wave JS UI
    gethomepage.dev/description: Fully configurable Zwave to MQTT Gateway and Control Panel
    gethomepage.dev/icon: zwavejs2mqtt
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=zwavejsui"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - zwavejsui.home.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: zwavejsui.home.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if zwavejsui.context_root == '' else zwavejsui.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: zwavejsui
            port:
              name: http
