apiVersion: v1
kind: Secret
metadata:
  name: zwavejsui-secret
  namespace: "{{ zwavejsui.namespace }}"
  labels:
    {{ zwavejsui.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejsui.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  session-secret: {{ zwavejsui.session_secret | b64encode }}
  settings.json: {{ lookup('template', role_path + '/app/config/settings.json.j2', convert_data=False) | b64encode }}
  users.json: {{ lookup('template', role_path + '/app/config/users.json.j2', convert_data=False) | b64encode }}
