apiVersion: v1
kind: Service
metadata:
  name: zwavejsui
  namespace: {{ zwavejsui.namespace }}
  labels:
    {{ zwavejsui.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejsui.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - name: http
    port: 8091
    targetPort: http
  - name: ws
    port: 3000
    targetPort: ws
  selector:
    {{ zwavejsui.labels_def | to_nice_yaml() | indent(4) }}
