apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zwavejsui
  namespace: {{ zwavejsui.namespace }}
  labels:
    {{ zwavejsui.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejsui.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ zwavejsui.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ zwavejsui.labels_def | to_nice_yaml() | indent(8) }}
        {{ zwavejsui.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /opt/zwavejsui/store
            chown 1000:1000 /opt/zwavejsui/store
            cp /opt/zwavejsui/store/settings_bootstrap.json /opt/zwavejsui/store/settings.json
            chown 1000:1000 /opt/zwavejsui/store/settings.json
        volumeMounts:
        - name: config-volume
          mountPath: /opt/zwavejsui/store/settings_bootstrap.json
          subPath: settings.json
        - name: zwavejsui-pv-claim
          mountPath: /opt/zwavejsui
      containers:
      - name: zwavejsui
        image: "{{ zwavejsui.private_image | image_full_name }}"
        imagePullPolicy: Always
        env:
        - name: SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: zwavejsui-secret
              key: session-secret
        ports:
        - name: http
          containerPort: 8091
        - name: ws
          containerPort: 3000
        readinessProbe:
          failureThreshold: 12
          httpGet:
            httpHeaders:
              - name: Accept
                value: text/plain
            path: /health
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 2
        resources:
          requests:
            cpu: "{{ zwavejsui.container.requests_cpu }}"
            memory: "{{ zwavejsui.container.requests_memory }}"
          limits:
            cpu: "{{ zwavejsui.container.limits_cpu }}"
            memory: "{{ zwavejsui.container.limits_memory }}"
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # node
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: zwavejsui-pv-claim
          mountPath: /usr/src/app/store
          subPath: store
        - name: config-volume
          mountPath: /usr/src/app/store/users.json
          subPath: users.json
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: config-volume
        secret:
          secretName: zwavejsui-secret
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: zwavejsui-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: {{ zwavejsui.container.storage.data }}
      selector:
        matchLabels:
          {{ zwavejsui.labels_def | to_nice_yaml() | indent(10) }}
