apiVersion: v1
kind: Secret
metadata:
  name: mongo-pass
  namespace: "{{ zonemta.namespace }}"
  labels:
    {{ zonemta_mongo.labels_def | to_nice_yaml() | indent(4) }}
    {{ zonemta_mongo.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ zonemta_mongo.root_password | b64encode }}
