apiVersion: apps/v1
kind: Deployment
metadata:
  name: zonemta
  namespace: "{{ zonemta.namespace }}"
  labels:
    {{ zonemta.labels_def | to_nice_yaml() | indent(4) }}
    {{ zonemta.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ zonemta.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ zonemta.labels_def | to_nice_yaml() | indent(8) }}
        {{ zonemta.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: wait-for-requirements
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command: 
          - "sh"
          - "-c"
          - |
            echo "Waiting for MongoDB"
            timeout 120s sh -c "while ! nc -z -w 0 mongo 27017 ; do echo 'Still waiting ...' ; sleep 5 ; done"
            ret=$?
            echo "return : $ret"
            if [ $ret -eq 0 ] ; then
              echo "MongoDB Server has started"
            else
              echo "FAILED : MongoDB Server isn't available"
              exit 1
            fi

            echo "Waiting for Redis"
            timeout 120s sh -c "while ! nc -z -w 0 redis 6379 ; do echo 'Still waiting ...' ; sleep 5 ; done"
            ret=$?
            echo "return : $ret"
            if [ $ret -eq 0 ] ; then
              echo "Redis Server has started"
            else
              echo "FAILED : Redis Server isn't available"
              exit 1
            fi
      containers:
      - name: zonemta
        image: "{{ zonemta.private_image | image_full_name }}"
        imagePullPolicy: Always
        env:
        - name: NODE_OPTIONS
          value: "--max-old-space-size={{ zonemta.nodejs_max_memory }}"
        ports:
        - containerPort: 1587
          name: smtp
        - containerPort: 12080
          name: metrics
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          tcpSocket:
            port: smtp
          initialDelaySeconds: 10
          periodSeconds: 10
        resources:
          requests:
            cpu: "{{ zonemta.container.requests_cpu }}"
            memory: "{{ zonemta.container.requests_memory }}"
          limits:
            cpu: "{{ zonemta.container.limits_cpu }}"
            memory: "{{ zonemta.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: zonemta-config
          mountPath: /opt/zone-mta/config
        - name: zonemta-certificates
          mountPath: /opt/zone-mta/certs
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: zonemta-config
        secret:
          secretName: zonemta-config
      - name: zonemta-certificates
        secret:
          secretName: zonemta-certificates
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
