apiVersion: v1
kind: Service
metadata:
  name: zonemta-prometheus
  namespace: "{{ zonemta.namespace }}"
  labels:
    {{ zonemta.labels_def | to_nice_yaml() | indent(4) }}
    {{ zonemta.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: zonemta
spec:
  ports:
  - port: 12080
    name: metrics
    targetPort: metrics
  selector:
    {{ zonemta.labels_def | to_nice_yaml() | indent(4) }}
