global:
  resolve_timeout: 5m

{% if alertmanager.smtp.enabled %}
  # The smarthost and SMTP sender used for mail notifications.
  smtp_smarthost: '{{ alertmanager.smtp.smarthost }}'
  smtp_require_tls: {{ alertmanager.smtp.require_tls }}
  smtp_from: '{{ alertmanager.smtp.from }}'
  smtp_auth_username: '{{ alertmanager.smtp.auth_username }}'
  smtp_auth_password: '{{ alertmanager.smtp.auth_password }}'
{% endif %}

templates:
- '*.tmpl'

inhibit_rules:
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = critical
  target_matchers:
  - severity =~ warning|info
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = warning
  target_matchers:
  - severity = info
- equal:
  - namespace
  source_matchers:
  - alertname = InfoInhibitor
  target_matchers:
  - severity = info

receivers:
- name: "null"
- name: Watchdog
- name: '{{ alertmanager.default_receiver.name }}'
  email_configs:
{% for email_to in alertmanager.default_receiver.emails_to %}
  - to: '{{ email_to }}'
    tls_config:
      ca_file: /etc/alertmanager/secrets/cluster-ca/ca.crt
{% endfor %}

route:
  group_by:
    - namespace
  group_interval: 5m
  group_wait: 30s
  receiver: "{{ alertmanager.default_receiver.name }}"
  repeat_interval: 12h
  routes:
  - matchers:
    - alertname = Watchdog
    receiver: Watchdog
  - matchers:
    - alertname = InfoInhibitor
    receiver: "null"
