apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app: prometheus
    app-component: prometheus
    prometheus: k8s
  name: k8s
  namespace: monitoring
spec:
  alerting:
    alertmanagers:
    - name: alertmanager-main
      namespace: monitoring
      port: web
  baseImage: quay.io/prometheus/prometheus
  version: v2.7.2
  nodeSelector:
    beta.kubernetes.io/os: linux
    capability/general-purpose: 'yes'
  replicas: 1
  externalUrl: https://infra.{{ web_base_domain }}/prometheus/
  resources:
    requests:
      cpu: "{{ prometheus_requests_cpu | default("200m") }}"
      memory: "{{ prometheus_requests_memory | default("512Mi") }}"
    limits:
      cpu: "{{ prometheus_limits_cpu | default("500m") }}"
      memory: "{{ prometheus_limits_memory | default("512Mi") }}"
  ruleSelector:
    matchLabels:
      prometheus: k8s
      role: alert-rules
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus-k8s
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  retention: {{ prometheus_retention | default('7d') }}
  storage:
    volumeClaimTemplate:
      metadata:
        name: prometheus-k8s-pv-claim
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
        resources:
          requests:
            storage: 10G
        selector:
          matchLabels:
            app: prometheus-k8s
            app-component: prometheus
