apiVersion: apps/v1
kind: Deployment
metadata:
  name: ddclient
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ddclient
      app.kubernetes.io/component: ddclient
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ddclient
        app.kubernetes.io/component: ddclient
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 100 # ddclient
        fsGroup: 101 # ddclient
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: ddclient
          image: "registry.lan/ddclient:1.0.0"
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: ddclient-env
            - secretRef:
                name: ddclient-env
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 25m
              memory: 16Mi
            limits:
              cpu: 50m
              memory: 16Mi
          volumeMounts:
            - name: cluster-config
              mountPath: /etc/localtime
              subPath: localtime
              readOnly: true
            - name: tmp-volume
              mountPath: /tmp
      volumes:
        - name: cluster-config
          configMap:
            name: cluster-config
        - name: tmp-volume
          emptyDir: {}
      nodeSelector:
        capability/general-purpose: "yes"
