apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: docker-config
  namespace: {{ application_namespace }}
data:
  .dockerconfigjson: {{ lookup('template', role_path + '/../_base.deploy/templates/namespace/docker_auth.json.j2', convert_data=False) | b64encode }}
