apiVersion: v1
kind: Secret
metadata:
  name: ingress-tls
  namespace: {{ application_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/component: ingress-nginx
data:
  tls.key: {{ ingress_tls_key_file.content }}
  tls.crt: {{ ingress_tls_cert_file.content }}
