apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-log-exporter-config
  namespace: {{ nginx_log_exporter.namespace }}
  labels:
    app.kubernetes.io/name: nginx-log-exporter
    app.kubernetes.io/component: nginx-log-exporter
data:
  prometheus-nginxlog-exporter.yaml: |
    {{ lookup('template', role_path + '/app/config/prometheus-nginxlog-exporter.yaml.j2') | replace('\n', '\n    ') }}
