apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-log-exporter-config
  namespace: {{ nginx_log_exporter.namespace }}
  labels:
    {{ nginx_log_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ nginx_log_exporter.labels_desc | to_nice_yaml() | indent(4) }}
data:
  prometheus-nginxlog-exporter.yaml: |
    {{ lookup('template', role_path + '/app/config/prometheus-nginxlog-exporter.yaml.j2') | replace('\n', '\n    ') }}
