apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: esphome
  namespace: {{ esphome.namespace }}
  labels:
    {{ esphome.labels_def | to_nice_yaml() | indent(4) }}
    {{ esphome.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if esphome.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
{% endif %}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - esphome.home.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: esphome.home.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if esphome.context_root == '' else esphome.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: esphome
            port:
              name: http
