apiVersion: v1
kind: Service
metadata:
  name: esphome
  namespace: {{ esphome.namespace }}
  labels:
    {{ esphome.labels_def | to_nice_yaml() | indent(4) }}
    {{ esphome.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 6052
    name: http
  selector:
    {{ esphome.labels_def | to_nice_yaml() | indent(4) }}
