apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-exporter
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch_exporter.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(8) }}
        {{ elasticsearch_exporter.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: elastic-exporter
        image: "{{ elasticsearch_exporter.private_image | image_full_name }}"
        env:
        - name: "ES_URI"
          value: "https://{{ elasticsearch_exporter.user }}:{{ elasticsearch_exporter.password }}@{{ elasticsearch.servername }}:9200"
        - name: "ES_ALL"
          value: "true"
        - name: "ES_SSL_SKIP_VERIFY"
          value: "false"
        - name: "ES_CA"
          value: "/etc/ssl/cluster/ca.crt"
        securityContext:
          capabilities:
            drop:
            - SETPCAP
            - MKNOD
            - AUDIT_WRITE
            - CHOWN
            - NET_RAW
            - DAC_OVERRIDE
            - FOWNER
            - FSETID
            - KILL
            - SETGID
            - SETUID
            - NET_BIND_SERVICE
            - SYS_CHROOT
            - SETFCAP
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /health
            port: 9114
          initialDelaySeconds: 30
          timeoutSeconds: 10
        ports:
        - containerPort: 9114
          name: metrics
        readinessProbe:
          httpGet:
            path: /health
            port: 9114
          initialDelaySeconds: 10
          timeoutSeconds: 10
        resources:
          requests:
            cpu: "{{ elasticsearch_exporter.container.requests_cpu }}"
            memory: "{{ elasticsearch_exporter.container.requests_memory }}"
          limits:
            cpu: "{{ elasticsearch_exporter.container.limits_cpu }}"
            memory: "{{ elasticsearch_exporter.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      restartPolicy: Always
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
