watchers:

  ###################
  # Native on hosts #
  ###################
  - type: pypi
    package: ansible
    version: 2.10.7
    excludes: 
      - .*[ab][1-9]$
      - .*rc[1-9]$
      - .*2\.[0-9]\..*$


  #################################
  # Installed by ansible on hosts #
  #################################
  - type: github_commit
    repo: spotify/docker-gc
    branch: master
    commit: 1e4dbcf1f683670432914be6701d22a0da82a530
  - type: github_commit
    repo: gluster/gluster-prometheus
    branch: master
    commit: 3ebaacc2c690223f77fc93f5f237ab5065138660
  - type: github_release
    repo: cafebazaar/keepalived-exporter
    release: v1.1.0
  

  ########
  # Misc #
  ########
  - type: docker_registry
    repo: {{ busybox.base_image.repo | default('registry-1.docker.io') }}
    image: {{ busybox.base_image.name }}
    tag: {{ busybox.base_image.tag }}
    includes:
      - "^[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - 1\.[0-2][0-9]\..*
      - 1\.3[0-2]\..*
  

  #########
  # Infra #
  #########
  - type: github_release
    repo: coreos/flannel
    release: v0.13.0
    excludes:
      - .*-rc[0-9]+.*
  - type: github_release
    repo: projectcalico/calico
    release: v3.18.0
    excludes:
      - v3\.1[0-7]\..*
  - type: github_release
    repo: intel/multus-cni
    release: v3.6


  ###############
  # Apps : Auth #
  ###############
  - type: docker_registry
    repo: {{ lemonldap.base_image.repo | default('registry-1.docker.io') }}
    image: {{ lemonldap.base_image.name }}
    tag: {{ lemonldap.base_image.tag }}
    excludes:
      - latest
      - ^1\.
  - type: docker_registry
    repo: {{ openldap.base_image.repo | default('registry-1.docker.io') }}
    image: {{ openldap.base_image.name }}
    tag: {{ openldap.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+-amd64"
    excludes:
      - ^1\.[0-3]\.
  - name: phpLDAPadmin-php
    type: docker_registry
    repo: {{ phpldapadmin.base_image.repo | default('registry-1.docker.io') }}
    image: {{ phpldapadmin.base_image.name }}
    tag: {{ phpldapadmin.base_image.tag }}
    includes:
      - "7.3.[0-9]+-apache-buster"
    excludes:
      - "7.3.[0-9]-apache-buster"
      - "7.3.[01][0-9]-apache-buster"
  - type: github_tag
    repo: leenooks/phpLDAPadmin
    tag: {{ phpldapadmin.version }}
  
  ##############
  # Apps : Dev #
  ##############
  - type: docker_registry
    repo: {{ gitlab.base_image.repo | default('registry-1.docker.io') }}
    image: {{ gitlab.base_image.name }}
    tag: {{ gitlab.base_image.tag }}
    excludes:
      - nightly
      - latest
      - rc
      - .*-rc[0-9]+.*
      - ^[1-9]\.
      - ^1[0-2]\.
      - ^13\.[0-6]\.
  
  ###################
  # Apps : Download #
  ###################
  - name: Deluge Baseimage
    type: docker_registry
    repo: {{ deluge_base.base_image.repo | default('registry-1.docker.io') }}
    image: {{ deluge_base.base_image.name }}
    tag: {{ deluge_base.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+-alpine"
    excludes:
      - ^0\..*
      - ^1\.[01]\..*
      - ^1\.2\.[0-9]-.*
      - ^2\..*
  - name: Deluge
    type: pypi
    package: deluge
    version: {{ deluge.version }}
    excludes: 
      - ^1\..*
  - type: github_commit
    repo: {{ pyload.repo.name }}
    branch: {{ pyload.repo.branch }}
    commit: {{ pyload.repo.commit }}
  - name: SABnzbd Baseimage
    type: docker_registry
    repo: {{ sabnzbd.base_image.repo | default('registry-1.docker.io') }}
    image: {{ sabnzbd.base_image.name }}
    tag: {{ sabnzbd.base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - ^3.[0-7]\..*
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[0-1]
  - name: SABnzbd
    type: github_release
    repo: {{ sabnzbd.repo.name }}
    release: {{ sabnzbd.repo.version }}
    excludes:
      - .*(RC|Alpha|Beta).*
  - name: SABnzbd par2cmdline
    type: github_release
    repo: {{ sabnzbd.par2cmdline.repo.name }}
    release: {{ sabnzbd.par2cmdline.repo.version }}
  - name: SABnzbd nzbToMedia
    type: github_release
    repo: {{ sabnzbd.nzbToMedia.repo.name }}
    release: {{ sabnzbd.nzbToMedia.repo.version }}
  - name: Sickchill Baseimage
    type: docker_registry
    repo: {{ sickchill.base_image.repo | default('registry-1.docker.io') }}
    image: {{ sickchill.base_image.name }}
    tag: {{ sickchill.base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - ^3.[0-8]\..*
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[0-1]
  - type: github_tag
    repo: SickChill/SickChill
    tag: {{ sickchill.version }}
  
  ###############
  # Apps : Home #
  ###############
  - type: docker_registry
    repo: {{ homeassistant.base_image.repo | default('registry-1.docker.io') }}
    image: {{ homeassistant.base_image.name }}
    tag: {{ homeassistant.base_image.tag }}
    includes:
      - ^[0-9][0-9][0-9][0-9]\.[0-9][0-9]\.[0-9]+.*
    excludes:
      - .*dev
      - .*b[0-9]
      - (latest|stable|beta|dev|rc)
      - ^2020\..*
  - type: github_commit
    repo: efficiosoft/ldap-auth-sh
    branch: master
    commit: 819f9233116e68b5af5a5f45167bcbb4ed412ed4
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: {{ homeassistant_mysql.base_image.repo | default('registry-1.docker.io') }}
    image: {{ homeassistant_mysql.base_image.name }}
    tag: {{ homeassistant_mysql.base_image.tag }}
    includes:
      - 5\.[0-9]+\.[0-9]+
    excludes:
      - .*rc.*
      - 5\.[0-6]\..*
      - 5\.7\.[0-9]$
      - 5\.7\.[12][0-9]$
  - type: docker_registry
    repo: {{ mosquitto.base_image.repo | default('registry-1.docker.io') }}
    image: {{ mosquitto.base_image.name }}
    tag: {{ mosquitto.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*-openssl"
    excludes:
      - latest
      - ^1\.
  - type: docker_registry
    repo: {{ nodered.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nodered.base_image.name }}
    tag: {{ nodered.base_image.tag }}
    includes:
      - .*-12-minimal-amd64
    excludes:
      - 1\.0\..*
  - type: github_tag
    repo: vesse/node-ldapauth-fork
    tag: v{{ nodered.additional_modules.ldapauth_fork.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - '.*-rc.*'
  - type: github_tag
    repo: zachowj/node-red-contrib-home-assistant-websocket 
    tag: v{{ nodered.additional_modules.node_red_contrib_home_assistant_websocket.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
  - type: github_tag
    repo: biddster/node-red-contrib-time-range-switch
    tag: {{ nodered.additional_modules.node_red_contrib_time_range_switch.version }}
    includes:
      - '[0-9]+\.[0-9]+\.[0-9]+'
  # TODO : support NPM for nodered.additional_modules.node_red_contrib_stoptimer
  - type: docker_registry
    repo: {{ roomassistant.base_image.repo | default('registry-1.docker.io') }}
    image: {{ roomassistant.base_image.name }}
    tag: {{ roomassistant.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*arm32
      - .*beta.*
      - ^[0-1]\..*
      - ^2\.[0-9]\..*
  - type: docker_registry
    repo: {{ openzwave.base_image.repo | default('registry-1.docker.io') }}
    image: {{ openzwave.base_image.name }}
    tag: {{ openzwave.base_image.tag }}
    includes:
      - "allinone-amd64-"
    excludes:
      - "allinone-amd64-[0-9][0-9]$"
      - "allinone-amd64-1[0-6][0-9]$"

  ################
  # Apps : Infra #
  ################

  - type: github_release
    repo: kubernetes-incubator/metrics-server
    release: {{ kubernetes_metrics_server.base_image.tag }}
    excludes:
      - .*beta.*
  - type: github_release
    repo: kubernetes/dashboard
    release: {{ kubernetes_dashboard.base_image.tag }}
    excludes:
      - .*beta.*
      - .*rc.*
  - type: docker_registry
    repo: {{ docker_registry_ui.base_image.repo | default('registry-1.docker.io') }}
    image: {{ docker_registry_ui.base_image.name }}
    tag: {{ docker_registry_ui.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 0\.[0-8]\.
  - type: docker_registry
    repo: {{ pihole.base_image.repo | default('registry-1.docker.io') }}
    image: {{ pihole.base_image.name }}
    tag: {{ pihole.base_image.tag }}
    includes:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-amd64-buster"
    excludes:
      - v[1-4]\..*
      - v5\.[0-4]\..*
  - type: docker_registry
    repo: {{ gotify.base_image.repo | default('registry-1.docker.io') }}
    image: {{ gotify.base_image.name }}
    tag: {{ gotify.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 1\..*
      - ^2\.0\.[0-9]$
      - ^2\.0\.1[0-9]$
  - type: docker_registry
    name: Gandi LiveDNS Base image
    repo: {{ _gandi_livedns_var_loader.base_image.repo | default('registry-1.docker.io') }}
    image: {{ _gandi_livedns_var_loader.base_image.name }}
    tag: {{ _gandi_livedns_var_loader.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 3\.[0-9]\..*
      - 3\.1[0-2]\..*
  - type: github_release
    repo: kubernetes/ingress-nginx
    release: controller-v0.44.0
    includes:
      - controller-v?[0-9]+\.[0-9]+\.[0-9]+.*
  # nginx-ingress-controller is deployed using manifests generated from kubernetes/ingress-nginx
  #- type: docker_registry
  #  repo: quay.io
  #  image: kubernetes-ingress-controller/nginx-ingress-controller
  #  tag: 0.30.0
  #  excludes:
  #    - .*(alpha|beta).*
  #    - 0\.[0-9]\.
  #    - 0\.1[0-9]\.
  #  includes:
  #    - "[0-9]+\\.[0-9]+\\.[0-9]+"
  - type: docker_registry
    repo: {{ mailhog.base_image.repo | default('registry-1.docker.io') }}
    image: {{ mailhog.base_image.name }}
    tag: {{ mailhog.base_image.tag }}
    excludes:
      - latest
  - type: docker_registry
    repo: {{ docker_registry.base_image.repo | default('registry-1.docker.io') }}
    image: {{ docker_registry.base_image.name }}
    tag: {{ docker_registry.base_image.tag }}
    excludes:
      - latest
      - .*-rc\.[0-9]+
      - 2\.[0-6]\.
    includes:
      - "[2-9]+\\.[0-9]+\\.[0-9]+.*"
  - type: docker_registry
    repo: {{ reloader.base_image.repo | default('registry-1.docker.io') }}
    image: {{ reloader.base_image.name }}
    tag: {{ reloader.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*SNAPSHOT.*
      - ^PR-.*
      - dev
      - v0\.0\.[0-6]?[0-9]$
  - type: docker_registry
    repo: {{ unifi.base_image.repo | default('registry-1.docker.io') }}
    image: {{ unifi.base_image.name }}
    tag: {{ unifi.base_image.tag }}
    includes:
      - "^[0-9]+\\.[0-9]+\\.[0-9]+$"
    excludes:
      - 5\..*
  - name: ZoneMTA
    type: github_tag
    repo: {{ zonemta.repo.name }}
    tag : {{ zonemta.repo.release }}
    includes:
      - ^v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^v1\.1[0-7]\.
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: {{ zonemta_redis.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta_redis.base_image.name }}
    tag: {{ zonemta_redis.base_image.tag }}
    includes:
      - "[6-9]\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: {{ zonemta_mongo.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta_mongo.base_image.name }}
    tag: {{ zonemta_mongo.base_image.tag }}
    includes:
      - 4\.[0-9]+.[0-9]+-bionic
    excludes:
      - 4\.[0-3]\..*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: {{ zonemta.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta.base_image.name }}
    tag: {{ zonemta.base_image.tag }}
    includes:
      - 12\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[01]
      - 12\.[0-9]\..*
      - 12\.1[0-7]\..*
  - type: docker_registry
    repo: {{ intel_gpu_plugin.base_image.repo | default('registry-1.docker.io') }}
    image: {{ intel_gpu_plugin.base_image.name }}
    tag: {{ intel_gpu_plugin.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+"
    excludes:
      - .*-rc.*
      - 0\.1[0-7]\..*
  
  ##################
  # Apps : Logging #
  ##################
  - type: docker_registry
    repo: {{ elasticsearch.base_image.repo | default('registry-1.docker.io') }}
    image: {{ elasticsearch.base_image.name }}
    tag: {{ elasticsearch.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.[0-8]\..*
  - type: docker_registry
    repo: {{ elasticsearch_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ elasticsearch_exporter.base_image.name }}
    tag: {{ elasticsearch_exporter.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.0\..*
      - .*rc.*
  - type: docker_registry
    repo: {{ fluentbit.base_image.repo | default('registry-1.docker.io') }}
    image: {{ fluentbit.base_image.name }}
    tag: {{ fluentbit.base_image.tag }}
    includes:
      - "[1-9]\\.[0-9]+\\.[0-9].*"
    excludes:
      - .*debug.*
      - .*rc.*
      - .*dev.*
      - ^0\.
      - 1\.[0-5]\..*
  - type: docker_registry
    repo: {{ fluentd.base_image.repo | default('registry-1.docker.io') }}
    image: {{ fluentd.base_image.name }}
    tag: {{ fluentd.base_image.tag }}
    includes:
      - v[1-9]\.[0-9]+\.[0-9]+.*debian.*
    excludes:
      - .*(armhf|arm64).*
      - v1\.[0-9]\..*
      - v1\.1[0-1]\..*
  - type: github_tag
    repo: uken/fluent-plugin-elasticsearch
    tag: v{{ fluentd.plugins.elasticsearch.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v[1-3]\..*'
  - type: github_tag
    repo: fluent/fluent-plugin-prometheus
    tag: v{{ fluentd.plugins.prometheus.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v1\.[0-6]\..*'
  - type: github_tag
    repo: bungoume/fluent-plugin-ua-parser
    tag: v{{ fluentd.plugins.ua_parser.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v0\..*'
  - type: github_tag
    repo: ua-parser/uap-core 
    tag: v{{ fluentd.plugins.uap_core.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\.[0-6]\..*
  - type: github_tag
    repo: y-ken/fluent-plugin-geoip
    tag: v{{ fluentd.plugins.geoip.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\..*
  - type: docker_registry
    repo: {{ kibana.base_image.repo | default('registry-1.docker.io') }}
    image: {{ kibana.base_image.name }}
    tag: {{ kibana.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.[0-8]\..*
  
  #####################
  # Apps : Monitoring #
  #####################
  - type: github_commit
    repo: prometheus-operator/kube-prometheus
    branch: master
    commit: 09ca49fce0353a90b63e172ce76435d2f85eccbb
  - type: github_commit
    repo: gluster/gluster-mixins
    branch: master
    commit: a6a02d24ffe92ee38fcfb80f38fc75c4f952e626
  - type: docker_registry
    repo: {{ nginx_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nginx_exporter.base_image.name }}
    tag: {{ nginx_exporter.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+.[0-9]+
    excludes:
      - ^0\.[0-7]\..*
  - type: docker_registry
    repo: {{ nginx_log_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nginx_log_exporter.base_image.name }}
    tag: {{ nginx_log_exporter.base_image.tag }}
    includes:
      - ^v[0-9]+\.[0-9]+.[0-9]+
    excludes:
      - ^v1\.[0-7]\..*
  - type: docker_registry
    repo: {{ pihole_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ pihole_exporter.base_image.name }}
    tag: {{ pihole_exporter.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^0\.0\.[0-8]$
  
  # The monitoring stack is deployed using manifests generated from coreos/kube-prometheus
  #- type: docker_registry
  #  repo: {{ kube_state_metrics.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ kube_state_metrics.base_image.name }}
  #  tag: {{ kube_state_metrics.base_image.tag }}
  #  excludes:
  #    - latest
  #    - .*(alpha|beta|rc).*
  #- type: docker_registry
  #  repo: {{ node_exporter.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ node_exporter.base_image.name }}
  #  tag: {{ node_exporter.base_image.tag }}
  #  excludes:
  #    - .*(alpha|beta|rc).*
  #    - (latest|master)
  #- type: docker_registry
  #  repo: {{ grafana.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ grafana.base_image.name }}
  #  tag: {{ grafana.base_image.tag }}
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^[1-5].*
  #- type: docker_registry
  #  repo: {{ prometheus_operator.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ prometheus_operator.base_image.name }}
  #  tag: {{ prometheus_operator.base_image.tag }}
  #  excludes:
  #    - (master|latest)
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-9]\..*
  #    - ^v0\.2[0-8]\..*
  #- type: docker_registry
  #  repo: {{ prometheus.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ prometheus.base_image.name }}
  #  tag: {{ prometheus.base_image.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v1\..*
  #    - ^v2\.[0-6]\..*
  #- type: docker_registry
  #  repo: {{ alertmanager.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ alertmanager.base_image.name }}
  #  tag: {{ alertmanager.base_image.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-5]\..*
  - type: github_commit
    repo: Neraud/release-watcher
    branch: master
    commit: {{ release_watcher.repo.version }}
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: master
    commit: {{ apcups_exporter.repo.version }}


  #################
  # Apps : Stream #
  #################
  - type: docker_registry
    repo: {{ airsonic.base_image.repo | default('registry-1.docker.io') }}
    image: {{ airsonic.base_image.name }}
    tag: {{ airsonic.base_image.tag }}
    includes:
      - .*-RELEASE
    excludes:
      - 10\.[0-5]\.
  - type: docker_registry
    repo: {{ jellyfin.base_image.repo | default('registry-1.docker.io') }}
    image: {{ jellyfin.base_image.name }}
    tag: {{ jellyfin.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-amd64$
    excludes:
      - ^10\.[0-5]\..*
  - name: Jellyfin inject conf
    type: docker_registry
    repo: {{ jellyfin.conf_injection_base_image.repo | default('registry-1.docker.io') }}
    image: {{ jellyfin.conf_injection_base_image.name }}
    tag: {{ jellyfin.conf_injection_base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - 3\.[0-7]\..*
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[01]
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anime
    tag: {{ jellyfin.plugins.anime.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-ldapauth
    tag: {{ jellyfin.plugins.ldapauth.version }}
  
  ##############
  # Apps : Web #
  ##############
  - name: Homer NGinx
    type: docker_registry
    repo: {{ homer.base_image.repo | default('registry-1.docker.io') }}
    image: {{ homer.base_image.name }}
    tag: {{ homer.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine$
    excludes:
      - ^1\.[0-9]\..*-alpine$
      - ^1\.1[0-8]\..*-alpine$
  - name: Homer
    type: github_release
    repo: bastienwirtz/homer
    release: {{ homer.release }}
    
  - name: TT-RSS PHP
    type: docker_registry
    repo: {{ ttrss.base_image.repo | default('registry-1.docker.io') }}
    image: {{ ttrss.base_image.name }}
    tag: {{ ttrss.base_image.tag }}
    includes:
      - '7\.[0-9]+.[0-9]+-apache-buster'
    excludes:
      - 7\.[0-3]\..*
      - 7\.4\.[0-7]-.*
  - name: TT-RSS
    type: raw_html
    page_url: https://git.tt-rss.org/fox/tt-rss/commits/master
    id: {{ ttrss.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS Data migration
    type: raw_html
    page_url: https://git.tt-rss.org/fox/ttrss-data-migration/commits/master
    id: {{ ttrss.plugins.data_migration.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS Auth LDAP
    type: github_commit
    repo: hydrian/TTRSS-Auth-LDAP
    branch: master
    commit: {{ ttrss.plugins.auth_ldap.commit }}
  - name: TT-RSS Mailer SMTP
    type: raw_html
    page_url: https://git.tt-rss.org/fox/ttrss-mailer-smtp/commits/master
    id: {{ ttrss.plugins.mailer_smtp.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS PostgreSQL
    type: docker_registry
    repo: {{ ttrss_pgsql.base_image.repo | default('registry-1.docker.io') }}
    image: {{ ttrss_pgsql.base_image.name }}
    tag: {{ ttrss_pgsql.base_image.tag }}
    includes:
      - ^12\.[0-9]+(\.[0-9]+)?-alpine
