watchers:

  ###################
  # Native on hosts #
  ###################
  - type: pypi
    package: ansible
    version: 2.8.3
    excludes: 
      - .*[ab][1-9]$
      - .*rc[1-9]$
  
  #################################
  # Installed by ansible on hosts #
  #################################
  - type: github_commit
    repo: Neraud/release-watcher
    branch: master
    commit: {{ release_watcher.repo.version }}
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: master
    commit: {{ apcups_exporter.repo.version }}
  - type: github_commit
    repo: spotify/docker-gc
    branch: master
    commit: 539c30b823f01278a968f6c360c5963e75396f25
  - type: github_commit
    repo: gluster/gluster-prometheus
    branch: master
    commit: 04465afa2405d1b5248beb50dc5fdceb84d2c8ed
  
  ###############
  # Apps : Auth #
  ###############
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ lemonldap.container.from_image }}
    tag: {{ lemonldap.container.from_tag }}
    excludes:
      - latest
      - ^1\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ openldap.container.image }}
    tag: {{ openldap.container.tag }}
    excludes:
      - latest
      - .*-dev
      - ^1\.1\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ phpldapadmin.container.image }}
    tag: {{ phpldapadmin.container.tag }}
    excludes:
      - latest
      - ^0\.[1-7]\.
  
  ##############
  # Apps : Dev #
  ##############
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ gitlab.container.image }}
    tag: {{ gitlab.container.tag }}
    excludes:
      - nightly
      - latest
      - rc
      - .*-rc[0-9]+.*
      - ^[1-9]\.
      - ^1[01]\.
  
  ###################
  # Apps : Download #
  ###################
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ deluge.container.image }}
    tag: {{ deluge.container.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+-
    excludes:
      - amd64-latest
      - amd64-[0-1]\.
  - type: github_commit
    repo: pyload/pyload
    branch: {{ pyload.container.branch }}
    commit: {{ pyload.container.commit }}
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ sabnzbd.container.from_image }}
    tag: {{ sabnzbd.container.from_tag }}
    includes:
      - amd64.*
    excludes:
      - amd64-unstable
      - amd64-latest
      - .*(rc[0-9]|alpha|beta).*
      - amd64-[0-1]\..*
      - amd64-2\.[0-2]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ sickchill.container.image }}
    tag: {{ sickchill.container.tag }}
    includes:
      - amd64.*
    excludes:
      - amd64-latest
  
  ###############
  # Apps : Home #
  ###############
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ homeassistant.container.from_image }}
    tag: {{ homeassistant.container.from_tag }}
    excludes:
      - 0\.[0-8].*
      - 0\.9[0-4].*
      - .*b[0-9]
      - dev
      - rc
      - latest
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: registry-1.docker.io
    image: {{ homeassistant_mysql.container.image }}
    tag: {{ homeassistant_mysql.container.tag }}
    includes:
      - 5\.[0-9]+\.[0-9]+
    excludes:
      - .*rc.*
      - 5\.[0-6]\..*
      - 5\.7\.[0-9]$
      - 5\.7\.1[0-9]$
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ mosquitto.container.image }}
    tag: {{ mosquitto.container.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - ^1\.[0-5]\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ nodered.container.from_image }}
    tag: {{ nodered.container.from_tag }}
    includes:
      - .*-slim-v10
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ roomassistant.container.image }}
    tag: {{ roomassistant.container.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*arm32
      - 0\..*

  ################
  # Apps : Infra #
  ################
  # TODO KO
  #  - type: docker_registry
  #    repo: k8s.gcr.io
  #    image: kubernetes-dashboard-amd64
  #    tag: v1.10.1
  #    excludes:
  #      - .*-beta.*
  #      - canary
  #      - v0\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ docker_registry_ui.container.image }}
    tag: {{ docker_registry_ui.container.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 0\.[0-7]\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ gotify.container.image }}
    tag: {{ gotify.container.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 1\..*
  - type: docker_registry
    repo: quay.io
    image: kubernetes-ingress-controller/nginx-ingress-controller
    # We are using 0.24.1, but the registry API doesn't list this version for some reason.
    # To avoid false positives, we keep 0.24.0 here
    #tag: 0.24.1
    tag: 0.24.0
    excludes:
      - .*(alpha|beta).*
      - 0\.[0-9]\.
      - 0\.1[0-9]\.
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+"
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ mailhog.container.image }}
    tag: {{ mailhog.container.tag }}
    excludes:
      - latest
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ docker_registry.container.image }}
    tag: {{ docker_registry.container.tag }}
    excludes:
      - latest
      - .*-rc\.[0-9]+
      - 2\.[0-6]\.
    includes:
      - "[2-9]+\\.[0-9]+\\.[0-9]+.*"
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ reloader.container.image }}
    tag: {{ reloader.container.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*SNAPSHOT.*
      - ^PR-.*
      - dev
      - v0\.0\.[0-2]?[0-9]$
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ unifi.container.image }}
    tag: {{ unifi.container.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - LTS
      - latest
      - amd64-5\.[0-9]\..*
      - amd64-5\.10\.[01]?[0-9]-.*
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: registry-1.docker.io
    image: {{ zonemta_redis.container.image }}
    tag: {{ zonemta_redis.container.tag }}
    includes:
      - "[5-9]\\.[0-9]+\\.[0-9]+.*alpine3\\.9"
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: registry-1.docker.io
    image: {{ zonemta_mongo.container.image }}
    tag: {{ zonemta_mongo.container.tag }}
    includes:
      - 4\.[0-9]+.[0-9]+-bionic
    excludes:
      - 4\.0\..*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: registry-1.docker.io
    image: {{ zonemta.container.from_image }}
    tag: {{ zonemta.container.from_tag }}
    includes:
      - 10\.[0-9]+\.[0-9]+-alpine
    excludes:
      - 10\.[0-9]\..*
      - 10\.1[0-5]\..*
  
  ##################
  # Apps : Logging #
  ##################
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ elasticsearch.container.image }}
    tag: {{ elasticsearch.container.tag }}
    excludes:
      - latest
      - ^0\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ elasticsearch_exporter.container.image }}
    tag: {{ elasticsearch_exporter.container.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.0\..*
      - .*rc.*
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ fluentbit.container.image }}
    tag: {{ fluentbit.container.tag }}
    includes:
      - "[1-9]\\.[0-9]+\\.[0-9].*"
    excludes:
      - .*debug.*
      - ^0\.
      - 1\.0\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ fluentd.container.from_image }}
    tag: {{ fluentd.container.from_tag }}
    includes:
      - v[1-9]\.[0-9]+\.[0-9]+.*debian.*
    excludes:
      - v1\.[0-4]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ kibana.container.image }}
    tag: {{ kibana.container.tag }}
    excludes:
      - latest
      - ^0\..*
  
  #####################
  # Apps : Monitoring #
  #####################
  - type: github_commit
    repo: coreos/kube-prometheus
    branch: master
    commit: a536114bf3e0e4c8f19a555685e95fb5c11e4ec8
  - type: github_commit
    repo: kubernetes-monitoring/kubernetes-mixin
    branch: master
    commit: 3a6af8f5e9b16441308bcd57ad3f5bcaa03d1d68
  
  # The monitoring stack is deployed using manifests generated from coreos/kube-prometheus
  #- type: docker_registry
  #  repo: {{ kubernetes_exporter_kube_state_metrics.container.repo }}
  #  image: {{ kubernetes_exporter_kube_state_metrics.container.image }}
  #  tag: {{ kubernetes_exporter_kube_state_metrics.container.tag }}
  #  excludes:
  #    - latest
  #    - .*(alpha|beta|rc).*
  #- type: docker_registry
  #  repo: {{ kubernetes_exporter_node_exporter.container.repo }}
  #  image: {{ kubernetes_exporter_node_exporter.container.image }}
  #  tag: {{ kubernetes_exporter_node_exporter.container.tag }}
  #  excludes:
  #    - .*(alpha|beta|rc).*
  #    - (latest|master)
  #- type: docker_registry
  #  repo: registry-1.docker.io
  #  image: {{ grafana.container.image }}
  #  tag: {{ grafana.container.tag }}
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^[1-5].*
  #- type: docker_registry
  #  repo: {{ prometheus_operator.container.repo }}
  #  image: {{ prometheus_operator.container.image }}
  #  tag: {{ prometheus_operator.container.tag }}
  #  excludes:
  #    - (master|latest)
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-9]\..*
  #    - ^v0\.2[0-8]\..*
  #- type: docker_registry
  #  repo: {{ prometheus.container.repo }}
  #  image: {{ prometheus.container.image }}
  #  tag: {{ prometheus.container.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v1\..*
  #    - ^v2\.[0-6]\..*
  #- type: docker_registry
  #  repo: {{ alertmanager.container.repo }}
  #  image: {{ alertmanager.container.image }}
  #  tag: {{ alertmanager.container.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-5]\..*


  #################
  # Apps : Stream #
  #################
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ airsonic.container.image }}
    tag: {{ airsonic.container.tag }}
    includes:
      - .*-RELEASE
    excludes:
      - 10\.[0-3]\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ plex.container.image }}
    tag: {{ plex.container.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+\\..*"
    excludes:
      - 1\.[0-9]\.
      - 1\.1[0-5]\.
  
  ##############
  # Apps : Web #
  ##############
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ heimdall.container.from_image }}
    tag: {{ heimdall.container.from_tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - amd64-[0-1]\.
      - amd64-2\.[0-1]\.
  - type: docker_registry
    repo: registry-1.docker.io
    image: {{ ttrss.container.from_image }}
    tag: {{ ttrss.container.from_tag }}
    includes:
      - amd64.*
    excludes:
      - amd64-latest
