watchers:

  ###################
  # Native on hosts #
  ###################
  - type: pypi
    package: ansible
    version: 2.8.5
    excludes: 
      - .*[ab][1-9]$
      - .*rc[1-9]$
      - .*2\.[0-7]\..*$
  
  #################################
  # Installed by ansible on hosts #
  #################################
  - type: github_commit
    repo: Neraud/release-watcher
    branch: master
    commit: {{ release_watcher.repo.version }}
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: master
    commit: {{ apcups_exporter.repo.version }}
  - type: github_commit
    repo: spotify/docker-gc
    branch: master
    commit: 539c30b823f01278a968f6c360c5963e75396f25
  - type: github_commit
    repo: gluster/gluster-prometheus
    branch: master
    commit: 0d3c2f14b1fc239863c73e733be3c97712abebf1
  

  ########
  # Misc #
  ########
  - type: docker_registry
    repo: {{ busybox.base_image.repo | default('registry-1.docker.io') }}
    image: {{ busybox.base_image.name }}
    tag: {{ busybox.base_image.tag }}
    includes:
      - "^[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - 1\.[0-2][0-9]\..*
      - 1\.30\..*
  

  #########
  # Infra #
  #########
  - type: github_commit
    repo: coreos/flannel
    branch: master
    commit: 862c448ef28fd890e2ac4e5fddc49e7fe9693b31


  ###############
  # Apps : Auth #
  ###############
  - type: docker_registry
    repo: {{ lemonldap.base_image.repo | default('registry-1.docker.io') }}
    image: {{ lemonldap.base_image.name }}
    tag: {{ lemonldap.base_image.tag }}
    excludes:
      - latest
      - ^1\.
  - type: docker_registry
    repo: {{ openldap.base_image.repo | default('registry-1.docker.io') }}
    image: {{ openldap.base_image.name }}
    tag: {{ openldap.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+-amd64"
    excludes:
      - ^1\.1\.
  - name: phpLDAPadmin-php
    type: docker_registry
    repo: {{ phpldapadmin.base_image.repo | default('registry-1.docker.io') }}
    image: {{ phpldapadmin.base_image.name }}
    tag: {{ phpldapadmin.base_image.tag }}
    includes:
      - "7.3.[0-9]+-apache-buster"
  - type: github_tag
    repo: leenooks/phpLDAPadmin
    tag: {{ phpldapadmin.version }}
  
  ##############
  # Apps : Dev #
  ##############
  - type: docker_registry
    repo: {{ gitlab.base_image.repo | default('registry-1.docker.io') }}
    image: {{ gitlab.base_image.name }}
    tag: {{ gitlab.base_image.tag }}
    excludes:
      - nightly
      - latest
      - rc
      - .*-rc[0-9]+.*
      - ^[1-9]\.
      - ^1[01]\.
  
  ###################
  # Apps : Download #
  ###################
  - type: docker_registry
    repo: {{ deluge.base_image.repo | default('registry-1.docker.io') }}
    image: {{ deluge.base_image.name }}
    tag: {{ deluge.base_image.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+-
    excludes:
      - amd64-latest
      - amd64-[0-1]\.
  - type: github_commit
    repo: {{ pyload.repo.name }}
    branch: {{ pyload.repo.branch }}
    commit: {{ pyload.repo.commit }}
  - type: docker_registry
    repo: {{ sabnzbd.base_image.repo | default('registry-1.docker.io') }}
    image: {{ sabnzbd.base_image.name }}
    tag: {{ sabnzbd.base_image.tag }}
    includes:
      - amd64.*
    excludes:
      - amd64-unstable
      - amd64-latest
      - .*(rc[0-9]|alpha|beta).*
      - amd64-[0-1]\..*
      - amd64-2\.[0-2]\..*
  - type: docker_registry
    repo: {{ sickchill.base_image.repo | default('registry-1.docker.io') }}
    image: {{ sickchill.base_image.name }}
    tag: {{ sickchill.base_image.tag }}
    includes:
      - amd64.*
    excludes:
      - amd64-latest
  
  ###############
  # Apps : Home #
  ###############
  - type: docker_registry
    repo: {{ homeassistant.base_image.repo | default('registry-1.docker.io') }}
    image: {{ homeassistant.base_image.name }}
    tag: {{ homeassistant.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - 0\.[0-8].*
      - 0\.9[0-7].*
      - .*dev
      - .*b[0-9]
      - (latest|stable|beta|dev|rc)
  - type: github_commit
    repo: efficiosoft/ldap-auth-sh
    branch: master
    commit: 819f9233116e68b5af5a5f45167bcbb4ed412ed4
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: {{ homeassistant_mysql.base_image.repo | default('registry-1.docker.io') }}
    image: {{ homeassistant_mysql.base_image.name }}
    tag: {{ homeassistant_mysql.base_image.tag }}
    includes:
      - 5\.[0-9]+\.[0-9]+
    excludes:
      - .*rc.*
      - 5\.[0-6]\..*
      - 5\.7\.[0-9]$
      - 5\.7\.1[0-9]$
  - type: docker_registry
    repo: {{ mosquitto.base_image.repo | default('registry-1.docker.io') }}
    image: {{ mosquitto.base_image.name }}
    tag: {{ mosquitto.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - ^1\.[0-5]\.
  - type: docker_registry
    repo: {{ nodered.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nodered.base_image.name }}
    tag: {{ nodered.base_image.tag }}
    includes:
      - .*-slim-v10
  - type: docker_registry
    repo: {{ roomassistant.base_image.repo | default('registry-1.docker.io') }}
    image: {{ roomassistant.base_image.name }}
    tag: {{ roomassistant.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*arm32
      - 0\..*

  ################
  # Apps : Infra #
  ################

  - type: github_release
    repo: kubernetes-incubator/metrics-server
    release: {{ kubernetes_metrics_server.base_image.tag }}
    excludes:
      - .*beta.*
  - type: github_release
    repo: kubernetes/dashboard
    release: {{ kubernetes_dashboard.base_image.tag }}
#    excludes:
#      - .*beta.*
  - type: docker_registry
    repo: {{ docker_registry_ui.base_image.repo | default('registry-1.docker.io') }}
    image: {{ docker_registry_ui.base_image.name }}
    tag: {{ docker_registry_ui.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 0\.[0-7]\.
  - type: docker_registry
    repo: {{ gotify.base_image.repo | default('registry-1.docker.io') }}
    image: {{ gotify.base_image.name }}
    tag: {{ gotify.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 1\..*
  - type: github_release
    repo: kubernetes/ingress-nginx
    release: nginx-0.26.1
  # nginx-ingress-controller is deployed using manifests generated from kubernetes/ingress-nginx
  #- type: docker_registry
  #  repo: quay.io
  #  image: kubernetes-ingress-controller/nginx-ingress-controller
  #  tag: 0.26.1
  #  excludes:
  #    - .*(alpha|beta).*
  #    - 0\.[0-9]\.
  #    - 0\.1[0-9]\.
  #  includes:
  #    - "[0-9]+\\.[0-9]+\\.[0-9]+"
  - type: docker_registry
    repo: {{ mailhog.base_image.repo | default('registry-1.docker.io') }}
    image: {{ mailhog.base_image.name }}
    tag: {{ mailhog.base_image.tag }}
    excludes:
      - latest
  - type: docker_registry
    repo: {{ docker_registry.base_image.repo | default('registry-1.docker.io') }}
    image: {{ docker_registry.base_image.name }}
    tag: {{ docker_registry.base_image.tag }}
    excludes:
      - latest
      - .*-rc\.[0-9]+
      - 2\.[0-6]\.
    includes:
      - "[2-9]+\\.[0-9]+\\.[0-9]+.*"
  - type: docker_registry
    repo: {{ reloader.base_image.repo | default('registry-1.docker.io') }}
    image: {{ reloader.base_image.name }}
    tag: {{ reloader.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*SNAPSHOT.*
      - ^PR-.*
      - dev
      - v0\.0\.[0-2]?[0-9]$
  - type: docker_registry
    repo: {{ unifi.base_image.repo | default('registry-1.docker.io') }}
    image: {{ unifi.base_image.name }}
    tag: {{ unifi.base_image.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - LTS
      - latest
      - amd64-5\.[0-9]\..*
      - amd64-5\.10\.[01]?[0-9]-.*
  - name: ZoneMTA
    type: github_tag
    repo: {{ zonemta.repo.name }}
    tag : {{ zonemta.repo.release }}
    excludes:
      - ^v1\.1[0-5]\.
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: {{ zonemta_redis.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta_redis.base_image.name }}
    tag: {{ zonemta_redis.base_image.tag }}
    includes:
      - "[5-9]\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9]+"
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: {{ zonemta_mongo.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta_mongo.base_image.name }}
    tag: {{ zonemta_mongo.base_image.tag }}
    includes:
      - 4\.[0-9]+.[0-9]+-bionic
    excludes:
      - 4\.0\..*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: {{ zonemta.base_image.repo | default('registry-1.docker.io') }}
    image: {{ zonemta.base_image.name }}
    tag: {{ zonemta.base_image.tag }}
    includes:
      - 12\.[0-9]+\.[0-9]+-alpine[0-9]+\\.[0-9]+"
    excludes:
      - 12\.[0-9]\..*
      - 12\.1[0-2]\..*
  
  ##################
  # Apps : Logging #
  ##################
  - type: docker_registry
    repo: {{ elasticsearch.base_image.repo | default('registry-1.docker.io') }}
    image: {{ elasticsearch.base_image.name }}
    tag: {{ elasticsearch.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
  - type: docker_registry
    repo: {{ elasticsearch_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ elasticsearch_exporter.base_image.name }}
    tag: {{ elasticsearch_exporter.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.0\..*
      - .*rc.*
  - type: docker_registry
    repo: {{ fluentbit.base_image.repo | default('registry-1.docker.io') }}
    image: {{ fluentbit.base_image.name }}
    tag: {{ fluentbit.base_image.tag }}
    includes:
      - "[1-9]\\.[0-9]+\\.[0-9].*"
    excludes:
      - .*debug.*
      - ^0\.
      - 1\.0\..*
  - type: docker_registry
    repo: {{ fluentd.base_image.repo | default('registry-1.docker.io') }}
    image: {{ fluentd.base_image.name }}
    tag: {{ fluentd.base_image.tag }}
    includes:
      - v[1-9]\.[0-9]+\.[0-9]+.*debian.*
    excludes:
      - v1\.[0-4]\..*
  - type: docker_registry
    repo: {{ kibana.base_image.repo | default('registry-1.docker.io') }}
    image: {{ kibana.base_image.name }}
    tag: {{ kibana.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
  
  #####################
  # Apps : Monitoring #
  #####################
  - type: github_commit
    repo: coreos/kube-prometheus
    branch: master
    commit: 21ace9b55e26a257963e67b0dce7e02e6d7d9d7a
  - type: github_commit
    repo: kubernetes-monitoring/kubernetes-mixin
    branch: master
    commit: acac6762be477a7ec16a96ae5222dd365568d87d
  # node_exporter isn't installed using this repo
  # We only use the mixin at https://github.com/prometheus/node_exporter/tree/master/docs/node-mixin
  - type: github_commit
    repo: prometheus/node_exporter
    branch: master
    commit: eeeae46a87ed08cbcb6f5b161d36491e4c741e67
  - type: github_commit
    repo: gluster/gluster-mixins
    branch: master
    commit: a6a02d24ffe92ee38fcfb80f38fc75c4f952e626
  - type: docker_registry
    repo: {{ nginx_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nginx_exporter.base_image.name }}
    tag: {{ nginx_exporter.base_image.tag }}
    excludes:
      - ^0\.[0-3]\..*
  - type: docker_registry
    repo: {{ nginx_log_exporter.base_image.repo | default('registry-1.docker.io') }}
    image: {{ nginx_log_exporter.base_image.name }}
    tag: {{ nginx_log_exporter.base_image.tag }}
    excludes:
      - latest
  
  # The monitoring stack is deployed using manifests generated from coreos/kube-prometheus
  #- type: docker_registry
  #  repo: {{ kube_state_metrics.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ kube_state_metrics.base_image.name }}
  #  tag: {{ kube_state_metrics.base_image.tag }}
  #  excludes:
  #    - latest
  #    - .*(alpha|beta|rc).*
  #- type: docker_registry
  #  repo: {{ node_exporter.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ node_exporter.base_image.name }}
  #  tag: {{ node_exporter.base_image.tag }}
  #  excludes:
  #    - .*(alpha|beta|rc).*
  #    - (latest|master)
  #- type: docker_registry
  #  repo: {{ grafana.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ grafana.base_image.name }}
  #  tag: {{ grafana.base_image.tag }}
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^[1-5].*
  #- type: docker_registry
  #  repo: {{ prometheus_operator.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ prometheus_operator.base_image.name }}
  #  tag: {{ prometheus_operator.base_image.tag }}
  #  excludes:
  #    - (master|latest)
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-9]\..*
  #    - ^v0\.2[0-8]\..*
  #- type: docker_registry
  #  repo: {{ prometheus.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ prometheus.base_image.name }}
  #  tag: {{ prometheus.base_image.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v1\..*
  #    - ^v2\.[0-6]\..*
  #- type: docker_registry
  #  repo: {{ alertmanager.base_image.repo | default('registry-1.docker.io') }}
  #  image: {{ alertmanager.base_image.name }}
  #  tag: {{ alertmanager.base_image.tag }}
  #  includes:
  #    - ^v.*
  #  excludes:
  #    - (master|latest)
  #    - .*(alpha|beta|rc).*
  #    - ^v0\.[0-9]\..*
  #    - ^v0\.1[0-5]\..*


  #################
  # Apps : Stream #
  #################
  - type: docker_registry
    repo: {{ airsonic.base_image.repo | default('registry-1.docker.io') }}
    image: {{ airsonic.base_image.name }}
    tag: {{ airsonic.base_image.tag }}
    includes:
      - .*-RELEASE
    excludes:
      - 10\.[0-3]\.
  - type: docker_registry
    repo: {{ plex.base_image.repo | default('registry-1.docker.io') }}
    image: {{ plex.base_image.name }}
    tag: {{ plex.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+\\..*"
    excludes:
      - 1\.[0-9]\.
      - 1\.1[0-5]\.
  
  ##############
  # Apps : Web #
  ##############
  - type: docker_registry
    repo: {{ heimdall.base_image.repo | default('registry-1.docker.io') }}
    image: {{ heimdall.base_image.name }}
    tag: {{ heimdall.base_image.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - amd64-[0-1]\.
      - amd64-2\.[0-1]\.
  - type: docker_registry
    repo: {{ ttrss.base_image.repo | default('registry-1.docker.io') }}
    image: {{ ttrss.base_image.name }}
    tag: {{ ttrss.base_image.tag }}
    includes:
      - amd64-[0-9]+\.[0-9]+.*
    excludes:
      - amd64-latest
  - name: TT-RSS PostgreSQL
    type: docker_registry
    repo: {{ ttrss_pgsql.base_image.repo | default('registry-1.docker.io') }}
    image: {{ ttrss_pgsql.base_image.name }}
    tag: {{ ttrss_pgsql.base_image.tag }}
    includes:
      - ^11\.[0-9]+(\.[0-9]+)?-alpine

