---
rclone_version: "1.71.2"
unarchive_use_7z: False
backup_scripts_dir: /opt/backups
rclone_backup_scripts_dir: "{{ backup_scripts_dir }}"
rclone_configurations_dir: "{{ rclone_backup_scripts_dir }}/rclone"

rclone_configurations: {}
#  conf-name:
#    type: sftp
#    host: target_host
#    user: target_user
#    key_file: /path/to/.ssh/id_rsa

rclone_configuration_files: {}
# used for example to inject GCP credentials :
#  project-uuid.json: |
#    {
#      "type": "service_account",
#      "project_id": "project",
#       ...
#    }

rclone_backups: []
#  - repo_name: repo
#    target: conf-name:/path/to/root
#    tasks:
#    - source: /path/to/source/dir
#      target: dir
