apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: unifi
  namespace: {{ unifi.namespace }}
  labels:
    app.kubernetes.io/name: unifi
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
    - hosts:
      - infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: unifi.{{ web_base_domain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: unifi-frontend
            servicePort: 443
