kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-unifi
  namespace: {{ unifi.namespace }}
  labels:
    {{ unifi.labels_def | to_nice_yaml() | indent(4) }}
    {{ unifi.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ unifi.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: https
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx

    # Allow private ports from everywhere
    - ports:
        - port: stun
        - port: http-crtl
        - port: https-crtl
        - port: http-portal
        - port: https-portal
        - port: speed-test
        - port: ap-discovery
      from: []
