
apiVersion: v1
kind: Service
metadata:
  name: unifi-frontend
  namespace: {{ unifi.namespace }}
  labels:
    {{ unifi.labels_def | to_nice_yaml() | indent(4) }}
    {{ unifi.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  # Port used for controller GUI/API as seen in a web browser
  - name: https-crtl
    port: 443
    targetPort: 8443
  selector:
    {{ unifi.labels_def | to_nice_yaml() | indent(4) }}
