apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-operator
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ prometheus_operator.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ prometheus_operator.labels_def | to_nice_yaml() | indent(8) }}
        {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - args:
        - --kubelet-service=kube-system/kubelet
        - --logtostderr=true
        - --config-reloader-image=quay.io/coreos/configmap-reload:v0.0.1
        - --prometheus-config-reloader=quay.io/coreos/prometheus-config-reloader:{{ prometheus_operator.base_image.tag }}
        image: "{{ prometheus_operator.container.image }}"
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
        resources:
          limits:
            cpu: {{ prometheus_operator.container.limits_cpu }}
            memory: {{ prometheus_operator.container.limits_memory }}
          requests:
            cpu: {{ prometheus_operator.container.requests_cpu }}
            memory: {{ prometheus_operator.container.requests_memory }}
        securityContext:
          allowPrivilegeEscalation: false
      nodeSelector:
        beta.kubernetes.io/os: linux
        capability/general-purpose: 'yes'
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccountName: prometheus-operator
