apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-operator
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ prometheus_operator.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ prometheus_operator.labels_def | to_nice_yaml() | indent(8) }}
        {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - args:
        - --kubelet-service=kube-system/kubelet
        - --logtostderr=true
        - --config-reloader-image=jimmidyson/configmap-reload:v0.3.0
        - --config-reloader-cpu={{ prometheus_operator.container.config_reloader_cpu }}
        - --config-reloader-memory={{ prometheus_operator.container.config_reloader_memory }}
        - --prometheus-config-reloader=quay.io/coreos/prometheus-config-reloader:{{ prometheus_operator.base_image.tag }}
        image: "{{ prometheus_operator.container.image }}"
        imagePullPolicy: Always
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /healthz
            port: http
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          limits:
            cpu: {{ prometheus_operator.container.limits_cpu }}
            memory: {{ prometheus_operator.container.limits_memory }}
          requests:
            cpu: {{ prometheus_operator.container.requests_cpu }}
            memory: {{ prometheus_operator.container.requests_memory }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      - args:
        - --logtostderr
        - --secure-listen-address=:8443
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
        - --upstream=http://127.0.0.1:8080/
        image: quay.io/coreos/kube-rbac-proxy:v0.4.1
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
        securityContext:
          runAsUser: 65534
      nodeSelector:
        beta.kubernetes.io/os: linux
        capability/general-purpose: 'yes'
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccountName: prometheus-operator
