apiVersion: v1
kind: Secret
metadata:
  name: fluentd-secret
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
data:
  fluentd_shared_key: "{{ fluentd.shared_key | b64encode }}"
