apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: kube-prometheus-rules
  labels:
    {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus.labels_desc | to_nice_yaml() | indent(4) }}
    role: alert-rules
spec:
  groups:
{% for rule_file in prometheus_rules_kube_prometheus  %}
  {{ lookup('file', rule_file) | indent(2) }}
{% endfor %}
