apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: release-watcher-alerts
  labels:
    {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus.labels_desc | to_nice_yaml() | indent(4) }}
    role: alert-rules
spec:
{% raw %}
  groups:
    - name: release-watcher
      rules:
        - alert: ReleaseWatcherMissedReleasesWarning
          annotations:
            message: The application {{ $labels.name }} has {{ $value }} new releases.
          expr: missed_releases > 10
          for: 3m
          labels:
            severity: warning
        - alert: ReleaseWatcherMissedReleasesCritical
          annotations:
            message: The application {{ $labels.name }} has {{ $value }} new releases.
          expr: missed_releases > 25
          for: 5m
          labels:
            severity: critical
{% endraw %}
