apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-certs
  namespace: default
  labels:
    app: mosquitto
    app-component: mosquitto
data:
{% for mosquitto_generated_certificate_file in mosquitto_generated_certificate_files.results %}
  {{ mosquitto_generated_certificate_file.source | basename }}: {{ mosquitto_generated_certificate_file.content }}
{% endfor %}
