apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-certs
  namespace: {{ mosquitto.namespace }}
  labels:
    {{ mosquitto.labels_def | to_nice_yaml() | indent(4) }}
    {{ mosquitto.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for mosquitto_generated_certificate_file in mosquitto_generated_certificate_files.results %}
  {{ mosquitto_generated_certificate_file.source | basename }}: {{ mosquitto_generated_certificate_file.content }}
{% endfor %}
