apiVersion: v1
kind: Secret
metadata:
  name: mosquitto-ca
  namespace: {{ item.1 }}
  labels:
    app: mosquitto
    app-component: mosquitto
data:
{% for mosquitto_generated_certificate_file in mosquitto_generated_certificate_files.results %}
  {% if mosquitto_generated_certificate_file.source | basename == "ca.crt" %}
  {{ mosquitto_generated_certificate_file.source | basename }}: {{ mosquitto_generated_certificate_file.content }}
  {% endif %}
{% endfor %}
