apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: {{ node_exporter.namespace }}
  labels:
    {{ node_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ node_exporter.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  selector:
    matchLabels:
      {{ node_exporter.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ node_exporter.labels_def | to_nice_yaml() | indent(8) }}
        {{ node_exporter.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - args:
        - --web.listen-address=127.0.0.1:9100
        - --path.sysfs=/host/sys
        - --path.rootfs=/host/root
        - --no-collector.wifi
        #- --no-collector.hwmon
        - --collector.filesystem.ignored-mount-points=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/pods/.+)($|/)
        - --collector.netclass.ignored-devices=^(veth.*|[a-z0-9]+@if\d+)$
        - --collector.netdev.device-exclude=^(veth.*|[a-z0-9]+@if\d+)$
        - --collector.textfile.directory=/var/lib/node_exporter/textfile_collector
        image: "{{ node_exporter.container.image }}"
        imagePullPolicy: Always
        name: node-exporter
        readinessProbe:
          httpGet:
            path: /
            host: 127.0.0.1
            port: 9100
          initialDelaySeconds: 3
          periodSeconds: 5
        securityContext:
          readOnlyRootFilesystem: true
        resources:
          limits:
            cpu: {{ node_exporter.container.limits_cpu }}
            memory: {{ node_exporter.container.limits_memory }}
          requests:
            cpu: {{ node_exporter.container.requests_cpu }}
            memory: {{ node_exporter.container.requests_memory }}
        volumeMounts:
        - mountPath: /host/sys
          mountPropagation: HostToContainer
          name: sys
          readOnly: true
        - mountPath: /host/root
          mountPropagation: HostToContainer
          name: root
          readOnly: true
        - mountPath: /var/lib/node_exporter/textfile_collector
          name: textfile-collector-volume
          readOnly: true
      - args:
        - --logtostderr
        - --secure-listen-address=[$(IP)]:9100
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - --upstream=http://127.0.0.1:9100/
        env:
        - name: IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        image: "{{ node_exporter_rbac_proxy.container.image }}"
        imagePullPolicy: Always
        name: kube-rbac-proxy
        ports:
        - containerPort: 9100
          hostPort: 9100
          name: https
        #readinessProbe:
        #  # We can't use httpGet -> we'll get a 401 and the probe will think it's down
        #  # We can't use tcpSocket -> it floods the logs with "TLS handshake error from ...: EOF"
        #  # We can't use exec -> it randomly fails with an issue to find /bin/sh (which indeed isn't in the container)"
        #  exec:
        #    command:
        #    - /bin/sh
        #    - -c 
        #    - "test \"$(wget --server-response --spider --quiet --no-check-certificate https://$IP:9100/ 2>&1 | awk 'NR==1 {print $2}')\" == \"401\""
        resources:
          limits:
            cpu: {{ node_exporter_rbac_proxy.container.limits_cpu }}
            memory: {{ node_exporter_rbac_proxy.container.limits_memory }}
          requests:
            cpu: {{ node_exporter_rbac_proxy.container.requests_cpu }}
            memory: {{ node_exporter_rbac_proxy.container.requests_memory }}
        securityContext:
          runAsGroup: 65532
          runAsNonRoot: true
          runAsUser: 65532
          readOnlyRootFilesystem: true
      hostNetwork: true
      hostPID: true
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        kubernetes.io/os: linux
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccountName: node-exporter
      tolerations:
      - operator: Exists
      volumes:
      - hostPath:
          path: /sys
        name: sys
      - hostPath:
          path: /
        name: root
      - name: textfile-collector-volume
        hostPath:
          path: /var/lib/node_exporter/textfile_collector
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 10%
    type: RollingUpdate
