kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-node-exporter
  namespace: {{ node_exporter.namespace }}
  labels:
    app.kubernetes.io/name: node-exporter
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: node-exporter
      app.kubernetes.io/component: node-exporter

#  # node-exporter runs with `hostNetwork: true`, so NetworkPolicies don't apply
#  ingress:
#    # Allow from prometheus
#    - ports:
#        - port: https
#      from:
#        - namespaceSelector:
#            matchLabels:
#              name: {{ prometheus.namespace }}
#          podSelector:
#            matchLabels:
#              app.kubernetes.io/name: prometheus
#              prometheus: k8s
