apiVersion: v1
kind: Secret
metadata:
  name: gandi-livedns
  namespace: {{ gandi_livedns.namespace }}
  labels:
    {{ gandi_livedns.labels_def | to_nice_yaml() | indent(4) }}
    {{ gandi_livedns.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  APIKEY: {{ gandi_livedns.api_key | b64encode }}
  DOMAIN: {{ gandi_livedns.domain | b64encode }}
  RECORD_LIST: {{ gandi_livedns.records | join(';') | b64encode }}
