apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.name }}
{% if item.labels | default([]) | length > 0%}
  labels: 
{% for label_name, label_value in item.labels.items() %}
    {{ label_name }}: {{ label_value }}
{% endfor %}
{% endif %}
spec:
  capacity:
    storage: {{ item.capacity }}
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: {{ item.reclaim_policy }}
  storageClassName: {{ item.storage_class }}
  local:
    path: /dev/kubernetes_vg/{{ item.name }}
{% if item.affinity is defined %}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ item.affinity.hostname }}
{% endif %}
