
kind: Service
apiVersion: v1
metadata:
  name: gluster-exporter
  namespace: monitoring
  labels:
    app: gluster-exporter
    prometheus-target: gluster-exporter
spec:
  ports:
  - name: metrics
    port: {{ gluster_exporter_port }}
    targetPort: metrics
