apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: airsonic
  namespace: {{ airsonic.namespace }}
  labels:
    {{ airsonic.labels_def | to_nice_yaml() | indent(4) }}
    {{ airsonic.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Stream
    gethomepage.dev/name: Airsonic
    gethomepage.dev/description: Music streaming
    gethomepage.dev/icon: airsonic
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=airsonic"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - airsonic.stream.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: airsonic.stream.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if airsonic.context_root == '' else airsonic.context_root }}
        pathType: Prefix
        backend:
          service:
            name: airsonic
            port:
              number: 80
