apiVersion: v1
kind: Service
metadata:
  name: airsonic
  namespace: {{ airsonic.namespace }}
  labels:
    {{ airsonic.labels_def | to_nice_yaml() | indent(4) }}
    {{ airsonic.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    targetPort: 4040
  selector:
    {{ airsonic.labels_def | to_nice_yaml() | indent(4) }}
