apiVersion: v1
kind: Secret
metadata:
  name: openldap-config
  namespace: {{ openldap.namespace }}
  labels:
    app: openldap
    app-component: openldap
data:
{% for openldap_config_file in openldap_config_files %}
  {{ openldap_config_file | basename | replace(".j2", "") }}: {{ lookup(openldap_config_file | regex_search('.j2$') | ternary('template','file'), openldap_config_file) | b64encode }}
{% endfor %}
