apiVersion: v1
kind: Secret
metadata:
  name: openldap-certs
  namespace: {{ openldap.namespace }}
  labels:
    {{ openldap.labels_def | to_nice_yaml() | indent(4) }}
    {{ openldap.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for openldap_generated_certificate_file in openldap_generated_certificate_files.results %}
  {{ openldap_generated_certificate_file.source | basename }}: {{ openldap_generated_certificate_file.content }}
{% endfor %}
