apiVersion: v1
kind: Secret
metadata:
  name: openldap-certs
  namespace: {{ openldap.namespace }}
  labels:
    app: openldap
    app-component: openldap
data:
{% for openldap_generated_certificate_file in openldap_generated_certificate_files.results %}
  {{ openldap_generated_certificate_file.source | basename }}: {{ openldap_generated_certificate_file.content }}
{% endfor %}
