apiVersion: v1
kind: Service
metadata:
  name: openldap
  namespace: {{ openldap.namespace }}
  labels:
    app: openldap
spec:
  ports:
  - port: 389
    name: ldap
  - port: 636
    name: ldaps
  selector:
    app: openldap
    app-component: openldap
