apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: gitlab
  namespace: default
  labels:
    app: gitlab
    app-component: gitlab
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: gitlab
      app-component: gitlab
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: gitlab
        app-component: gitlab
    spec:
      containers:
      - image: gitlab/gitlab-ce:11.7.5-ce.0
        name: gitlab
        ports:
        - containerPort: 80
          name: gitlab
        - containerPort: 9168
          name: gitlab-metrics
        - containerPort: 9236
          name: gitaly-metrics
        - containerPort: 9100
          name: nodeexp-metrics
        - containerPort: 9121
          name: redis-metrics
        - containerPort: 9187
          name: postgre-metrics
        resources:
          requests:
            cpu: "{{ gitlab_requests_cpu | default("500m") }}"
            memory: "{{ gitlab_requests_memory | default("3072Mi") }}"
          limits:
            cpu: "{{ gitlab_limits_cpu | default("2000m") }}"
            memory: "{{ gitlab_limits_memory | default("3072Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: certs-volume
          mountPath: /etc/openldap/server/ca.crt
          subPath: ca.crt
        - name: gitlab-config-pv-claim
          mountPath: /etc/gitlab
        - name: gitlab-data-pv-claim
          mountPath: /var/opt/gitlab
        - name: gitlab-config-volume
          mountPath: /etc/gitlab/gitlab.rb
          subPath: gitlab.rb
        - name: smtp-certs-volume
          mountPath: /etc/gitlab/smtp-certs/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: gitlab-config-volume
        configMap:
          name: gitlab
      - name: certs-volume
        secret:
          secretName: cluster-ca
      - name: smtp-certs-volume
        secret:
          secretName: zonemta-ca
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: gitlab-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 8M
      selector:
        matchLabels:
          app: gitlab
          app-component: gitlab
          storage: config
  - metadata:
      name: gitlab-data-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 2G
      selector:
        matchLabels:
          app: gitlab
          app-component: gitlab
          storage: data
