apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: intel-gpu-plugin
  namespace: {{ intel_gpu_plugin.namespace }}
  labels:
    {{ intel_gpu_plugin.labels_def | to_nice_yaml() | indent(4) }}
    {{ intel_gpu_plugin.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ intel_gpu_plugin.labels_def | to_nice_yaml() | indent(6) }}
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        {{ intel_gpu_plugin.labels_def | to_nice_yaml() | indent(8) }}
        {{ intel_gpu_plugin.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: intel-gpu-plugin
        image: "{{ intel_gpu_plugin.container.image }}"
        imagePullPolicy: Always
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        securityContext:
          #runAsNonRoot: true
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: devfs
          mountPath: /dev/dri
          readOnly: true
        - name: sysfs
          mountPath: /sys/class/drm
          readOnly: true
        - name: kubeletsockets
          mountPath: /var/lib/kubelet/device-plugins
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: devfs
        hostPath:
          path: /dev/dri
      - name: sysfs
        hostPath:
          path: /sys/class/drm
      - name: kubeletsockets
        hostPath:
          path: /var/lib/kubelet/device-plugins
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/gpu: 'intel'
