# This file only contains a subset of available configurations
# It isn't used directly by Sickchill, but it's merged in the complete config file

[General]
web_host = 0.0.0.0
web_port = 8081
web_root = {{ sickchill_context_root }}
web_password = ""
web_username = ""

enable_https = 0
https_cert = server.crt
https_key = server.key

# accept the following reverse proxy headers (advanced) (X-Forwarded-For, X-Forwarded-Host, and X-Forwarded-Proto)
handle_reverse_proxy = 1

# verify SSL Certificates (Disable this for broken SSL installs (Like QNAP))
ssl_verify = 1

root_dirs = 1|/mnt/multimedia/Anime|/mnt/multimedia/TV Shows
tv_download_dir = /mnt/download/done

# enable debug logs
debug = 0
# enable logs from the internal Tornado web server
web_log = 0
log_dir = Logs
log_size = 10.0
log_nr = 5

[Email]
#use_email = 0
#email_notify_onsnatch = 0
#email_notify_ondownload = 0
#email_notify_onsubtitledownload = 0
email_tls = {{ sickchill_smtp_tls | ternary(1, 0) }}
email_host = "{{ sickchill_smtp_host }}"
email_port = {{ sickchill_smtp_port }}
email_user = "{{ sickchill_smtp_user }}"
email_password = "{{ sickchill_smtp_password }}"
email_from = "{{ sickchill_smtp_from }}"
#email_list = ""
#email_subject = ""
