apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab
  namespace: default
  labels:
    app: gitlab
    app-component: gitlab
data:
  gitlab.rb: |
    {{ lookup('template', role_path + '/app/config/gitlab.rb.j2') | replace('\n', '\n    ') }}
