apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: gitlab
  namespace: {{ gitlab.namespace }}
  labels:
    app.kubernetes.io/name: gitlab
spec:
  tls:
    - hosts:
      - dev.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: dev.{{ web_base_domain }}
    http:
      paths:
        - path: {{ gitlab.context_path }}
          backend:
            serviceName: gitlab
            servicePort: 80
