apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitlab
  namespace: {{ gitlab.namespace }}
  labels:
    {{ gitlab.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitlab.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  tls:
    - hosts:
      - dev.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: dev.{{ web_base_domain }}
    http:
      paths:
      - path: {{ gitlab.context_path }}
        pathType: Prefix
        backend:
          service:
            name: gitlab
            port:
              number: 80
