apiVersion: v1
kind: Service
metadata:
  name: gitlab
  namespace: {{ gitlab.namespace }}
  labels:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/component: gitlab
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/component: gitlab
