apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: gitlab
  namespace: {{ gitlab.namespace }}
  labels:
    {{ gitlab.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitlab.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ gitlab.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ gitlab.labels_def | to_nice_yaml() | indent(8) }}
        {{ gitlab.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: gitlab
        image: "{{ gitlab.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: gitlab
        - containerPort: 8060
          name: nginx-metrics
        - containerPort: 9121
          name: redis-metrics
        - containerPort: 9187
          name: pg-metrics
        - containerPort: 9229
          name: wh-metrics
        - containerPort: 8080
          name: rails
        - containerPort: 8082
          name: sidekiq
        - containerPort: 9168
          name: gitlab-monitor
        - containerPort: 9236
          name: gitaly-metrics
        securityContext:
          # TODO : gitlab requires to run as root for now :/
          #runAsNonRoot: true
          #runAsUser: xxxx
          #runAsGroup: xxxx
          #readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ gitlab.context_path }}/-/readiness
            port: gitlab
          initialDelaySeconds: 15
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ gitlab.container.requests_cpu }}"
            memory: "{{ gitlab.container.requests_memory }}"
          limits:
            cpu: "{{ gitlab.container.limits_cpu }}"
            memory: "{{ gitlab.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
        - name: gitlab-config-pv-claim
          mountPath: /etc/gitlab
        - name: gitlab-data-pv-claim
          mountPath: /var/opt/gitlab
        - name: gitlab-config-volume
          mountPath: /etc/gitlab/gitlab.rb
          subPath: gitlab.rb
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: gitlab-config-volume
        configMap:
          name: gitlab
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: gitlab-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 8M
      selector:
        matchLabels:
          {{ gitlab.labels_def | to_nice_yaml() | indent(10) }}
          storage: config
  - metadata:
      name: gitlab-data-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          {{ gitlab.labels_def | to_nice_yaml() | indent(10) }}
          storage: data
