---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/bookmarks

- Developer:
    - Github:
        - abbr: GH
          icon: mdi-github
          href: "https://github.com/Neraud/home-server"
