---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

{% if homepage.config.external_services | length > 0 %}
{{ homepage.config.external_services | to_nice_yaml() }}
{% endif %}
