---
title: {{ homepage.config.title }}

base: https://homepage.tool.{{ web_base_domain }}

target: _blank

layout:
  Cluster Management:
    icon: mdi-server
  Monitoring:
    icon: mdi-heartbeat
  Auth:
    icon: mdi-at
  Tools:
    icon: mdi-toolbox
  Home:
    icon: mdi-home
  Dev:
    icon: mdi-dev
  Download:
    icon: mdi-download
  Stream:
    icon: mdi-stream
{% if homepage.config.external_categories.keys() | length > 0 %}
  {{ homepage.config.external_categories | to_nice_yaml() | indent(2) }}
{% endif %}

providers:
  longhorn:
    url: http://longhorn-frontend.longhorn-system.svc.cluster.local
