---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/widgets

- greeting:
    text_size: sm
    text: "{{ homepage.config.greeting }}"
- datetime:
    format:
      timeStyle: short
      hour12: false
