---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/widgets

{% if homepage.config.greeting | length > 0 %}
- greeting:
    text_size: sm
    text: "{{ homepage.config.greeting }}"
{% endif %}
{% if homepage.config.unifi.enabled %}
- unifi_console:
    url: https://unifi-frontend.infra-unifi.svc.cluster.local:443
    username: {{ homepage.config.unifi.username }}
    password: {{ homepage.config.unifi.password }}
{% endif %}
- kubernetes:
    cluster:
      # Shows the cluster node
      show: true
      # Shows the aggregate CPU stats
      cpu: true
      # Shows the aggregate memory stats
      memory: true
      # Shows a custom label
      showLabel: true
      label: "cluster"
    nodes:
      # Shows the clusters
      show: false
      # Shows the CPU for each node
      cpu: true
      # Shows the memory for each node
      memory: true
      # Shows the label, which is always the node name
      showLabel: true
- longhorn:
    # Show the expanded view
    expanded: true
    # Shows a node representing the aggregate values
    total: true
    # Shows the node names as labels
    labels: true
    # Show the nodes
    nodes: false
- datetime:
    format:
      timeStyle: short
      hour12: false
