apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ttrss
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  tls:
    - hosts:
      - ttrss.web.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: ttrss.web.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if ttrss.context_root == '' else ttrss.context_root }}
        pathType: Prefix
        backend:
          service:
            name: ttrss
            port:
              name: ttrss
