apiVersion: v1
kind: Secret
metadata:
  name: ttrss-pgsql-pass
  namespace: {{ ttrss.namespace }}
  labels:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: pgsql
type: Opaque
data:
  password: {{ ttrss_pgsql.password | b64encode }}
