apiVersion: v1
kind: ConfigMap
metadata:
  name: ttrss-pgsql-init
  namespace: {{ ttrss.namespace }}
  labels:
    app: ttrss
    app-component: pgsql
data:
  init-ttrss-schema.sql:  |
    {{ lookup('file', ttrss_pgsql.schema_path_temp)  | replace('\n', '\n    ') }}
