apiVersion: v1
kind: ConfigMap
metadata:
  name: ttrss-pgsql-init
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
data:
  init-ttrss-schema.sql:  |
    {# Without the user-agent, this gets blocked by a 403 #}
    {{ lookup('url', ttrss_pgsql.schema_url, headers={'User-Agent':'ansible-httpget'})  | replace('\n', '\n    ') }}
