apiVersion: v1
kind: Service
metadata:
  name: ttrss-pgsql
  namespace: {{ ttrss.namespace }}
  labels:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: pgsql
spec:
  clusterIP: None
  ports:
  - port: 5432
  selector:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: pgsql
