apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ttrss-pgsql
  namespace: {{ ttrss.namespace }}
  labels:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: pgsql
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ttrss
      app.kubernetes.io/component: pgsql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ttrss
        app.kubernetes.io/component: pgsql
    spec:
      containers:
      - image: "{{ ttrss_pgsql.container.image }}"
        name: pgsql
        env:
        - name: POSTGRES_USER
          value: {{ ttrss_pgsql.user }}
        - name: POSTGRES_DB
          value: {{ ttrss_pgsql.database }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ttrss-pgsql-pass
              key: password
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        ports:
        - containerPort: 5432
          name: pgsql
        resources:
          requests:
            cpu: "{{ ttrss_pgsql.container.requests_cpu }}"
            memory: "{{ ttrss_pgsql.container.requests_memory }}"
          limits:
            cpu: "{{ ttrss_pgsql.container.limits_cpu }}"
            memory: "{{ ttrss_pgsql.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: ttrss-pgsql-pv-claim
          mountPath: /var/lib/postgresql/data
        - name: ttrss-pgsql-init
          mountPath: /docker-entrypoint-initdb.d/
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: ttrss-pgsql-init
        configMap:
          name: ttrss-pgsql-init
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: ttrss-pgsql-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          app.kubernetes.io/name: ttrss
          app.kubernetes.io/component: pgsql
