apiVersion: v1
kind: Secret
metadata:
  name: ttrss-pgsql-pass
  namespace: {{ ttrss.namespace }}
  labels:
    app: ttrss
    app-component: pgsql
type: Opaque
data:
  password: {{ ttrss_pgsql.password | b64encode }}
