apiVersion: v1
kind: Service
metadata:
  name: ttrss-pgsql
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  clusterIP: None
  ports:
  - port: 5432
  selector:
    {{ ttrss_pgsql.labels_def | to_nice_yaml() | indent(4) }}
