apiVersion: v1
kind: ConfigMap
metadata:
  name: ttrss-config
  namespace: {{ ttrss.namespace }}
  labels:
    app: ttrss
    app-component: ttrss
data:
  nginx_site.conf:  |
    {{ lookup('template', role_path + '/app/config/nginx_site.conf.j2')  | replace('\n', '\n    ') }}
  config.php:  |
    {{ lookup('template', role_path + '/app/config/config.php.j2')  | replace('\n', '\n    ') }}
