apiVersion: v1
kind: Service
metadata:
  name: ttrss
  namespace: {{ ttrss.namespace }}
  labels:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: ttrss
spec:
  ports:
  - port: 80
  selector:
    app.kubernetes.io/name: ttrss
    app.kubernetes.io/component: ttrss
