apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ttrss-data-pv-claim
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  accessModes: [ "ReadWriteMany" ]
  storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
  resources:
    requests:
        storage: 32M
  selector:
    matchLabels:
      {{ ttrss.labels_def | to_nice_yaml() | indent(6) }}
