apiVersion: v1
kind: Service
metadata:
  name: ttrss
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss.labels_web_def | to_nice_yaml() | indent(4) }}
    {{ ttrss.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 8080
    name: ttrss
  selector:
    {{ ttrss.labels_web_def | to_nice_yaml() | indent(4) }}
