apiVersion: apps/v1
kind: Deployment
metadata:
  name: ttrss
  namespace: {{ ttrss.namespace }}
  labels:
    app: ttrss
    app-component: ttrss
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: ttrss
      app-component: ttrss
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ttrss
        app-component: ttrss
    spec:
      containers:
      - image: "{{ ttrss.container.image }}"
        name: ttrss
        ports:
        - containerPort: 80
          name: ttrss
        resources:
          requests:
            cpu: "{{ ttrss.container.requests_cpu }}"
            memory: "{{ ttrss.container.requests_memory }}"
          limits:
            cpu: "{{ ttrss.container.limits_cpu }}"
            memory: "{{ ttrss.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: ttrss-config
          mountPath: /config/nginx/site-confs/default
          subPath: nginx_site.conf
        - name: ttrss-config
          mountPath: /config/config.php
          subPath: config.php
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: ttrss-config
        configMap:
          name: ttrss-config
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/general-purpose: 'yes'
