

listen:
  port: 4040
  address: "0.0.0.0"

consul:
  enable: false

namespaces:
  - name: default
    format: "{{ nginx_log_exporter.default_log_format | replace('"', '\\"') }}"
    #histogram_buckets: [.005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10]
    source_files:
      - {{ nginx_log_exporter.container.logs_mount_point }}/access.log
      - {{ nginx_log_exporter.container.logs_mount_point }}/default-site_access.log
      - {{ nginx_log_exporter.container.logs_mount_point }}/default-site_ssl_access.log
{% for site in nginx_log_exporter.sites %}
  - name: {{ site.name | replace('-', '_') }}
    format: "{{ nginx_log_exporter.default_log_format | replace('"', '\\"') }}"
    {% if site.labels | default({}) | dict2items | length > 0 %}
    labels:
      {{ site.labels | to_nice_yaml(indent=6) }}
    {% endif %}
    #histogram_buckets: [.005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10]
    source_files:
      - {{ nginx_log_exporter.container.logs_mount_point }}/{{ site.name }}_access.log
      - {{ nginx_log_exporter.container.logs_mount_point }}/{{ site.name }}_ssl_access.log
{% endfor %}
