
kind: Service
apiVersion: v1
metadata:
  name: gluster-exporter
  namespace: {{ gluster_exporter.namespace }}
  labels:
    {{ gluster_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ gluster_exporter.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: gluster-exporter
spec:
  ports:
  - name: metrics
    port: {{ gluster_exporter.port }}
    targetPort: metrics
