apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch.labels_desc | to_nice_yaml() | indent(4) }}
data:
  opensearch.yml: |
    {{ lookup('template', role_path + '/app/config/opensearch.yml.j2') | replace('\n', '\n    ') }}
