kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-elasticsearch
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ elasticsearch.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    - ports:
        - port: web
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from the prometheus_exporter
        - podSelector:
            matchLabels:
              {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from kibana
        - namespaceSelector:
            matchLabels:
              name: {{ kibana.namespace }}
          podSelector:
            matchLabels:
              {{ kibana.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from fluentd
        - namespaceSelector:
            matchLabels:
              name: {{ fluentd.namespace }}
          podSelector:
            matchLabels:
              {{ fluentd.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from crowdsec LAPI
        - namespaceSelector:
            matchLabels:
              name: {{ crowdsec.namespace }}
          podSelector:
            matchLabels:
              {{ crowdsec_lapi.labels_def | to_nice_yaml() | indent(14) }}

    # Allow from elasticsearch nodes
    - ports:
        - port: inter-node
      from:
        - podSelector:
            matchLabels:
              {{ elasticsearch.labels_def | to_nice_yaml() | indent(14) }}

---

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-elasticsearch-exporter
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch_exporter.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ elasticsearch_exporter.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow metrics from Prometheus
    - ports:
        - port: metrics
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              {{ prometheus.labels_def | to_nice_yaml() | indent(14) }}
