apiVersion: v1
kind: Service
metadata:
  name: nginx-exporter-prometheus
  namespace: {{ nginx_exporter.namespace }}
  labels:
    {{ nginx_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ nginx_exporter.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: nginx-exporter
spec:
  ports:
    - port: 9113
      name: metrics
      targetPort: metrics
  selector:
    {{ nginx_exporter.labels_def | to_nice_yaml() | indent(4) }}
