---
- name: Deploy Host backup scripts
  ansible.builtin.template:
    src: "restic_backup_host.sh.j2"
    dest: "{{ restic_backup_scripts_dir }}/restic_backup_host.sh"
    mode: 0700
  when: restic_backup_host_enabled

- name: Ensure Host backup scripts are absent
  ansible.builtin.file:
    path: "{{ restic_backup_scripts_dir }}/restic_backup_host.sh"
    state: absent
  when: not restic_backup_host_enabled

- name: Deploy Host backup systemd unit and timer
  ansible.builtin.template:
    src: "systemd/{{ item }}.j2"
    dest: "/etc/systemd/system/{{ item }}"
    mode: 0700
  loop:
    - restic_backup_host.service
    - restic_backup_host.timer
  notify: Reload systemd daemon
  when:
    - schedule_with_systemd
    - restic_backup_host_enabled and restic_backup_hosts_timer is defined

- name: Enable Host backup systemd timer
  ansible.builtin.systemd:
    name: restic_backup_host.timer
    state: started
    enabled: yes
  when:
    - schedule_with_systemd
    - restic_backup_host_enabled and restic_backup_hosts_timer is defined

- name: Ensure Host backup systemd unit and timer are not deployed
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ item }}"
    state: absent
  loop:
    - restic_backup_host.service
    - restic_backup_host.timer
  when:
    - schedule_with_systemd
    - not restic_backup_host_enabled or not restic_backup_hosts_timer
