apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: grafana
  name: grafana
  namespace: monitoring
spec:
  endpoints:
  - interval: {{ (15 * service_monitors.interval_factor | float) | int }}s
    port: http
  selector:
    matchLabels:
      prometheus-target: grafana
