apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: metallb
  name: metallb-controller
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: monitoring
  namespaceSelector:
    matchNames:
    - metallb-system
  selector:
    matchLabels:
      prometheus-target: metallb-controller

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: metallb
  name: metallb-speaker
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: monitoring
  namespaceSelector:
    matchNames:
    - metallb-system
  selector:
    matchLabels:
      prometheus-target: metallb-speaker
