apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: release-watcher
  name: release-watcher
  namespace: monitoring
spec:
  endpoints:
    - interval: {{ (120 * service_monitors.interval_factor | float) | int }}s
      port: metrics
  namespaceSelector:
    matchNames:
      - {{ release_watcher.namespace }}
  selector:
    matchLabels:
      prometheus-target: release-watcher
