apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{ release_watcher.labels_def | to_nice_yaml() | indent(4) }}
    {{ release_watcher.labels_desc | to_nice_yaml() | indent(4) }}
  name: release-watcher
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
    - interval: {{ (120 * service_monitors.interval_factor | float) | int }}s
      port: metrics
  namespaceSelector:
    matchNames:
      - {{ release_watcher.namespace }}
  selector:
    matchLabels:
      prometheus-target: release-watcher
