
apiVersion: v1
kind: Service
metadata:
  name: unifi-private
  namespace: default
  labels:
    app: unifi
    app-component: unifi
spec:
{% if unifi_private_ip is defined %}
  externalIPs:
  - {{ unifi_private_ip }}
{% endif %}
  ports:
  # Port used for STUN.
  - name: stun
    port: 3478
    targetPort: 3478
    protocol: UDP
  # Port used for device and controller communication.
  - name: http-controller
    port: 8080
    targetPort: 8080
    protocol: TCP
  # Port used for controller GUI/API as seen in a web browser
  - name: https-controller
    port: 8443
    targetPort: 8443
  # Port used for HTTP portal redirection.
  - name: http-portal
    port: 8880
    targetPort: 8880
    protocol: TCP
  # Port used for HTTPS portal redirection.
  - name: https-portal
    port: 8843
    targetPort: 8843
    protocol: TCP
  # Port used for UniFi mobile speed test.
  - name: speed-test
    port: 6789
    targetPort: 6789
    protocol: TCP
  # Port used for AP discovery
  - name: ap-discovery
    port: 10001
    targetPort: 10001
    protocol: UDP
  selector:
    app: unifi
    app-component: unifi
