kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-prometheus-k8s
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}


  ingress:
    # Allow from the ingress controller
    - ports:
        - port: web
      from:
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}

    # Allow from alertmanager
    - ports:
        - port: web
      from:
        - podSelector:
            matchLabels:
              {{ alertmanager.labels_def | to_nice_yaml() | indent(14) }}

    # Allow from grafana
    - ports:
        - port: web
      from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring-grafana
          podSelector:
            matchLabels:
              app.kubernetes.io/name: grafana
              app.kubernetes.io/component: grafana
