apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: discovery
  namespace: {{ syncthing.namespace }}
  labels:
    {{ syncthing_discovery.labels_def | to_nice_yaml() | indent(4) }}
    {{ syncthing_discovery.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ syncthing_discovery.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ syncthing_discovery.labels_def | to_nice_yaml() | indent(8) }}
        {{ syncthing_discovery.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /data/stdiscosrv
            chown 1000:1000 /data/stdiscosrv
        volumeMounts:
        - name: discovery-pv-claim
          mountPath: /data
      containers:
      - image: "{{ syncthing_discovery.private_image | image_full_name }}"
        command: [
          "/bin/entrypoint.sh", 
          "/bin/stdiscosrv", 
          "-http", 
          "-listen=:8080",
          "-metrics-listen=:8081",
          #"-debug",
        ]
        name: discovery
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8081
          name: metrics
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /metrics
            port: metrics
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ syncthing_discovery.container.requests_cpu }}"
            memory: "{{ syncthing_discovery.container.requests_memory }}"
          limits:
            cpu: "{{ syncthing_discovery.container.limits_cpu }}"
            memory: "{{ syncthing_discovery.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: discovery-pv-claim
          mountPath: /var/stdiscosrv
          subPath: stdiscosrv
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: discovery-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_longhorn_high_durability_storage_class_name }}
      resources:
        requests:
          storage: {{ syncthing_discovery.container.storage.data }}
