apiVersion: v1
kind: Service
metadata:
  name: discovery-prometheus
  namespace: {{ syncthing.namespace }}
  labels:
    {{ syncthing_discovery.labels_def | to_nice_yaml() | indent(4) }}
    {{ syncthing_discovery.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: syncthing-discovery
spec:
  ports:
  - port: 8081
    name: metrics
    targetPort: metrics
  selector:
    {{ syncthing_discovery.labels_def | to_nice_yaml() | indent(4) }}
