{
  "file": 1,
  "format": 1
}{
  "torrentfiles_location": "/mnt/download/torrent/torrent-files",
  "autoadd_location": "/mnt/download/torrent/auto-load",
  "download_location": "/mnt/download/torrent/pending",
  "move_completed_path": "/mnt/download/torrent/done",
  "daemon_port": 58846,
  "move_completed": true,
  "copy_torrent_file": true,
  "autoadd_enable": true
}
