apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-etc
  namespace: monitoring
  labels:
    app: grafana
    app-component: grafana
data:
  grafana.ini: |
    {{ lookup('template', kubernetes_app_root_path + '/monitoring/grafana/config/etc/grafana.ini.j2') | replace('\n', '\n    ') }}

  ldap.toml: |
    {{ lookup('template', kubernetes_app_root_path + '/monitoring/grafana/config/etc/ldap.toml.j2') | replace('\n', '\n    ') }}
