apiVersion: apps/v1beta2
kind: StatefulSet
metadata:
  labels:
    app: grafana
    app-component: grafana
  name: grafana
  namespace: monitoring
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
      app-component: grafana
  template:
    metadata:
      labels:
        app: grafana
        app-component: grafana
    spec:
      containers:
      - image: grafana/grafana:5.4.3
        name: grafana
        env:
        - name: GF_SERVER_ROOT_URL
          value: https://infra.{{ web_base_domain }}/grafana/
        ports:
        - containerPort: 3000
          name: http
        readinessProbe:
          httpGet:
            path: /api/health
            port: http
        resources:
          requests:
            cpu: "{{ grafana_requests_cpu | default("100m") }}"
            memory: "{{ grafana_requests_memory | default("100Mi") }}"
          limits:
            cpu: "{{ grafana_limits_cpu | default("200m") }}"
            memory: "{{ grafana_limits_memory | default("200Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - mountPath: /var/lib/grafana
          name: grafana-pv-claim
          readOnly: false
        - mountPath: /etc/grafana/provisioning/datasources
          name: grafana-datasources
          readOnly: false
        - mountPath: /etc/grafana/provisioning/dashboards
          name: grafana-dashboard-providers
          readOnly: false
        - mountPath: /grafana-dashboard-definitions/0/grafana-dashboards-config
          name: grafana-dashboards-config
          readOnly: false
      nodeSelector:
        capability/general-purpose: 'yes'
      securityContext:
        fsGroup: 472 # grafana group inside the container
      serviceAccountName: grafana
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: grafana-datasources
        secret:
          secretName: grafana-datasources
      - configMap:
          name: grafana-dashboard-providers
        name: grafana-dashboard-providers
      - configMap:
          name: grafana-dashboards-config
        name: grafana-dashboards-config
  volumeClaimTemplates:
  - metadata:
      name: grafana-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          app: grafana
          app-component: grafana
