apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-ca
  namespace: {{ item.1 }}
  labels:
    app: elasticsearch
    app-component: elasticsearch
data:
{% for elasticsearch_generated_certificate_file in elasticsearch_generated_certificate_files.results %}
  {% if elasticsearch_generated_certificate_file.source | basename == "ca.crt" %}
  {{ elasticsearch_generated_certificate_file.source | basename }}: {{ elasticsearch_generated_certificate_file.content }}
  {% endif %}
{% endfor %}
