apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ kubernetes_k8s_bridge_name }}
  namespace: {{ kubernetes_k8s_bridge_namespace }}
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "{{ kubernetes_k8s_bridge_name }}",
      "type": "bridge",
      "bridge": "k8sbr0",
      "isGateway": true,
      "isDefaultGateway": false,
      "forceAddress": false,
      "ipMasq": false,
      "hairpinMode": false,
      "ipam": {
        "type": "host-local",
        "subnet": "{{ kubernetes_k8s_bridge_cidr }}"
      }
    }'
