apiVersion: v1
kind: Service
metadata:
  name: pyload
  namespace: {{ pyload.namespace }}
  labels:
    {{ pyload.labels_def | to_nice_yaml() | indent(4) }}
    {{ pyload.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    targetPort: webui
    name: webui
  selector:
    {{ pyload.labels_def | to_nice_yaml() | indent(4) }}
