apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pyload
  namespace: {{ pyload.namespace }}
  labels:
    {{ pyload.labels_def | to_nice_yaml() | indent(4) }}
    {{ pyload.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ pyload.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ pyload.labels_def | to_nice_yaml() | indent(8) }}
        {{ pyload.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /pyload-config/config
            chown -R 1000:1000 /pyload-config/config
        volumeMounts:
        - name: pyload-config-pv-claim
          mountPath: /pyload-config
      containers:
      - name: pyload
        image: "{{ pyload.private_image | image_full_name }}"
        imagePullPolicy: Always        
        ports:
        - containerPort: 8000
          name: webui
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # pyload
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ '/' if pyload.context_root == '' else pyload.context_root }}
            port: webui
          initialDelaySeconds: 3
          periodSeconds: 5
        env:
          - name: PYLOAD_DEFAULT_USER
            value: "{{ pyload.default_user }}"
          - name: PYLOAD_DEFAULT_PASSWORD
            value: "{{ pyload.default_password }}"
          - name: PYLOAD_CONF_webui_prefix
            value: "{{ pyload.context_root }}"
          - name: PYLOAD_CONF_general_storage_folder
            value: /downloads
          - name: PYLOAD_CONF_log_filelog
            value: "False"
        resources:
          requests:
            cpu: "{{ pyload.container.requests_cpu }}"
            memory: "{{ pyload.container.requests_memory }}"
          limits:
            cpu: "{{ pyload.container.limits_cpu }}"
            memory: "{{ pyload.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: pyload-config-pv-claim
          mountPath: /config
          subPath: config
        - name: pyload-download
          mountPath: /downloads
          subPath: pyload
        - name: tmp-volume
          mountPath: /tmp
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: pyload-download
        persistentVolumeClaim:
          claimName: nfs-download
      - name: tmp-volume
        emptyDir: {}
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: pyload-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_longhorn_high_durability_storage_class_name }}
      resources:
        requests:
          storage: {{ pyload.container.storage.config }}
