apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: default
  labels:
    app: registry
    app-component: registry
data:
  config.yml: |
    {{ lookup('template', kubernetes_app_root_path + '/infra/registry/config/config.yml.j2')  | replace('\n', '\n    ') }}
