apiVersion: v1
kind: Secret
metadata:
  name: registry-certs
  namespace: default
  labels:
    app: registry
    app-component: registry
data:
{% for registry_generated_certificate_file in registry_generated_certificate_files.results %}
  {{ registry_generated_certificate_file.source | basename }}: {{ registry_generated_certificate_file.content }}
{% endfor %}
