kind: Service
apiVersion: v1
metadata:
  name: registry
  namespace: default
  labels:
    app: registry
    app-component: registry
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: {{ kubernetes_registry_port }}
  selector:
    app: registry
    app-component: registry
