kind: Service
apiVersion: v1
metadata:
  name: registry
  namespace: default
  labels:
    app: registry
    app-component: registry
spec:
  type: NodePort
  ports:
    - port: 443
      targetPort: 443
      nodePort: {{ kubernetes_registry_port }}
  selector:
    app: registry
    app-component: registry
