apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: registry
  namespace: default
  labels:
    app: registry
    app-component: registry
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: registry
      app-component: registry
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: registry
        app-component: registry
    spec:
      containers:
      - image: registry:2.7.1
        name: registry
        env:
        - name: REGISTRY_HTTP_ADDR
          value: 0.0.0.0:443
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          value: /certs/server.crt
        - name: REGISTRY_HTTP_TLS_KEY
          value: /certs/server.key
        ports:
        - containerPort: 443
          name: registry
        resources:
          requests:
            cpu: "{{ registry_requests_cpu | default("100m") }}"
            memory: "{{ registry_requests_memory | default("64Mi") }}"
          limits:
            cpu: "{{ registry_limits_cpu | default("200m") }}"
            memory: "{{ registry_limits_memory | default("64Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: registry-pv-claim
          mountPath: /var/lib/registry
        - name: registry-config
          mountPath: /etc/docker/registry/config.yml
          subPath: config.yml
        - name: certs-volume
          mountPath: /certs
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: registry-config
        configMap:
          name: registry-config
      - name: certs-volume
        secret:
          secretName: registry-certs
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: registry-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 10G
      selector:
        matchLabels:
          app: registry
          app-component: registry
