apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: registry
  namespace: default
  labels:
    app: registry
    app-component: registry
spec:
  selector:
    matchLabels:
      app: registry
      app-component: registry
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: registry
        app-component: registry
    spec:
      containers:
      - image: registry:2.7.1
        name: registry
        ports:
        - containerPort: 5000
          name: registry
        resources:
          requests:
            cpu: "{{ registry_requests_cpu | default("100m") }}"
            memory: "{{ registry_requests_memory | default("64Mi") }}"
          limits:
            cpu: "{{ registry_limits_cpu | default("200m") }}"
            memory: "{{ registry_limits_memory | default("64Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: registry-pv-claim
          mountPath: /var/lib/registry
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: registry-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 10G
      selector:
        matchLabels:
          app: registry
          app-component: registry
