apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: elasticsearch
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{% if elasticsearch.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
{% endif %}
spec:
  tls:
    - hosts:
      - elasticsearch.log.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: elasticsearch.log.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if elasticsearch.context_root == '' else elasticsearch.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: elasticsearch
            port:
              name: web
