kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-elasticsearch
  namespace: {{ elasticsearch.namespace }}
  labels:
    app.kubernetes.io/name: elasticsearch
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: elasticsearch
      app.kubernetes.io/component: elasticsearch

  ingress:
    - ports:
        - port: rest
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx

        # Allow from the prometheus_exporter
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: elasticsearch
              app.kubernetes.io/component: elastic-exporter

        # Allow from kibana
        - namespaceSelector:
            matchLabels:
              name: {{ kibana.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: kibana
              app.kubernetes.io/component: kibana

        # Allow from fluentd
        - namespaceSelector:
            matchLabels:
              name: {{ fluentd.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: fluentd
              app.kubernetes.io/component: fluentd

    # Allow from elasticsearch nodes
    - ports:
        - port: inter-node
      from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: elasticsearch
              app.kubernetes.io/component: elasticsearch

---

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-elasticsearch-exporter
  namespace: {{ elasticsearch.namespace }}
  labels:
    app.kubernetes.io/name: elasticsearch
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: elasticsearch
      app.kubernetes.io/component: elastic-exporter

  ingress:
    # Allow metrics from Prometheus
    - ports:
        - port: metrics
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
              prometheus: k8s
