apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-certs
  namespace: {{ elasticsearch.namespace }}
  labels:
    app: elasticsearch
    app-component: elasticsearch
data:
{% for elasticsearch_generated_certificate_file in elasticsearch_generated_certificate_files.results %}
  {{ elasticsearch_generated_certificate_file.source | basename }}: {{ elasticsearch_generated_certificate_file.content }}
{% endfor %}
