apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-certs
  namespace: {{ elasticsearch.namespace }}
  labels:
    {{ elasticsearch.labels_def | to_nice_yaml() | indent(4) }}
    {{ elasticsearch.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for elasticsearch_generated_certificate_file in elasticsearch_generated_certificate_files.results %}
  {{ elasticsearch_generated_certificate_file.source | basename }}: {{ elasticsearch_generated_certificate_file.content }}
{% endfor %}
