[SERVICE]
    Flush         1
    Log_Level     info
    Daemon        off
{% for fluentbit_parser_file in fluentbit_parser_files %}
    Parsers_File  {{ fluentbit_parser_file | basename }}
{% endfor %}
    HTTP_Server   On
    HTTP_Listen   0.0.0.0
    HTTP_Port     2020

{% for fluentbit_included_config_file in fluentbit_included_config_files %}
@INCLUDE {{ fluentbit_included_config_file | basename }}
{% endfor %}
