logger:
  level: info
connectors:
- type: ldap
  name: OpenLDAP
  id: ldap
  config:
    # Ldap server address
    host: "openldap.auth-openldap.svc.cluster.local:636"
    insecureNoSSL: false
    insecureSkipVerify: false
    rootCA: /etc/ssl/cluster/ca.crt
    # Variable name stores ldap bindDN in argocd-secret
    bindDN: "$dex.ldap.bindDN"
    # Variable name stores ldap bind password in argocd-secret
    bindPW: "$dex.ldap.bindPW"
    usernamePrompt: Username
    # Ldap user serch attributes
    userSearch:
      baseDN: "ou=users,dc=k8s,dc=test"
      filter: "(&(objectClass=inetOrgPerson)(memberOf=cn=argo,ou=app_groups,dc=k8s,dc=test))"
      username: cn
      idAttr: uid
      emailAttr: mail
      nameAttr: displayName
    # Ldap group serch attributes
    groupSearch:
      baseDN: "ou=argo_roles,dc=k8s,dc=test"
      filter: "(objectClass=groupOfUniqueNames)"
      userMatchers:
      - userAttr: DN
        groupAttr: uniqueMember
      nameAttr: cn
