
kind: Endpoints
apiVersion: v1
metadata:
  name: keepalived-exporter
  namespace: {{ keepalived_exporter.namespace }}
  labels:
    {{ keepalived_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ keepalived_exporter.labels_desc | to_nice_yaml() | indent(4) }}
subsets:
{% for keepalived_node in groups['keepalived'] | map('extract', hostvars, ['ansible_host']) %}
- addresses:
  - ip: {{ keepalived_node }}
  ports:
  - name: metrics
    port: {{ keepalived_exporter.port }}
{% endfor %}
