apiVersion: v1
kind: ConfigMap
metadata:
  name: docker-registry-config
  namespace: default
  labels:
    app: docker-registry
    app-component: registry
data:
  config.yml: |
    {{ lookup('template', role_path + '/app/config/config.yml.j2')  | replace('\n', '\n    ') }}
