kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-docker-registry
  namespace: {{ docker_registry.namespace }}
  labels:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ docker_registry.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from everywhere
    - ports:
        - port: https

# We need to docker pull/push from the kubernetes nodes, so we can't limit the access from docker registry
# TODO find a way to identify Nodes ?
#    from:
#    - namespaceSelector:
#        matchLabels:
#          name: {{ docker_registry_ui.namespace }}
#      podSelector:
#        matchLabels:
#          {# docker_registry_ui.labels_def | to_nice_yaml() | indent(10) #}

    # Allow debug from prometheus
    - ports:
        - port: debug
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              {{ prometheus.labels_def | to_nice_yaml() | indent(14) }}
