apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-certs
  namespace: {{ docker_registry.namespace }}
  labels:
    app.kubernetes.io/name: docker-registry
    app.kubernetes.io/component: registry
data:
{% for docker_registry_generated_certificate_file in docker_registry_generated_certificate_files.results %}
  {{ docker_registry_generated_certificate_file.source | basename }}: {{ docker_registry_generated_certificate_file.content }}
{% endfor %}
