kind: Service
apiVersion: v1
metadata:
  name: docker-registry-debug
  namespace: {{ docker_registry.namespace }}
  labels:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: docker-registry
spec:
  ports:
    - port: 5001
      name: debug
      targetPort: debug
  selector:
    {{ docker_registry.labels_def | to_nice_yaml() | indent(4) }}
