kind: Service
apiVersion: v1
metadata:
  name: docker-registry
  namespace: {{ docker_registry.namespace }}
  labels:
    app: docker-registry
    app-component: registry
spec:
  type: NodePort
  ports:
    - port: 443
      targetPort: 443
      nodePort: {{ docker_registry.port }}
  selector:
    app: docker-registry
    app-component: registry
