apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  alerting:
    alertmanagers:
    - name: alertmanager-k8s
      namespace: {{ prometheus.namespace }}
      port: web
  baseImage: "{{ prometheus.base_image.repo }}/{{ prometheus.base_image.name }}"
  version: "{{ prometheus.base_image.tag }}"
  podMetadata:
    labels:
      {{ prometheus.labels_def | to_nice_yaml() | indent(6) }}
      {{ prometheus.labels_desc | to_nice_yaml() | indent(6) }}
  nodeSelector:
    kubernetes.io/os: linux
    capability/general-purpose: 'yes'
  podMonitorSelector: {}
  replicas: 1
  externalUrl: https://infra.{{ web_base_domain }}/prometheus/
  resources:
    requests:
      cpu: "{{ prometheus.container.requests_cpu }}"
      memory: "{{ prometheus.container.requests_memory }}"
    limits:
      cpu: "{{ prometheus.container.limits_cpu }}"
      memory: "{{ prometheus.container.limits_memory }}"
  ruleSelector:
    matchLabels:
      {{ prometheus.labels_def | to_nice_yaml() | indent(6) }}
      role: alert-rules
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus-k8s
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  retention: {{ prometheus.retention }}
  storage:
    volumeClaimTemplate:
      metadata:
        name: prometheus-k8s-pv-claim
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
        resources:
          requests:
            storage: 4G
        selector:
          matchLabels:
            {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
