apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: prometheus
    prometheus: k8s
    prometheus-target: prometheus-k8s
  name: prometheus-k8s
  namespace: {{ prometheus.namespace }}
spec:
  ports:
  - name: web
    port: 9090
    targetPort: web
  selector:
    app.kubernetes.io/name: prometheus
    prometheus: k8s
  sessionAffinity: ClientIP
