
kind: Endpoints
apiVersion: v1
metadata:
  name: apcupsd
  namespace: monitoring-apcups-exporter
subsets:
{% for apcups_node in groups['apcups'] | map('extract', hostvars, ['ansible_host']) %}
- addresses:
  - ip: {{ apcups_node }}
  ports:
  - name: metrics
    port: {{ apcups_netserver_listen_port }}
{% endfor %}
