{% for target in crowdsec_external.targets %}
kind: Endpoints
apiVersion: v1
metadata:
  name: crowdsec-external-{{ target.name }}
  namespace: {{ crowdsec_external.namespace }}
subsets:
- addresses:
  - ip: {{ target.ip }}
  ports:
  - name: metrics
    port: {{ target.port }}

{% if not loop.last %}
---
{% endif %}
{% endfor %}
