#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

{% if item.tcp_port | default(False) or item.udp_port | default(False) %}
server {
	{% if item.tcp_port | default(False) %}
	listen {{ item.listen_ip | default(nginx_listen_ip) }}:{{ item.tcp_port }};
	listen [::]:{{ item.tcp_port }};
	{% endif %}
	{% if item.udp_port | default(False) %}
	listen {{ item.listen_ip | default(nginx_listen_ip) }}:{{ item.udp_port }} udp;
	listen [::]:{{ item.udp_port }} udp;
	{% endif %}

	access_log /var/log/nginx/{{ item.name }}_stream_access.log basic buffer=32k;
	error_log /var/log/nginx/{{ item.name }}_stream_error.log;

	proxy_pass {{ item.proxy_pass }};
	{% if item.content is defined %}
	{{ item.content }}
	{% endif %}
}
{% endif %}

{% if item.ssl_port | default(False) %}
server {
	listen {{ item.listen_ip | default(nginx_listen_ip) }}:{{ item.ssl_port }} ssl;
	listen [::]:{{ item.ssl_port }} ssl;

	access_log /var/log/nginx/{{ item.name }}_stream_ssl_access.log basic buffer=32k;
	error_log /var/log/nginx/{{ item.name }}_stream_ssl_error.log;

	# SSL configuration
	ssl_certificate {{ item.https_cert.cert_path }};
	ssl_certificate_key {{ item.https_cert.cert_key_path }};
	
	proxy_pass {{ item.proxy_pass }};
	{% if item.content is defined %}
	{{ item.content }}
	{% endif %}
}
{% endif %}
