#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

{% for upstream in nginx_upstreams | default() %}
upstream {{ upstream.name }} {
	{% for server in upstream.servers | default() %}
    server {{ server }};
	{% endfor %}
}
{% endfor %}
