apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: plex
  namespace: default
  labels:
    app: plex
spec:
  tls:
    - hosts:
      - plex.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: plex.{{ web_base_domain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: plex
            servicePort: 80
