apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: plex
  namespace: {{ plex.namespace }}
  labels:
    {{ plex.labels_def | to_nice_yaml() | indent(4) }}
    {{ plex.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  tls:
    - hosts:
      - plex.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: plex.{{ web_base_domain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: plex
            servicePort: 80
