kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-plex
  namespace: {{ plex.namespace }}
  labels:
    app: plex
    app-component: plex
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: plex
      app-component: plex

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: plex
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
