apiVersion: v1
kind: Service
metadata:
  name: plex
  namespace: {{ plex.namespace }}
  labels:
    app.kubernetes.io/name: plex
    app.kubernetes.io/component: plex
spec:
  ports:
  - port: 80
    targetPort: 32400
  selector:
    app.kubernetes.io/name: plex
    app.kubernetes.io/component: plex
