# {{ ansible_managed }}

[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ wireguard.cidr_prefix }}.{{ item.config.ip_suffix }}/32
DNS = {{ wireguard.clients_dns | join(',') }}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
Endpoint = {{ wireguard.server.endpoint }}
AllowedIPs = {{ item.config.allowed_ips }}
PersistentKeepalive = 21
