apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-state-metrics
  namespace: {{ kube_state_metrics.namespace }}
  labels:
    {{ kube_state_metrics.labels_def | to_nice_yaml() | indent(4) }}
    {{ kube_state_metrics.labels_desc | to_nice_yaml() | indent(4) }}
