apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: kube-state-metrics
    prometheus-target: kube-state-metrics
  name: kube-state-metrics
  namespace: {{ kube_state_metrics.namespace }}
spec:
  clusterIP: None
  ports:
  - name: https-main
    port: 8443
    targetPort: https-main
  - name: https-self
    port: 9443
    targetPort: https-self
  selector:
    app.kubernetes.io/name: kube-state-metrics
    app.kubernetes.io/component: kube-state-metrics
