apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: {{ kube_state_metrics.namespace }}
  labels:
    {{ kube_state_metrics.labels_def | to_nice_yaml() | indent(4) }}
    {{ kube_state_metrics.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: kube-state-metrics
spec:
  clusterIP: None
  ports:
  - name: https-main
    port: 8443
    targetPort: https-main
  - name: https-self
    port: 9443
    targetPort: https-self
  selector:
    {{ kube_state_metrics.labels_def | to_nice_yaml() | indent(4) }}
