apiVersion: v1
kind: Service
metadata:
  name: crowdsec-agent-metrics
  namespace: {{ crowdsec.namespace }}
  labels:
    {{ crowdsec_agent.labels_def | to_nice_yaml() | indent(4) }}
    {{ crowdsec_agent.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: crowdsec-agent
spec:
  ports:
  - name: metrics
    port: 6060
    targetPort: metrics
  selector:
    {{ crowdsec_agent.labels_def | to_nice_yaml() | indent(4) }}
