apiVersion: v1
kind: Secret
metadata:
  name: crowdsec-ca-certs
  namespace: {{ crowdsec.namespace }}
  labels:
    {{ crowdsec_lapi.labels_def | to_nice_yaml() | indent(4) }}
    {{ crowdsec_lapi.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for crowdsec_ca_certificate_file in crowdsec_ca_certificate_files.results %}
  {{ crowdsec_ca_certificate_file.source | basename }}: {{ crowdsec_ca_certificate_file.content }}
{% endfor %}
