apiVersion: v1
kind: Secret
metadata:
  name: agent-credentials
  namespace: {{ crowdsec.namespace }}
  labels:
    {{ crowdsec.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  username: {{ 'test-name' | b64encode }}
  password: {{ 'test-password' | b64encode }}
