apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/name: blocky
      app.kubernetes.io/component: redis
      app.kubernetes.io/part-of: blocky
      app.kubernetes.io/version: 8.2.3-alpine3.22

generatorOptions:
 disableNameSuffixHash: true

secretGenerator:
- name: redis-config
  files:
  - secret/redis.conf

resources:
- networkPolicy.yaml
- service.yaml
- statefulSet.yaml
