apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: plex
  namespace: default
  labels:
    app: plex
    app-component: plex
spec:
  selector:
    matchLabels:
      app: plex
      app-component: plex
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: plex
        app-component: plex
    spec:
      containers:
      - image: plexinc/pms-docker:1.14.1.5488-cc260c476
        name: plex
        ports:
        - containerPort: 32400
          name: plex
{% if plex_claim is defined %}
        env:
        - name: PLEX_CLAIM
          value: "{{ plex_claim }}"
{% endif %}
        resources:
          requests:
            cpu: "{{ plex_requests_cpu | default("500m") }}"
            memory: "{{ plex_requests_memory | default("1024Mi") }}"
          limits:
            cpu: "{{ plex_limits_cpu | default("2000m") }}"
            memory: "{{ plex_limits_memory | default("1024Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: plex-frontend-pv-claim
          mountPath: /config
        - name: plex-multimedia
          mountPath: /mnt/multimetia
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: plex-multimedia
        persistentVolumeClaim:
          claimName: nfs-multimetia
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: plex-frontend-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 2G
      selector:
        matchLabels:
          app: plex
          app-component: plex
