apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-config
  namespace: {{ pihole.namespace }}
  labels:
    {{ pihole.labels_def | to_nice_yaml() | indent(4) }}
    {{ pihole.labels_desc | to_nice_yaml() | indent(4) }}
data:
  05-custom.conf: |
    {{ lookup('template', role_path + '/app/config/05-custom.conf.j2')  | replace('\n', '\n    ') }}
  dnsmasq_hosts: |
    {{ lookup('template', role_path + '/app/config/dnsmasq_hosts.j2')  | replace('\n', '\n    ') }}
  pihole-FTL.conf: |
    {{ lookup('template', role_path + '/app/config/pihole-FTL.conf.j2')  | replace('\n', '\n    ') }}
