kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-pihole
  namespace: {{ pihole.namespace }}
  labels:
    {{ pihole.labels_def | to_nice_yaml() | indent(4) }}
    {{ pihole.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ pihole.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    - ports:
        - port: http
      from:
        # Allow http from the ingress controller
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}
        # Allow http from the pihole-exporter
        - namespaceSelector:
            matchLabels:
              name: {{ pihole_exporter.namespace }}
          podSelector:
            matchLabels:
              {{ pihole_exporter.labels_def | to_nice_yaml() | indent(14) }}
    # Allow dns / dns-udp from all
    - ports:
        - port: dns
        - port: dns-udp
          protocol: UDP
