apiVersion: v1
kind: Secret
metadata:
  name: pihole
  namespace: {{ pihole.namespace }}
  labels:
    {{ pihole.labels_def | to_nice_yaml() | indent(4) }}
    {{ pihole.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  webPassword: {{ pihole.web_password | b64encode }}
