apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nodered
  namespace: {{ nodered.namespace }}
  labels:
    {{ nodered.labels_def | to_nice_yaml() | indent(4) }}
    {{ nodered.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ nodered.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ nodered.labels_def | to_nice_yaml() | indent(8) }}
        {{ nodered.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - image: "{{ nodered.container.image }}"
        name: nodered
        ports:
        - containerPort: 1880
          name: nodered
        resources:
          requests:
            cpu: "{{ nodered.container.requests_cpu }}"
            memory: "{{ nodered.container.requests_memory }}"
          limits:
            cpu: "{{ nodered.container.limits_cpu }}"
            memory: "{{ nodered.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: nodered-pv-claim
          mountPath: /data
          subPath: data
        - name: nodered-config
          mountPath: /data/settings.js
          subPath: settings.js
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.cert
          subPath: ca.crt
      securityContext:
        fsGroup: 1001 # node-red group inside the container
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: nodered-config
        configMap:
          name: nodered
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: nodered-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 128M
      selector:
        matchLabels:
          {{ nodered.labels_def | to_nice_yaml() | indent(10) }}
