apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: deluge-data-pv-claim
  namespace: {{ deluge.namespace }}
  labels:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
    {{ deluge.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  accessModes: [ "ReadWriteMany" ]
  storageClassName: {{ kubernetes_longhorn_high_durability_storage_class_name }}
  resources:
    requests:
      storage: {{ deluge.container.storage.data }}
