apiVersion: apps/v1
kind: Deployment
metadata:
  name: apcups-exporter
  namespace: {{ apcups_exporter.namespace }}
  labels:
    app.kubernetes.io/name: apcups-exporter
    app.kubernetes.io/component: apcups-exporter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: apcups-exporter
      app.kubernetes.io/component: apcups-exporter
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: apcups-exporter
        app.kubernetes.io/component: apcups-exporter
    spec:
      containers:
      - image: "{{ apcups_exporter.container.image }}"
        name: apcups-exporter
        env:
        - name: APCUPS_ADDR
          value: apcupsd.monitoring-apcups-exporter:3551
        ports:
        - containerPort: 9162
          name: metrics
        resources:
          requests:
            cpu: "{{ apcups_exporter.container.requests_cpu }}"
            memory: "{{ apcups_exporter.container.requests_memory }}"
          limits:
            cpu: "{{ apcups_exporter.container.limits_cpu }}"
            memory: "{{ apcups_exporter.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      nodeSelector:
        capability/general-purpose: 'yes'
