kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-apcups-exporter
  namespace: {{ apcups_exporter.namespace }}
  labels:
    app.kubernetes.io/name: apcups-exporter
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: apcups-exporter
      app.kubernetes.io/component: apcups-exporter

  ingress:
    # Allow from prometheus
    - ports:
        - port: metrics
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
              prometheus: k8s
