apiVersion: v1
kind: ConfigMap
metadata:
  name: sabnzbd-config
  namespace: default
  labels:
    app: sabnzbd
    app-component: sabnzbd
data:
  sabnzbd_delta.ini: |
    {{ lookup('template', kubernetes_app_root_path + '/download/sabnzbd/config/sabnzbd_delta.ini.j2') | replace('\n', '\n    ') }}
  mergeConf.py: |
    {{ lookup('file', kubernetes_app_root_path + '/download/sabnzbd/config/mergeConf.py') | replace('\n', '\n    ') }}
  configobj.py: |
    {{ lookup('file', kubernetes_app_root_path + '/download/sabnzbd/config/configobj.py') | replace('\n', '\n    ') }}
