apiVersion: v1
kind: ConfigMap
metadata:
  name: sickchill-config
  namespace: {{ sickchill.namespace }}
  labels:
    app: sickchill
    app-component: sickchill
data:
  config_delta.ini: |
    {{ lookup('template', role_path + '/app/config/config_delta.ini.j2') | replace('\n', '\n    ') }}
  mergeConf.py: |
    {{ lookup('file', role_path + '/app/config/mergeConf.py') | replace('\n', '\n    ') }}
