apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: sickchill
  namespace: {{ sickchill.namespace }}
spec:
  tls:
    - hosts:
      - dl.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: dl.{{ web_base_domain }}
    http:
      paths:
        - path: {{ sickchill.context_root }}
          backend:
            serviceName: sickchill
            servicePort: 80
