apiVersion: v1
kind: Service
metadata:
  name: sickchill
  namespace: {{ sickchill.namespace }}
  labels:
    app.kubernetes.io/name: sickchill
spec:
  ports:
  - port: 80
    targetPort: 8081
    name: web
  selector:
    app.kubernetes.io/name: sickchill
    app.kubernetes.io/component: sickchill
