apiVersion: v1
kind: Service
metadata:
  name: sickchill
  namespace: {{ sickchill.namespace }}
  labels:
    {{ sickchill.labels_def | to_nice_yaml() | indent(4) }}
    {{ sickchill.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    targetPort: sickchill
    name: web
  selector:
    {{ sickchill.labels_def | to_nice_yaml() | indent(4) }}
