apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sickchill
  namespace: {{ sickchill.namespace }}
  labels:
    {{ sickchill.labels_def | to_nice_yaml() | indent(4) }}
    {{ sickchill.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ sickchill.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ sickchill.labels_def | to_nice_yaml() | indent(8) }}
        {{ sickchill.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.container.image }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /opt/sickchill/data
            chown -R 1000:1000 /opt/sickchill/data
        volumeMounts:
        - name: sickchill-data-pv-claim
          mountPath: /opt/sickchill
      - name: inject-config
        image: {{ sickchill.container.image }}
        command: [ "python", "/tmp/config/mergeConf.py" ]
        volumeMounts:
        - name: sickchill-data-pv-claim
          mountPath: /opt/sickchill-data
          subPath: data
        - name: sickchill-config
          mountPath: /tmp/config
      containers:
      - name: sickchill
        image: "{{ sickchill.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
          name: sickchill
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ sickchill.context_root }}
            port: sickchill
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ sickchill.container.requests_cpu }}"
            memory: "{{ sickchill.container.requests_memory }}"
          limits:
            cpu: "{{ sickchill.container.limits_cpu }}"
            memory: "{{ sickchill.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: sickchill-data-pv-claim
          mountPath: /opt/sickchill-data
          subPath: data
        - name: sickchill-download
          mountPath: /mnt/download
        - name: sickchill-multimedia
          mountPath: /mnt/multimedia
        # sickchill-config is not used by the container directly
        # But mounting it enables the use of the reloader
        - name: sickchill-config
          mountPath: /tmp/config
        - name: tmp-volume
          mountPath: /tmp
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: sickchill-config
        configMap:
          name: sickchill-config
      - name: sickchill-download
        persistentVolumeClaim:
          claimName: nfs-download
      - name: sickchill-multimedia
        persistentVolumeClaim:
          claimName: nfs-multimedia
      - name: tmp-volume
        emptyDir: {}
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: sickchill-data-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          {{ sickchill.labels_def | to_nice_yaml() | indent(10) }}
