apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry-ui
  namespace: {{ docker_registry_ui.namespace }}
  labels:
    {{ docker_registry_ui.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry_ui.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ docker_registry_ui.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ docker_registry_ui.labels_def | to_nice_yaml() | indent(8) }}
        {{ docker_registry_ui.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: docker-registry-ui
        image: "{{ docker_registry_ui.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
          name: http
        securityContext:
          runAsNonRoot: true
          runAsUser: 65534 # nobody
          runAsGroup: 65534 # nobody
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ docker_registry_ui.context_root }}
            port: http
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ docker_registry_ui.container.requests_cpu }}"
            memory: "{{ docker_registry_ui.container.requests_memory }}"
          limits:
            cpu: "{{ docker_registry_ui.container.limits_cpu }}"
            memory: "{{ docker_registry_ui.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: docker-registry-ui-config
          mountPath: /opt/config.yml
          subPath: config.yml
        - name: data-volume
          mountPath: /opt/data
        - name: cluster-ca-volume
          mountPath: /etc/ssl/certs/ca-certificates.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: docker-registry-ui-config
        configMap:
          name: docker-registry-ui-config
      - name: data-volume
        emptyDir: {}
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/general-purpose: 'yes'
