apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: docker-registry-ui
  namespace: {{ docker_registry_ui.namespace }}
  labels:
    {{ docker_registry_ui.labels_def | to_nice_yaml() | indent(4) }}
    {{ docker_registry_ui.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  tls:
    - hosts:
      - infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
        - path: {{ docker_registry_ui.context_root }}
          backend:
            serviceName: docker-registry-ui
            servicePort: http
