kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-docker-registry-ui
  namespace: {{ docker_registry_ui.namespace }}
  labels:
    app: docker-registry-ui
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: docker-registry-ui
      app-component: docker-registry-ui

  ingress:
    - ports:
        - port: http
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
