apiVersion: v1
kind: Service
metadata:
  name: docker-registry-ui
  namespace: {{ docker_registry_ui.namespace }}
  labels:
    app.kubernetes.io/name: docker-registry-ui
    app.kubernetes.io/component: docker-registry-ui
spec:
  ports:
    - port: 8000
  selector:
    app.kubernetes.io/name: docker-registry-ui
    app.kubernetes.io/component: docker-registry-ui
