apiVersion: v1
kind: Service
metadata:
  name: docker-registry-ui
  namespace: {{ docker_registry_ui.namespace }}
  labels:
    app: docker-registry-ui
    app-component: docker-registry-ui
spec:
  ports:
    - port: 8000
  selector:
    app: docker-registry-ui
    app-component: docker-registry-ui
