apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: reloader
  namespace: default
  labels:
    app: reloader
    app-component: reloader
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: reloader
      app-component: reloader
  template:
    metadata:
      labels:
        app: reloader
        app-component: reloader
    spec:
      containers:
      - name: reloader
        image: "stakater/reloader:v0.0.23"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "{{ reloader_requests_cpu | default("100m") }}"
            memory: "{{ reloader_requests_memory | default("128Mi") }}"
          limits:
            cpu: "{{ reloader_limits_cpu | default("250m") }}"
            memory: "{{ reloader_limits_memory | default("128Mi") }}"
      serviceAccountName: reloader

