apiVersion: v1
kind: Secret
metadata:
  name: zonemta-mongo-pass
  namespace: default
  labels:
    app: zonemta
    app-component: mongo
type: Opaque
data:
  password: {{ zonemta_mongo_root_password | b64encode }}
