apiVersion: v1
kind: Secret
metadata:
  name: zonemta-mongo-init
  namespace: default
  labels:
    app: zonemta
    app-component: mongo
type: Opaque
data:
  create-user.js: |
    {{ lookup('template', kubernetes_app_root_path + '/infra/zone-mta/config/mongodb/create-user.js.j2') | b64encode }}
  