---
- name: Install python dependencies
  ansible.builtin.apt:
    pkg: python3-virtualenv
    state: present

- name: Install Certbot and plugins
  ansible.builtin.pip:
    name: "{{ item }}"
    virtualenv: "{{ certbot_venv_dir }}"
  loop:
    - certbot==5.1.0
    - certbot-dns-ovh==5.1.0

- name: Link certbot binary
  ansible.builtin.file:
    src: "{{ certbot_venv_dir }}/bin/certbot"
    dest: /usr/bin/certbot
    state: link

- name: Ensures letsencrypt folders exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - "{{ letsencrypt_dir }}"
    - "{{ letsencrypt_hooks_dir }}"
    - "{{ letsencrypt_hooks_pre_include_dir }}"
    - "{{ letsencrypt_hooks_post_include_dir }}"

- name: Generate cluster hook scripts
  ansible.builtin.template:
    dest: "{{ letsencrypt_dir }}/{{ item }}"
    src: "{{ item }}.j2"
    mode: 0755
  loop:
    - cluster_pre_hook.sh
    - cluster_post_hook.sh

- name: Generate keepalived pre_hook script
  ansible.builtin.template:
    dest: "{{ letsencrypt_hooks_pre_include_dir }}/keepalived_pre_hook.sh"
    src: "keepalived_pre_hook.sh.j2"
    mode: 0755

- name: Generate keepalive post_hook script
  ansible.builtin.template:
    dest: "{{ letsencrypt_hooks_post_include_dir }}/keepalived_post_hook.sh"
    src: "keepalived_post_hook.sh.j2"
    mode: 0755

- name: Configure Keepalived VirtualIP
  ansible.builtin.include_role:
    name: keepalived
    tasks_from: add-virtual-ip
  vars:
    keepalived_instance: "{{ letsencrypt_keepalived_instance }}"
    keepalived_instance_enabled: false

- name: Check letsencrypt mode
  ansible.builtin.fail:
    msg: "Mode {{ item.mode }} for {{ item.domain }} isn't supported !"
  loop: "{{ letsencrypt_certificates }}"
  loop_control:
    label: "{{ item.domain }} : {{ item.mode }}"
  when:
    - item.mode not in ['standalone', 'dns']

- name: Configure OVH DNS
  ansible.builtin.copy:
    dest: "{{ letsencrypt_dir }}/ovh.ini"
    content: |
      # OVH API credentials used by Certbot
      dns_ovh_endpoint = ovh-eu
      dns_ovh_application_key = {{ letsencrypt_dns_ovh_application_key }}
      dns_ovh_application_secret = {{ letsencrypt_dns_ovh_application_secret }}
      dns_ovh_consumer_key = {{ letsencrypt_dns_ovh_consumer_key }}
    mode: 0600
  when: letsencrypt_dns_ovh_application_key is defined

- name: Create letsencrypt certificates
  ansible.builtin.command: >
    certbot certonly -n
    {% if item.mode == "standalone" %}--standalone --http-01-address={{ nginx_keepalived_instance_public_virtual_ip }}
    {% elif item.mode == "dns" %}--authenticator dns-ovh --dns-ovh-credentials {{ letsencrypt_dir }}/ovh.ini
    {% endif %}
    -m {{ item.email }}
    {% if not item.live %}--staging{% endif %}
    --agree-tos
    --cert-name {{ item.domain }}
    -d {{ item.domain }}
    {% for domain in item.san | default([]) %}-d "{{ domain }}" {% endfor %}
    --config-dir {{ letsencrypt_config_dir }}
    --pre-hook "{{ letsencrypt_dir }}/cluster_pre_hook.sh"
    --post-hook "{{ letsencrypt_dir }}/cluster_post_hook.sh"
  args:
    creates: "{{ letsencrypt_config_dir }}/live/{{ item.domain }}"
  loop: "{{ letsencrypt_certificates }}"
  loop_control:
    label: "{{ item.domain }} : {{ item.mode }}"

- name: Prepare certbot renew service systemd configuration directory
  ansible.builtin.file:
    path: /etc/systemd/system/certbot.service.d
    state: directory
    mode: 0755

- name: Deploy certbot renew timer systemd unit and timer
  ansible.builtin.template:
    src: "systemd/{{ item }}.j2"
    dest: "/etc/systemd/system/{{ item }}"
    mode: 0700
  loop:
    - certbot_renew.service
    - certbot_renew.timer
  notify: Reload systemd daemon

- name: Enable certbot renew systemd timer
  ansible.builtin.systemd:
    name: certbot_renew.timer
    state: started
    enabled: yes
