apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  namespace: {{ pihole.namespace }}
  labels:
    {{ pihole.labels_def | to_nice_yaml() | indent(4) }}
    {{ pihole.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if pihole.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^({{ pihole.context_root }}/admin)$ $1/ permanent;
{% endif %}
spec:
  tls:
    - hosts:
      - pihole.infra.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: pihole.infra.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if pihole.context_root == '' else pihole.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: pihole
            port:
              name: http
