apiVersion: v1
kind: Service
metadata:
  name: nginx-log-exporter-prometheus
  namespace: {{ nginx_log_exporter.namespace }}
  labels:
    {{ nginx_log_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ nginx_log_exporter.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: nginx-log-exporter
spec:
  ports:
    - port: 4040
      name: metrics
      targetPort: metrics
  selector:
    {{ nginx_log_exporter.labels_def | to_nice_yaml() | indent(4) }}
