kind: Pod
apiVersion: v1
metadata:
  name: banana-app
  namespace: default
  labels:
    app: banana
spec:
  containers:
    - name: banana-app
      image: hashicorp/http-echo
      args:
        - "-text=banana"
  nodeSelector:
    capability/general-purpose: 'yes'

---

kind: Service
apiVersion: v1
metadata:
  name: banana-service
  namespace: default
spec:
  selector:
    app: banana
  ports:
    - port: 5678 # Default port for image
