---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: {{ kubernetes_metrics_server.namespace }}
  labels:
    app.kubernetes.io/name: metrics-server
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: metrics-server
  template:
    metadata:
      name: metrics-server
      labels:
        app.kubernetes.io/name: metrics-server
    spec:
      serviceAccountName: metrics-server
      volumes:
      # mount in tmp so we can safely use from-scratch images and/or read-only containers
      - name: tmp-dir
        emptyDir: {}
      containers:
      - name: metrics-server
        image: "{{ kubernetes_metrics_server.container.image }}"
        imagePullPolicy: Always
        # TODO : Fix kubelet serving certificate and remove this insecure flag
        # See https://github.com/kubernetes/kubeadm/issues/1223
        args:
        - --kubelet-insecure-tls=true
        ports:
        - containerPort: 443
          name: metrics
        resources:
          requests:
            cpu: "{{ kubernetes_metrics_server.container.requests_cpu }}"
            memory: "{{ kubernetes_metrics_server.container.requests_memory }}"
          limits:
            cpu: "{{ kubernetes_metrics_server.container.limits_cpu }}"
            memory: "{{ kubernetes_metrics_server.container.limits_memory }}"
        volumeMounts:
        - name: tmp-dir
          mountPath: /tmp

