kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-metrics-server
  namespace: {{ kubernetes_metrics_server.namespace }}
  labels:
    k8s-app: metrics-server
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      k8s-app: metrics-server

  ingress:
    # Allow from everywhere
    # (needed for both `kubectl top` and the kubernetes-dashboard)
    - ports:
        - port: metrics
      from: []
