kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-unifi
  namespace: {{ unifi.namespace }}
  labels:
    {{ unifi.labels_def | to_nice_yaml() | indent(4) }}
    {{ unifi.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ unifi.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow http from the ingress controller
    - ports:
        - port: https
      from:
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}

{% if homepage.config.unifi.enabled %}
    # Allow http from the homepage (to enable the widget)
    - ports:
        - port: https
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ homepage.namespace }}
          podSelector:
            matchLabels:
              {{ homepage.labels_def | to_nice_yaml() | indent(14) }}
{% endif %}

    # Allow private ports from everywhere
    - ports:
        - port: stun
        - port: http-crtl
        - port: https-crtl
        - port: http-portal
        - port: https-portal
        - port: speed-test
        - port: ap-discovery
