apiVersion: v1
kind: Secret
metadata:
  name: homeassistant-mysql-pass
  namespace: {{ homeassistant.namespace }}
  labels:
    {{ homeassistant_mysql.labels_def | to_nice_yaml() | indent(4) }}
    {{ homeassistant_mysql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ homeassistant_mysql.password | b64encode }}
  root_password: {{ homeassistant_mysql.root_password | b64encode }}
