watchers:

  ###################
  # Native on hosts #
  ###################
  - type: pypi
    package: ansible
    version: 7.4.0
    excludes: 
      - .*[ab][1-9]$
      - .*rc[1-9]$
      - ^[0-6]\..*
      - ^7\.[0-3]\..*


  #################################
  # Installed by ansible on hosts #
  #################################
  - type: github_release
    repo: cafebazaar/keepalived-exporter
    release: v1.2.0
  - type: github_release
    repo: kubernetes/kubernetes
    release: v1.26.1
    excludes:
      - .*(alpha|beta|rc).*
      - v1\.[0-1][0-9]\..*
      - v1\.2[0-5]\..*
  

  ########
  # Misc #
  ########
  - type: docker_registry
    repo: {{ busybox.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ busybox.base_image.name }}
    tag: {{ busybox.base_image.tag }}
    includes:
      - "^[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - 1\.[0-2][0-9]\..*
      - 1\.3[0-5]\..*
  

  #########
  # Infra #
  #########
  - type: github_release
    repo: projectcalico/calico
    release: v3.25.1
    excludes:
      - v3\.1[0-9]\..*
      - v3\.2[0-4]\..*
  - type: docker_registry
    repo: ghcr.io
    image: k8snetworkplumbingwg/multus-cni
    tag: v3.9.3
    includes:
      - "^v[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - v[0-2]\..*
      - v3\.[0-8](\..*)?


  ###############
  # Apps : Auth #
  ###############
  - type: docker_registry
    repo: "registry-1.docker.io"
    image: "coudot/lemonldap-ng"
    tag: "2.16.1"
    excludes:
      - latest
      - ^1\.
      - ^2\.0\..*
      - ^2\.1[0-5]\..*
  - type: docker_registry
    repo: "registry-1.docker.io"
    image: "osixia/openldap"
    tag: 1.5.0-amd64
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+-amd64"
    excludes:
      - ^1\.[0-4]\.
  - name: phpLDAPadmin-php
    type: docker_registry
    repo: "registry-1.docker.io"
    image: php
    tag: 7.3.33-apache-buster
    includes:
      - "7.3.[0-9]+-apache-buster"
    excludes:
      - "7.3.[0-9]-apache-buster"
      - "7.3.[0-2][0-9]-apache-buster"
      - "7.3.3[0-2]-apache-buster"
  - type: github_tag
    repo: leenooks/phpLDAPadmin
    tag: 1.2.6.6
  
  ##############
  # Apps : Dev #
  ##############
  - type: docker_registry
    repo: registry-1.docker.io
    image: gitea/gitea
    tag: 1.19.0-rootless
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-rootless
    excludes:
      - ^0\..*
      - ^1\.[0-9]\..*
      - ^1\.1[0-8]\..*
  - name: Gitea PostgreSQL
    type: docker_registry
    repo: registry-1.docker.io
    image: library/postgres
    tag: 15.2-alpine3.17
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-6]
      - ^[0-9]\..*
      - ^1[0-4]\..*
  
  ###################
  # Apps : Download #
  ###################
  - name: Deluge Baseimage
    type: docker_registry
    repo: registry-1.docker.io
    image: emmercm/libtorrent
    tag: 1.2.14-alpine
    includes:
      - 1\.[0-9]+\.[0-9]+-alpine
    excludes:
      - ^1\.[0-1]\..*
      - ^1\.2\.[0-9]-alpine
      - ^1\.2\.1[0-3]-alpine
  - name: Deluge
    type: pypi
    package: deluge
    version: 2.1.1
    excludes: 
      - ^1\..*
  - name: Pyload Baseimage
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.11.2-slim-bullseye
    includes:
      - 3\.[0-9]+\.[0-9]+-slim-bullseye
    excludes:
      - ^3\.[0-9]\..*
      - ^3\.1[0]\..*
  - type: pypi
    package: pyload-ng
    version: 0.5.0b3.dev68
  - name: SABnzbd Baseimage
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.11.2-slim-bullseye
    includes:
      - 3\.[0-9]+\.[0-9]+-slim-bullseye
    excludes:
      - ^3\.[0-9]\..*
      - ^3\.1[0]\..*
  - name: SABnzbd
    type: github_release
    repo: sabnzbd/sabnzbd
    release: 3.7.2
    excludes:
      - .*(RC|Alpha|Beta).*
  - name: SABnzbd nzbToMedia
    type: github_release
    repo: clinton-hall/nzbToMedia
    release: 12.1.10
  - name: Sickchill Baseimage
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.11.2-slim-bullseye
    includes:
      - 3\.[0-9]+\.[0-9]+-slim-bullseye
    excludes:
      - ^3\.[0-9]\..*
      - ^3\.10\..*
      - ^3\.11\.[0]-.*
  - type: pypi
    package: sickchill
    version: 2023.1.2

  
  ###############
  # Apps : Home #
  ###############
  - type: docker_registry
    repo: registry-1.docker.io
    image: homeassistant/home-assistant
    tag: 2023.3.6
    includes:
      - ^[0-9][0-9][0-9][0-9]\.[0-9]+\.[0-9]+.*
    excludes:
      - .*dev
      - .*b[0-9]
      - (latest|stable|beta|dev|rc)
      - ^202[0-2]\..*
      - ^2023\.[0-2]\..*
  - type: github_commit
    repo: efficiosoft/ldap-auth-sh
    branch: master
    commit: 819f9233116e68b5af5a5f45167bcbb4ed412ed4
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/mysql
    tag: 8.0.32-debian
    includes:
      - ^[0-9]\.[0-9]+\.[0-9]+-debian
    excludes:
      - .*rc.*
      - ^[0-7]\..*
      - ^8\.0\.[0-9]-debian$
      - ^8\.0\.[1-2][0-9]-debian$
      - ^8\.0\.3[0]-debian$
  - type: docker_registry
    repo: registry-1.docker.io
    image: library/eclipse-mosquitto:
    tag: 2.0.15-openssl
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*-openssl"
    excludes:
      - latest
      - ^1\.
      - ^2\.0\.[0-9]-openssl$
      - ^2\.0\.1[0-4]-openssl$
  - type: docker_registry
    repo: registry-1.docker.io
    image: nodered/node-red
    tag: 3.0.2-18-minimal
    includes:
      - '[0-9]+\.[0-9]+\.[0-9]+-[0-9]+-minimal'
    excludes:
      - ^[1-2]\.
      - ^3\.0\.[0-1]-.*
      - .*-1[0-6]-minimal$
  - type: github_tag
    repo: vesse/node-ldapauth-fork
    tag: v5.0.5
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - '.*-rc.*'
  - type: github_tag
    repo: zachowj/node-red-contrib-home-assistant-websocket 
    tag: v0.48.1
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
  - type: github_tag
    repo: biddster/node-red-contrib-time-range-switch
    tag: 1.2.0
    includes:
      - '[0-9]+\.[0-9]+\.[0-9]+'
  # TODO : support NPM for nodered.additional_modules.node_red_contrib_stoptimer
  - type: docker_registry
    repo: registry-1.docker.io
    image: mkerix/room-assistant
    tag: 2.20.0
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*arm32
      - .*beta.*
      - ^[0-1]\..*
      - ^2\.[0-9]\..*
      - ^2\.1[0-9]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: esphome/esphome
    tag: 2023.3.2
    includes:
      - ^20[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - .*-(dev|beta).*
      - .*b[0-9]+$
      - ^202[0-2].*
      - ^2023\.[0-2]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: zwavejs/zwave-js-ui
    tag: 8.11.1
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - ^[1-7]\..*
      - ^8\.[0-9]\..*
      - ^8\.1[0]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: koenkk/zigbee2mqtt
    tag: 1.30.3
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - ^0\..*
      - ^1\.[0-9]\..*
      - ^1\.[1-2][0-9]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: blakeblackshear/frigate
    tag: 0.11.1
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+$
    excludes:
      - ^0\.[0-9]\..*
      - ^0\.1[0]\..*
      - .*nvidia.*

  ################
  # Apps : Infra #
  ################

  - type: github_release
    repo: kubernetes-sigs/metrics-server
    release: v0.6.3
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*beta.*
      - v0\.[0-5]\..*
  - type: github_release
    repo: kubernetes/dashboard
    release: v2.7.0
    excludes:
      - .*beta.*
      - .*rc.*
  - type: docker_registry
    repo: registry-1.docker.io
    image: quiq/docker-registry-ui
    tag: 0.9.6
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 0\.[0-8]\.
      - 0\.9\.[0-5]$
  - type: docker_registry
    repo: ghcr.io
    image: 0xerr0r/blocky
    tag: v0.21
    includes:
      - 'v[0-9]+\.[0-9]+'
    excludes:
      - v0\.[0-9]$
      - v0\.1[0-9]$
  - name: Blocky PostgreSQL
    type: docker_registry
    repo: registry-1.docker.io
    image: library/postgres
    tag: 15.2-alpine3.17
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-6]
      - ^[0-9]\..*
      - ^1[0-4]\..*
      - ^15\.[0-1]\..*
  - name: "Blocky Redis"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/redis
    tag: 7.0.8-alpine3.17
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-7]
      - ^[0-6]\.
      - ^7\.0\.[0-7]-.*
  - type: docker_registry
    repo: {{ ntfy.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ ntfy.base_image.name }}
    tag: {{ ntfy.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+-amd64
    excludes:
      - ^v[0-1]\..*
      - ^v2\.[0-2]\..*
  - type: docker_registry
    repo: {{ ntfy_alertmanager.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ ntfy_alertmanager.base_image.name }}
    tag: {{ ntfy_alertmanager.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^0\.[0-1]\..*
  - type: docker_registry
    name: Gandi LiveDNS Base image
    repo: registry-1.docker.io
    image: library/alpine
    tag: 3.17.3
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 3\.[0-9]\..*
      - 3\.1[0-6]\..*
      - .*rc.*
  - type: github_release
    repo: longhorn/longhorn
    release: v1.4.1
    excludes:
      - .*(alpha|beta|rc).*
      - v1\.[0-3]\..*
  - type: github_release
    repo: metallb/metallb
    release: v0.13.9
    excludes:
      - metallb-chart-.*
  - type: github_release
    repo: kubernetes/ingress-nginx
    release: controller-v1.7.0
    includes:
      - controller-v?[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - controller-v?0\.[0-9]+\.[0-9]+.*
      - controller-v?1\.[0-6]\..*
      - .*beta.*
  - type: docker_registry
    repo: registry-1.docker.io
    image: mailhog/mailhog
    tag: v1.0.1
    excludes:
      - latest
      - v1\.0\.0
  - type: docker_registry
    repo: registry-1.docker.io
    image: library/registry
    tag: 2.8.1
    includes:
      - "[2-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - .*beta.*
      - .*-rc\.[0-9]+
      - 2\.[0-7]\.
      - 2\.8\.[0]$
  - type: docker_registry
    repo: {{ reloader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ reloader.base_image.name }}
    tag: {{ reloader.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*SNAPSHOT.*
      - ^PR-.*
      - dev
      - v0\.
      - v1\.0\.[0-9]$
  - type: docker_registry
    repo: {{ unifi.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ unifi.base_image.name }}
    tag: {{ unifi.base_image.tag }}
    includes:
      - "^v?[0-9]+\\.[0-9]+\\.[0-9]+$"
    excludes:
      - ^v?[0-6]\.
      - ^v?7\.[0-2]\.
  - name: ZoneMTA
    type: github_tag
    repo: {{ zonemta.repo.name }}
    tag : {{ zonemta.repo.release }}
    includes:
      - ^v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^v[1-2]\.
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: {{ zonemta_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta_redis.base_image.name }}
    tag: {{ zonemta_redis.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-6]
      - ^[0-6]\.
      - ^7\.0\.[0-9]-.*
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: {{ zonemta_mongo.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta_mongo.base_image.name }}
    tag: {{ zonemta_mongo.base_image.tag }}
    includes:
      - '[0-9]+\.[0-9]+.[0-9]+-.*'
    excludes:
      - .*rc.*
      - .*-(nanoserver).*$
      - .*-focal$
      - ^[0-5]\..*
      - ^6\.0\.[0-4]-.*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: {{ zonemta.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta.base_image.name }}
    tag: {{ zonemta.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[0-6]
      - 1[0-8]\..*
      - 19\.[0-7]\..*
  - type: docker_registry
    repo: registry-1.docker.io
    image: intel/intel-gpu-plugin
    tag: 0.26.0
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+"
    excludes:
      - .*-rc.*
      - 0\.1[0-9]\..*
      - 0\.2[0-5]\..*
  
  ##################
  # Apps : Logging #
  ##################
  - type: docker_registry
    repo: {{ elasticsearch.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ elasticsearch.base_image.name }}
    tag: {{ elasticsearch.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - .*-rc.*
      - ^0\..*
      - ^1\..*
      - ^2\.[0-5]\..*
  - type: docker_registry
    repo: {{ elasticsearch_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ elasticsearch_exporter.base_image.name }}
    tag: {{ elasticsearch_exporter.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.0\..*
      - .*rc.*
  - type: docker_registry
    repo: {{ fluentbit.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ fluentbit.base_image.name }}
    tag: {{ fluentbit.base_image.tag }}
    includes:
      - "[1-9]\\.[0-9]+\\.[0-9].*"
    excludes:
      - .*debug.*
      - .*rc.*
      - .*dev.*
      - ^[0-1]\.
      - ^2\.0\.[0-8]
  - type: docker_registry
    repo: {{ fluentd.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ fluentd.base_image.name }}
    tag: {{ fluentd.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+-debian-amd64.*
    excludes:
      - v1\.[0-9]\..*
      - v1\.1[0-5]\..*
  - type: github_tag
    repo: fluent/fluent-plugin-opensearch
    tag: v{{ fluentd.plugins.opensearch.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v1\.[0-8]\..*
  - type: github_tag
    repo: fluent/fluent-plugin-prometheus
    tag: v{{ fluentd.plugins.prometheus.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v1\.[0-9]+\..*'
  - type: github_tag
    repo: bungoume/fluent-plugin-ua-parser
    tag: v{{ fluentd.plugins.ua_parser.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v0\..*'
  - type: github_tag
    repo: ua-parser/uap-core 
    tag: v{{ fluentd.plugins.uap_core.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\.[0-6]\..*
  - type: github_tag
    repo: y-ken/fluent-plugin-geoip
    tag: v{{ fluentd.plugins.geoip.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\..*
  - type: docker_registry
    repo: {{ kibana.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ kibana.base_image.name }}
    tag: {{ kibana.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - .*-(rc|beta).*
      - ^0\..*
      - ^1\..*
      - ^2\.[0-5]\..*
  
  #####################
  # Apps : Monitoring #
  #####################
  - type: github_commit
    repo: prometheus-operator/kube-prometheus
    branch: main
    commit: b076db6e884885fe96db2283cfce680a0145de47
  - type: docker_registry
    repo: {{ nginx_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nginx_exporter.base_image.name }}
    tag: {{ nginx_exporter.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+.[0-9]+
    excludes:
      - ^0\.[0-9]\..*
      - ^0\.1[0]\..*
  - type: docker_registry
    repo: {{ nginx_log_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nginx_log_exporter.base_image.name }}
    tag: {{ nginx_log_exporter.base_image.tag }}
    includes:
      - ^v[0-9]+\.[0-9]+.[0-9]+-amd64
    excludes:
      - ^v1\.[0-9]\..*
  - type: github_commit
    repo: Neraud/release-watcher
    branch: main
    commit: {{ release_watcher.repo.version }}
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: main
    commit: {{ apcups_exporter.repo.version }}


  #################
  # Apps : Stream #
  #################
  - type: docker_registry
    repo: {{ airsonic.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ airsonic.base_image.name }}
    tag: {{ airsonic.base_image.tag }}
    includes:
      - .*-SNAPSHOT.*
    excludes:
      - .*-SNAPSHOT.202[0-1].*
      - .*-SNAPSHOT.20220[1-5].*

  - type: docker_registry
    repo: {{ jellyfin.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ jellyfin.base_image.name }}
    tag: {{ jellyfin.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-amd64$
    excludes:
      - ^10\.[0-7]\..*
      - ^10\.8\.[0-8]-.*
  - name: Jellyfin inject conf
    type: docker_registry
    repo: {{ jellyfin.conf_injection_base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ jellyfin.conf_injection_base_image.name }}
    tag: {{ jellyfin.conf_injection_base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[0-5]
      - 3\.[0-9]\..*
      - 3\.10\.[0-7]-.*
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anidb
    tag: {{ jellyfin.plugins.anidb.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anilist
    tag: {{ jellyfin.plugins.anilist.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anisearch
    tag: {{ jellyfin.plugins.anisearch.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-ldapauth
    tag: {{ jellyfin.plugins.ldapauth.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-tvdb
    tag: {{ jellyfin.plugins.thetvdb.version }}
  
    

  ################
  # Apps : Tools #
  ################
  - name: Homepage
    type: docker_registry
    repo: {{ homepage.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ homepage.base_image.name }}
    tag: {{ homepage.base_image.tag }}
    includes:
      - ^v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^v0\.[0-5]\.
      - ^v0\.6\.[0-9]
  - name: Miniflux
    type: docker_registry
    repo: {{ miniflux.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ miniflux.base_image.name }}
    tag: {{ miniflux.base_image.tag }}
    includes:
      - ^[0-9]+.[0-9]+.[0-9]+-distroless$
    excludes:
      - ^1\..*
      - ^2.0.[0-9]-distroless$
      - ^2.0.[0-3][0-9]-distroless$
      - ^2.0.4[0-2]-distroless$
  - name: Miniflux PostgreSQL
    type: docker_registry
    repo: {{ miniflux_pgsql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ miniflux_pgsql.base_image.name }}
    tag: {{ miniflux_pgsql.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-6]
      - ^[0-9]\..*
      - ^1[0-4]\..*
  - name: "Reminiflux Node"
    type: docker_registry
    repo: {{ miniflux_reminiflux.base_builder_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ miniflux_reminiflux.base_builder_image.name }}
    tag: {{ miniflux_reminiflux.base_builder_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[0-6]
      - 1[0-8]\..*
      - 19\.[0-5]\..*
  - name: "Reminiflux Nginx"
    type: docker_registry
    repo: {{ miniflux_reminiflux.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ miniflux_reminiflux.base_image.name }}
    tag: {{ miniflux_reminiflux.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine$
    excludes:
      - 1\.[0-9]\..*
      - 1\.[0-1][0-9]\..*
      - 1\.2[0-2]\..*
      - 1\.23\.[0-2]-.*
  - name: Nextcloud
    type: docker_registry
    repo: {{ nextcloud.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nextcloud.base_image.name }}
    tag: {{ nextcloud.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-apache
    excludes:
      - ^[0-9]\..*
      - ^1[0-9]\..*
      - ^2[0-4]\..*
  - name: Nextcloud Calendar
    type: github_release
    repo: {{ nextcloud.applications.calendar.repo }}
    release: {{ nextcloud.applications.calendar.version }}
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-3]\..*
  - name: Nextcloud Contacts
    type: github_release
    repo: {{ nextcloud.applications.contacts.repo }}
    release: {{ nextcloud.applications.contacts.version }}
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-4]\..*
  - name: Nextcloud Notes
    type: github_release
    repo: {{ nextcloud.applications.notes.repo }}
    release: {{ nextcloud.applications.notes.version }}
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-3]\..*
  - name: Nextcloud Tasks
    type: github_release
    repo: {{ nextcloud.applications.tasks.repo }}
    release: {{ nextcloud.applications.tasks.version }}
    excludes:
      - .*(alpha|beta|rc).*
      - ^v0\.[0-9]\..*
      - ^v0\.1[0-3]\..*
  - name: Nextcloud Two Factor Totp
    type: github_release
    repo: {{ nextcloud.applications.twofactor_totp.repo }}
    release: {{ nextcloud.applications.twofactor_totp.version }}
    excludes:
      - .*(alpha|beta|rc).*
  - name: "Nextcloud MySQL"
    type: docker_registry
    repo: {{ nextcloud_mysql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nextcloud_mysql.base_image.name }}
    tag: {{ nextcloud_mysql.base_image.tag }}
    includes:
      - ^[0-9]\.[0-9]+\.[0-9]+-debian
    excludes:
      - .*rc.*
      - ^[0-7]\..*
      - ^8\.0\.[0-9]-.*
      - ^8\.0\.[1-2][0-9]-.*
      - ^8\.0\.3[0]-.*
  - name: "Nextcloud Redis"
    type: docker_registry
    repo: {{ nextcloud_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nextcloud_redis.base_image.name }}
    tag: {{ nextcloud_redis.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-6]
      - ^[0-6]\.
      - ^7\.0\.[0-9]-.*
  - name: Caldav recurring task scheduler
    type: github_commit
    repo: Neraud/caldav-recurring-task-scheduler
    branch: main
    commit: {{ nextcloud_task_rescheduler.repo.version }}
  - name: Paperless-ngx
    type: docker_registry
    repo: {{ _paperless_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _paperless_var_loader.base_image.name }}
    tag: {{ _paperless_var_loader.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*(beta|rc).*
      - ^0\..*
      - ^1\.[0-9]\..*
      - ^1\.1[0-2]\..*
  - name: "Paperless Redis"
    type: docker_registry
    repo: {{ paperless_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ paperless_redis.base_image.name }}
    tag: {{ paperless_redis.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-7]
      - ^[0-6]\.
      - ^7\.0\.[0-7]-.*
  - name: Paperless PostgreSQL
    type: docker_registry
    repo: {{ paperless_pgsql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ paperless_pgsql.base_image.name }}
    tag: {{ paperless_pgsql.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-6]
      - ^[0-9]\..*
      - ^1[0-4]\..*
  - name: OliveTin
    type: docker_registry
    repo: {{ _olivetin_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _olivetin_var_loader.base_image.name }}
    tag: {{ _olivetin_var_loader.base_image.tag }}
    includes:
      - 20[0-9][0-9]\.[0-9][0-9]\.[0-9][0-9]-amd64
    excludes:
      - ^202[0-2].*
      - ^2023-0[0-2].*
  - name: Syncthing
    type: docker_registry
    repo: {{ _syncthing_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _syncthing_var_loader.base_image.name }}
    tag: {{ _syncthing_var_loader.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^1\.[0-9]\.
      - ^1\.1[0-9]\.
      - ^1\.2[0-2]\.
  - name: Syncthing conf injection
    type: docker_registry
    repo: {{ _syncthing_var_loader.conf_injection_base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _syncthing_var_loader.conf_injection_base_image.name }}
    tag: {{ _syncthing_var_loader.conf_injection_base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[0-6]
      - 3\.[0-9]\..*
      - 3\.1[0]\..*
  - name: Syncthing Discovery
    type: docker_registry
    repo: {{ _syncthing_discovery_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _syncthing_discovery_var_loader.base_image.name }}
    tag: {{ _syncthing_discovery_var_loader.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^1\.[0-9]\.
      - ^1\.1[0-7]\.
      - ^1\.18\.[0-5]
