watchers:

  ###################
  # Native on hosts #
  ###################
  - type: pypi
    package: ansible
    version: 5.7.0
    excludes: 
      - .*[ab][1-9]$
      - .*rc[1-9]$
      - ^[0-4]\..*
      - ^5\.[0-6]\..*


  #################################
  # Installed by ansible on hosts #
  #################################
  - type: github_commit
    repo: spotify/docker-gc
    branch: master
    commit: 1e4dbcf1f683670432914be6701d22a0da82a530
  - type: github_commit
    repo: gluster/gluster-prometheus
    branch: master
    commit: 3ebaacc2c690223f77fc93f5f237ab5065138660
  - type: github_release
    repo: cafebazaar/keepalived-exporter
    release: v1.2.0
  

  ########
  # Misc #
  ########
  - type: docker_registry
    repo: {{ busybox.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ busybox.base_image.name }}
    tag: {{ busybox.base_image.tag }}
    includes:
      - "^[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - 1\.[0-2][0-9]\..*
      - 1\.3[0-3]\..*
  

  #########
  # Infra #
  #########
  - type: github_release
    repo: coreos/flannel
    release: v0.17.0
    excludes:
      - .*-rc[0-9]+.*
  - type: github_release
    repo: projectcalico/calico
    release: v3.23.0
    excludes:
      - v3\.1[0-9]\..*
      - v3\.2[0-2]\..*
  - type: docker_registry
    repo: ghcr.io
    image: k8snetworkplumbingwg/multus-cni
    tag: v3.8.1
    includes:
      - "^v[0-9]+\\.[0-9]+\\.[0-9]$"
    excludes:
      - v[0-2]\..*
      - v3\.[0-7](\..*)?


  ###############
  # Apps : Auth #
  ###############
  - type: docker_registry
    repo: {{ lemonldap.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ lemonldap.base_image.name }}
    tag: {{ lemonldap.base_image.tag }}
    excludes:
      - latest
      - ^1\.
      - ^2\.0\.[0-9]$
  - type: docker_registry
    repo: {{ openldap.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ openldap.base_image.name }}
    tag: {{ openldap.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+-amd64"
    excludes:
      - ^1\.[0-4]\.
  - name: phpLDAPadmin-php
    type: docker_registry
    repo: {{ phpldapadmin.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ phpldapadmin.base_image.name }}
    tag: {{ phpldapadmin.base_image.tag }}
    includes:
      - "7.3.[0-9]+-apache-buster"
    excludes:
      - "7.3.[0-9]-apache-buster"
      - "7.3.[0-2][0-9]-apache-buster"
  - type: github_tag
    repo: leenooks/phpLDAPadmin
    tag: {{ phpldapadmin.version }}
  
  ##############
  # Apps : Dev #
  ##############
  - type: docker_registry
    repo: {{ gitea.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ gitea.base_image.name }}
    tag: {{ gitea.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-rootless
    excludes:
      - ^0\..*
      - ^1\.[0-9]\..*
      - ^1\.1[0-5]\..*
  - name: Gitea PostgreSQL
    type: docker_registry
    repo: {{ gitea_pgsql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ gitea_pgsql.base_image.name }}
    tag: {{ gitea_pgsql.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-4]
      - ^[0-9]\..*
      - ^1[0-3]\..*
  
  ###################
  # Apps : Download #
  ###################
  - name: Deluge Baseimage
    type: docker_registry
    repo: {{ deluge_base.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ deluge_base.base_image.name }}
    tag: {{ deluge_base.base_image.tag }}
    includes:
      - 1\.[0-9]+\.[0-9]+-alpine
    excludes:
      - ^1\.[0-1]\..*
      - ^1\.2\.[0-9]-alpine
  - name: Deluge
    type: pypi
    package: deluge
    version: {{ deluge.version }}
    excludes: 
      - ^1\..*
  - type: github_commit
    repo: {{ pyload.repo.name }}
    branch: {{ pyload.repo.branch }}
    commit: {{ pyload.repo.commit }}
  - name: SABnzbd Baseimage
    type: docker_registry
    repo: {{ sabnzbd.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ sabnzbd.base_image.name }}
    tag: {{ sabnzbd.base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-slim-bullseye
    excludes:
      - ^3\.[0-9]\..*
  - name: SABnzbd
    type: github_release
    repo: {{ sabnzbd.repo.name }}
    release: {{ sabnzbd.repo.version }}
    excludes:
      - .*(RC|Alpha|Beta).*
  - name: SABnzbd nzbToMedia
    type: github_release
    repo: {{ sabnzbd.nzbToMedia.repo.name }}
    release: {{ sabnzbd.nzbToMedia.repo.version }}
  - name: Sickchill Baseimage
    type: docker_registry
    repo: {{ sickchill.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ sickchill.base_image.name }}
    tag: {{ sickchill.base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-slim-bullseye
    excludes:
      - ^3\.[0-9]\..*
  - type: pypi
    package: sickchill
    version: {{ sickchill.version }}

  
  ###############
  # Apps : Home #
  ###############
  - type: docker_registry
    repo: {{ homeassistant.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ homeassistant.base_image.name }}
    tag: {{ homeassistant.base_image.tag }}
    includes:
      - ^[0-9][0-9][0-9][0-9]\.[0-9]+\.[0-9]+.*
    excludes:
      - .*dev
      - .*b[0-9]
      - (latest|stable|beta|dev|rc)
      - ^202[01]\..*
      - ^2022\.[1-4]\..*
  - type: github_commit
    repo: efficiosoft/ldap-auth-sh
    branch: master
    commit: 819f9233116e68b5af5a5f45167bcbb4ed412ed4
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: {{ homeassistant_mysql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ homeassistant_mysql.base_image.name }}
    tag: {{ homeassistant_mysql.base_image.tag }}
    includes:
      - ^[0-9]\.[0-9]+\.[0-9]+-debian
    excludes:
      - .*rc.*
      - ^[0-7]\..*
      - ^8\.0\.[0-9]$
      - ^8\.0\.1[0-9]$
      - ^8\.0\.2[0-7]$
  - type: docker_registry
    repo: {{ mosquitto.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ mosquitto.base_image.name }}
    tag: {{ mosquitto.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*-openssl"
    excludes:
      - latest
      - ^1\.
      - ^2\.0\.[0-9]-openssl$
  - type: docker_registry
    repo: {{ nodered.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nodered.base_image.name }}
    tag: {{ nodered.base_image.tag }}
    includes:
      - '[0-9]+\.[0-9]+\.[0-9]+-[0-9]+-minimal'
    excludes:
      - ^1\.
      - ^2\.[0-1]\.
  - type: github_tag
    repo: vesse/node-ldapauth-fork
    tag: v{{ nodered.additional_modules.ldapauth_fork.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - '.*-rc.*'
  - type: github_tag
    repo: zachowj/node-red-contrib-home-assistant-websocket 
    tag: v{{ nodered.additional_modules.node_red_contrib_home_assistant_websocket.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
  - type: github_tag
    repo: biddster/node-red-contrib-time-range-switch
    tag: {{ nodered.additional_modules.node_red_contrib_time_range_switch.version }}
    includes:
      - '[0-9]+\.[0-9]+\.[0-9]+'
  # TODO : support NPM for nodered.additional_modules.node_red_contrib_stoptimer
  - type: docker_registry
    repo: {{ roomassistant.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ roomassistant.base_image.name }}
    tag: {{ roomassistant.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*arm32
      - .*beta.*
      - ^[0-1]\..*
      - ^2\.[0-9]\..*
      - ^2\.1[0-9]\..*
  - type: docker_registry
    repo: {{ esphome.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ esphome.base_image.name }}
    tag: {{ esphome.base_image.tag }}
    includes:
      - ^20[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - .*-(dev|beta).*
      - .*b[0-9]+$
      - ^202[0-1].*
      - ^2022\.[0-3].*
  - type: docker_registry
    repo: {{ zwavejs2mqtt.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zwavejs2mqtt.base_image.name }}
    tag: {{ zwavejs2mqtt.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - ^[1-5]\..*
      - ^6\.[0-8]\..*
  - type: docker_registry
    repo: {{ zigbee2mqtt.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zigbee2mqtt.base_image.name }}
    tag: {{ zigbee2mqtt.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*$
    excludes:
      - ^0\..*
      - ^1\.[0-9]\..*
      - ^1\.1[0-9]\..*
      - ^1\.2[0-4]\..*
  - type: docker_registry
    repo: {{ frigate.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ frigate.base_image.name }}
    tag: {{ frigate.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-amd64
    excludes:
      - ^0\.[0-9]\..*
      - .*nvidia.*

  ################
  # Apps : Infra #
  ################

  - type: github_release
    repo: kubernetes-sigs/metrics-server
    release: {{ kubernetes_metrics_server.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*beta.*
      - v0\.[0-5]\..*
  - type: github_release
    repo: kubernetes/dashboard
    release: {{ kubernetes_dashboard.base_image.tag }}
    excludes:
      - .*beta.*
      - .*rc.*
  - type: docker_registry
    repo: {{ docker_registry_ui.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ docker_registry_ui.base_image.name }}
    tag: {{ docker_registry_ui.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 0\.[0-8]\.
  - type: docker_registry
    repo: {{ blocky.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ blocky.base_image.name }}
    tag: {{ blocky.base_image.tag }}
    includes:
      - 'v[0-9]+\.[0-9]+'
    excludes:
      - v0\.[0-9]$
      - v0\.1[0-7]$
  - name: Blocky PostgreSQL
    type: docker_registry
    repo: {{ blocky_pgsql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ blocky_pgsql.base_image.name }}
    tag: {{ blocky_pgsql.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-4]
      - ^[0-9]\..*
      - ^1[0-3]\..*
  - name: "Blocky Redis"
    type: docker_registry
    repo: {{ blocky_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ blocky_redis.base_image.name }}
    tag: {{ blocky_redis.base_image.tag }}
    includes:
      - "[6-9]\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-4]
      - ^6\.[0-1]\.
  - type: docker_registry
    repo: {{ gotify.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ gotify.base_image.name }}
    tag: {{ gotify.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 1\..*
      - ^2\.0\.
  - type: docker_registry
    name: Gandi LiveDNS Base image
    repo: {{ _gandi_livedns_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _gandi_livedns_var_loader.base_image.name }}
    tag: {{ _gandi_livedns_var_loader.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - 3\.[0-9]\..*
      - 3\.1[0-4]\..*
      - .*rc.*
  - type: github_release
    repo: metallb/metallb
    release: v0.12.1
    excludes:
      - metallb-chart-.*     
  - type: github_release
    repo: kubernetes/ingress-nginx
    release: controller-v1.1.2
    includes:
      - controller-v?[0-9]+\.[0-9]+\.[0-9]+.*
    excludes:
      - controller-v?0\.[0-9]+\.[0-9]+.*
      - controller-v?1\.0\..*
      - beta
  - type: docker_registry
    repo: {{ mailhog.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ mailhog.base_image.name }}
    tag: {{ mailhog.base_image.tag }}
    excludes:
      - latest
  - type: docker_registry
    repo: {{ docker_registry.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ docker_registry.base_image.name }}
    tag: {{ docker_registry.base_image.tag }}
    includes:
      - "[2-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - latest
      - beta
      - .*-rc\.[0-9]+
      - 2\.[0-7]\.
  - type: docker_registry
    repo: {{ reloader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ reloader.base_image.name }}
    tag: {{ reloader.base_image.tag }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*SNAPSHOT.*
      - ^PR-.*
      - dev
      - v0\.0\.[0-9]?[0-9]$
      - v0\.0\.10[0-9]$
  - type: docker_registry
    repo: {{ unifi.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ unifi.base_image.name }}
    tag: {{ unifi.base_image.tag }}
    includes:
      - "^v?[0-9]+\\.[0-9]+\\.[0-9]+$"
    excludes:
      - ^v?[0-6]\.
      - ^v?7\.0\.
  - name: ZoneMTA
    type: github_tag
    repo: {{ zonemta.repo.name }}
    tag : {{ zonemta.repo.release }}
    includes:
      - ^v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^v[1-2]\.
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: {{ zonemta_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta_redis.base_image.name }}
    tag: {{ zonemta_redis.base_image.tag }}
    includes:
      - "[6-9]\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-4]
      - ^6\.[0-1]\.
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: {{ zonemta_mongo.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta_mongo.base_image.name }}
    tag: {{ zonemta_mongo.base_image.tag }}
    includes:
      - '[0-9]+\.[0-9]+.[0-9]+-.*'
    excludes:
      - .*rc.*
      - .*-(nanoserver).*$
      - ^[0-4]\..*
      - ^5\.0\.[0-3]-.*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: {{ zonemta.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ zonemta.base_image.name }}
    tag: {{ zonemta.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[0-4]
      - 1[0-6]\.[0-9]\..*
      - 17\.[0-6]\..*
  - type: docker_registry
    repo: {{ intel_gpu_plugin.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ intel_gpu_plugin.base_image.name }}
    tag: {{ intel_gpu_plugin.base_image.tag }}
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+"
    excludes:
      - .*-rc.*
      - 0\.1[0-9]\..*
      - 0\.2[0-3]\..*
  
  ##################
  # Apps : Logging #
  ##################
  - type: docker_registry
    repo: {{ elasticsearch.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ elasticsearch.base_image.name }}
    tag: {{ elasticsearch.base_image.tag }}
    excludes:
      - latest
      - .*-rc.*
      - ^0\..*
      - ^1\.[0-1]\..*
      - ^1\.2\..*
  - type: docker_registry
    repo: {{ elasticsearch_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ elasticsearch_exporter.base_image.name }}
    tag: {{ elasticsearch_exporter.base_image.tag }}
    excludes:
      - latest
      - ^0\..*
      - ^1\.0\..*
      - .*rc.*
  - type: docker_registry
    repo: {{ fluentbit.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ fluentbit.base_image.name }}
    tag: {{ fluentbit.base_image.tag }}
    includes:
      - "[1-9]\\.[0-9]+\\.[0-9].*"
    excludes:
      - .*debug.*
      - .*rc.*
      - .*dev.*
      - ^0\.
      - 1\.[0-8]\..*
      - 1\.9\.[0-2]$
  - type: docker_registry
    repo: {{ fluentd.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ fluentd.base_image.name }}
    tag: {{ fluentd.base_image.tag }}
    includes:
      - v[1-9]\.[0-9]+\.[0-9]+-debian.*
    excludes:
      - .*(armhf|arm64).*
      - v1\.[0-9]\..*
      - v1\.1[0-3]\..*
      - v1\.14\.[0-5]-.*
  - type: github_tag
    repo: uken/fluent-plugin-elasticsearch
    tag: v{{ fluentd.plugins.elasticsearch.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v[1-4]\..*'
  - type: github_tag
    repo: fluent/fluent-plugin-prometheus
    tag: v{{ fluentd.plugins.prometheus.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v1\.[0-9]+\..*'
  - type: github_tag
    repo: bungoume/fluent-plugin-ua-parser
    tag: v{{ fluentd.plugins.ua_parser.version }}
    includes:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
    excludes:
      - 'v0\..*'
  - type: github_tag
    repo: ua-parser/uap-core 
    tag: v{{ fluentd.plugins.uap_core.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\.[0-6]\..*
  - type: github_tag
    repo: y-ken/fluent-plugin-geoip
    tag: v{{ fluentd.plugins.geoip.version }}
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\..*
  - type: docker_registry
    repo: {{ kibana.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ kibana.base_image.name }}
    tag: {{ kibana.base_image.tag }}
    excludes:
      - latest
      - .*-(rc|beta).*
      - ^0\..*
      - ^1\.[0-2]\..*
  
  #####################
  # Apps : Monitoring #
  #####################
  - type: github_commit
    repo: prometheus-operator/kube-prometheus
    branch: main
    commit: 373e2b415bd0ddbcb049dea54db80c2a78b76945
  - type: github_commit
    repo: gluster/gluster-mixins
    branch: master
    commit: a6a02d24ffe92ee38fcfb80f38fc75c4f952e626
  - type: docker_registry
    repo: {{ nginx_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nginx_exporter.base_image.name }}
    tag: {{ nginx_exporter.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+.[0-9]+
    excludes:
      - ^0\.[0-9]\..*
  - type: docker_registry
    repo: {{ nginx_log_exporter.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ nginx_log_exporter.base_image.name }}
    tag: {{ nginx_log_exporter.base_image.tag }}
    includes:
      - ^v[0-9]+\.[0-9]+.[0-9]+
    excludes:
      - ^v1\.[0-8]\..*
  - type: github_commit
    repo: Neraud/release-watcher
    branch: main
    commit: {{ release_watcher.repo.version }}
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: main
    commit: {{ apcups_exporter.repo.version }}


  #################
  # Apps : Stream #
  #################
  - type: docker_registry
    repo: {{ airsonic.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ airsonic.base_image.name }}
    tag: {{ airsonic.base_image.tag }}
    includes:
      - .*-SNAPSHOT.*
    excludes:
      - .*-SNAPSHOT.202[0-1].*
      - .*-SNAPSHOT.20220[1-2].*

  - type: docker_registry
    repo: {{ jellyfin.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ jellyfin.base_image.name }}
    tag: {{ jellyfin.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-amd64$
    excludes:
      - ^10\.[0-6]\..*
      - ^10\.7\.[0-6]-.*
  - name: Jellyfin inject conf
    type: docker_registry
    repo: {{ jellyfin.conf_injection_base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ jellyfin.conf_injection_base_image.name }}
    tag: {{ jellyfin.conf_injection_base_image.tag }}
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.[0-9]$
      - .*-alpine3\.1[04]
      - 3\.[0-8]\..*
      - 3\.9\.[0-9]-.*
      - 3\.9\.1[0]-.*
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anidb
    tag: {{ jellyfin.plugins.anidb.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anilist
    tag: {{ jellyfin.plugins.anilist.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anisearch
    tag: {{ jellyfin.plugins.anisearch.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-ldapauth
    tag: {{ jellyfin.plugins.ldapauth.version }}
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-tvdb
    tag: {{ jellyfin.plugins.thetvdb.version }}
  
  ##############
  # Apps : Web #
  ##############
  - name: Homer NGinx
    type: docker_registry
    repo: {{ homer.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ homer.base_image.name }}
    tag: {{ homer.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine$
    excludes:
      - ^1\.[0-9]\..*-alpine$
      - ^1\.1[0-9]\..*-alpine$
      - ^1\.2[0]\..*-alpine$
      - ^1\.21\.[0-5]-alpine$
  - name: Homer
    type: github_release
    repo: bastienwirtz/homer
    release: {{ homer.release }}
    
  - name: TT-RSS PHP
    type: docker_registry
    repo: {{ ttrss.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ ttrss.base_image.name }}
    tag: {{ ttrss.base_image.tag }}
    includes:
      - '8\.[0-9]+.[0-9]+-apache-buster'
    excludes:
      - '8\.0\.[0-9]-apache-buster'
      - '8\.0\.1[0-8]-apache-buster'
  - name: TT-RSS
    type: raw_html
    page_url: https://git-gitea.tt-rss.org/fox/tt-rss/commits/master
    id: {{ ttrss.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS Data migration
    type: raw_html
    page_url: {{ ttrss.plugins.data_migration.repo_url }}/commits/{{ ttrss.plugins.data_migration.branch }}
    id: {{ ttrss.plugins.data_migration.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS Auth LDAP
    type: github_commit
    repo: {{ ttrss.plugins.auth_ldap.github_repo }}
    branch: {{ ttrss.plugins.auth_ldap.branch }}
    commit: {{ ttrss.plugins.auth_ldap.commit }}
  - name: TT-RSS Mailer SMTP
    type: raw_html
    page_url: {{ ttrss.plugins.mailer_smtp.repo_url }}/commits/{{ ttrss.plugins.mailer_smtp.branch }}
    id: {{ ttrss.plugins.mailer_smtp.commit }}
    container_selector: "#commits-table"
    item_selector: "tbody tr"
    id_selector: "[class~=shortsha]"
    id_attribute: ""
    date_selector: "[class~=time-since]"
    date_attribute: "title"
  - name: TT-RSS PostgreSQL
    type: docker_registry
    repo: {{ ttrss_pgsql.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ ttrss_pgsql.base_image.name }}
    tag: {{ ttrss_pgsql.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
    excludes:
      - .*-alpine3\.1[0-4]
      - ^[0-9]\..*
      - ^1[0-3]\..*

  ################
  # Apps : Tools #
  ################
  - name: Paperless-ng
    type: docker_registry
    repo: {{ _paperless_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _paperless_var_loader.base_image.name }}
    tag: {{ _paperless_var_loader.base_image.tag }}
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^0\..*
      - ^1\.[0-4]\..*
  - name: "Paperless Redis"
    type: docker_registry
    repo: {{ paperless_redis.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ paperless_redis.base_image.name }}
    tag: {{ paperless_redis.base_image.tag }}
    includes:
      - "[6-9]\\.[0-9]+\\.[0-9]+.*alpine[0-9]+\\.[0-9][0-9]"
    excludes:
      - .*alpine3\.1[0-4]
      - ^6\.[0-1]\.
  - name: OliveTin
    type: docker_registry
    repo: {{ _olivetin_var_loader.base_image.repo | regex_replace('^docker.io$', 'registry-1.docker.io') | default('registry-1.docker.io') }}
    image: {{ _olivetin_var_loader.base_image.name }}
    tag: {{ _olivetin_var_loader.base_image.tag }}
    includes:
      - 20[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-amd64
    excludes:
      - ^202[0-1].*
      - ^2022-0[0-3].*
