apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana
  namespace: {{ kibana.namespace }}
  labels:
    {{ kibana.labels_def | to_nice_yaml() | indent(4) }}
    {{ kibana.labels_desc | to_nice_yaml() | indent(4) }}
data:
  kibana.yml: |
    {{ lookup('template', role_path + '/app/config/kibana.yml.j2') | replace('\n', '\n    ') }}
