apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana
  namespace: {{ kibana.namespace }}
  labels:
    app.kubernetes.io/name: kibana
    app.kubernetes.io/component: kibana
data:
  kibana.yml: |
    {{ lookup('template', role_path + '/app/config/kibana.yml.j2') | replace('\n', '\n    ') }}
