apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: k8s
  namespace: {{ prometheus.namespace }}
  labels:
    {{ alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  initContainers:
  - name: create-folders
    image: "{{ busybox.private_image | image_full_name }}"
    imagePullPolicy: Always
    command:
      - "sh"
      - "-c"
      - |
        mkdir -p /data/alertmanager-db
        chown -R 1000:1000 /data/alertmanager-db
    securityContext:
      runAsUser: 0
      runAsNonRoot: False
    volumeMounts:
    - name: alertmanager-k8s-pv-claim
      mountPath: /data
  image: "{{ alertmanager.private_image | image_full_name }}"
  imagePullSecrets:
  - name: docker-config
  podMetadata:
    labels:
      {{ alertmanager.labels_def | to_nice_yaml() | indent(6) }}
      {{ alertmanager.labels_desc | to_nice_yaml() | indent(6) }}
  nodeSelector:
    kubernetes.io/os: linux
    capability/general-purpose: 'yes'
  replicas: 1
  externalUrl: https://infra.{{ web_base_domain }}/alertmanager/
  secrets:  # The Secrets are mounted into /etc/alertmanager/secrets/<secret-name>
  - cluster-ca
  resources:
    requests:
      cpu: "{{ alertmanager.container.requests_cpu  }}"
      memory: "{{ alertmanager.container.requests_memory  }}"
    limits:
      cpu: "{{ alertmanager.container.limits_cpu  }}"
      memory: "{{ alertmanager.container.limits_memory  }}"
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
    # TODO : readOnlyRootFilesystem is present in the CRD, but it doesn't get injected at the container level
    # I guess this section is only applied at the POD level.
    #readOnlyRootFilesystem: true
  serviceAccountName: alertmanager-k8s
  storage:
    volumeClaimTemplate:
      metadata:
        name: alertmanager-k8s-pv-claim
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: {{ kubernetes_longhorn_low_durability_storage_class_name }}
        resources:
          requests:
            storage: {{ alertmanager.container.storage.data }}

