apiVersion: v1
kind: ServiceAccount
metadata:
  name: alertmanager-k8s
  namespace: {{ prometheus.namespace }}
  labels:
    {{ alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
