apiVersion: v1
kind: Service
metadata:
  name: alertmanager-k8s
  namespace: {{ prometheus.namespace }}
  labels:
    {{ alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: alertmanager-k8s
spec:
  ports:
  - name: web
    port: 9093
    targetPort: web
  - name: reloader-web
    port: 8080
    targetPort: reloader-web
  selector:
    {{ alertmanager.labels_def | to_nice_yaml() | indent(4) }}
  sessionAffinity: ClientIP
