apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ application_namespace }}.{{ volume_name }}
{% if volume_conf.labels | default([]) | length > 0%}
  labels:
    app_namespace: {{ application_namespace }}
{% for label_name, label_value in volume_conf.labels.items() %}
    {{ label_name }}: {{ label_value }}
{% endfor %}
{% endif %}
spec:
  capacity:
    storage: 1M
  accessModes: [ "ReadWriteOnce", "ReadOnlyMany", "ReadWriteMany" ]
  persistentVolumeReclaimPolicy: {{ volume_conf.reclaim_policy }}
  storageClassName: {{ kubernetes_nas_nfs_storage_class_name }}
  nfs:
    server: {{ volume_conf.nfs_server }}
    path: {{ volume_conf.nfs_path }}

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ volume_name }}
  namespace: {{ application_namespace }}
spec:
  accessModes: [ "ReadWriteMany" ]
  storageClassName: {{ kubernetes_nas_nfs_storage_class_name }}
  resources:
    requests:
      storage: 1M
  selector:
    matchLabels:
      app_namespace: {{ application_namespace }}
{% for label_name, label_value in volume_conf.labels.items() %}
      {{ label_name }}: {{ label_value }}
{% endfor %}
