apiVersion: v1
kind: Secret
metadata:
  name: ingress-tls
  namespace: {{ application_namespace }}
  labels:
    {{ ingress_nginx.labels_def | to_nice_yaml() | indent(4) }}
data:
  tls.key: {{ ingress_tls_key_file.content }}
  tls.crt: {{ ingress_tls_cert_file.content }}
