{
    "file": 3, 
    "format": 1
}{
    "hosts": [
        [
            "deluge-daemon", 
            "deluge-daemon", 
            58846, 
            "{{ deluge_web.daemon_user.name }}", 
            "{{ deluge_web.daemon_user.password }}"
        ]
    ]
}
