apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: homeassistant
  namespace: default
  labels:
    app: homeassistant
    app-component: homeassistant
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: homeassistant
      app-component: homeassistant
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: homeassistant
        app-component: homeassistant
    spec:
      containers:
      - image: {{ kubernetes_registry_url }}/homeassistant
        name: homeassistant
        ports:
        - containerPort: 8123
          name: homeassistant
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: homeassistant-pv-claim
          mountPath: /config
        - mountPath: /opt/ldap-auth
          name: homeassistant-ldap-auth
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.cert
          subPath: ca.crt
        resources:
          requests:
            cpu: "{{ homeassistant_homeassistant_requests_cpu | default("500m") }}"
            memory: "{{ homeassistant_homeassistant_requests_memory | default("512Mi") }}"
          limits:
            cpu: "{{ homeassistant_homeassistant_limits_cpu | default("1000m") }}"
            memory: "{{ homeassistant_homeassistant_limits_memory | default("512Mi") }}"
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: homeassistant-ldap-auth
        configMap:
          name: homeassistant-ldap-auth
          defaultMode: 0755
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/home: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: homeassistant-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          app: homeassistant
          app-component: homeassistant
