apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: homeassistant
  namespace: default
  labels:
    app: homeassistant
    tier: frontend
spec:
  selector:
    matchLabels:
      app: homeassistant
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: homeassistant
        tier: frontend
    spec:
      containers:
      - image: homeassistant/home-assistant
        name: homeassistant
        ports:
        - containerPort: 8123
          name: homeassistant
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: homeassistant-pv-claim
          mountPath: /config
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      nodeSelector:
        capability/home: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: homeassistant-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 1G
      selector:
        matchLabels:
          app: homeassistant
          tier: frontend
