apiVersion: v1
kind: ConfigMap
metadata:
  name: homeassistant-ldap-auth
  namespace: default
  labels:
    app: homeassistant
    app-component: homeassistant
data:
  config.cfg: |-
    {{ lookup('template', kubernetes_app_root_path + '/home/homeassistant/config/ldap-auth/config.cfg.j2') | replace('\n', '\n    ') }}
