apiVersion: v1
kind: ServiceAccount
metadata:
  name: blackbox-exporter
  namespace: {{ blackbox_exporter.namespace }}
  labels:
    {{ blackbox_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ blackbox_exporter.labels_desc | to_nice_yaml() | indent(4) }}
