apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
clusterName: {{ kubernetes_cluster_name }}
controlPlaneEndpoint: {{ kubernetes_apiserver_bind_ip }}:{{ haproxy_kubernetes_apiserver_port }}
networking:
  podSubnet: {{ kubernetes_pod_network_cidr }}

# To allow Prometheus to gather metrics from kube controllerManager and scheduler,
# we need to bind on 0.0.0.0 and not the dedault 127.0.0.1
controllerManager:
  extraArgs:
    bind-address: 0.0.0.0
scheduler:
  extraArgs:
    bind-address: 0.0.0.0

---

apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
{% if kubernetes_apiserver_ip is defined %}
  advertiseAddress: "{{ kubernetes_apiserver_ip }}"
{% endif %}

---

apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
# TODO : Fix kubelet serving certificate
# Enabling serverTLSBootstrap allows Kubelet to have proper serving certificates
# However, it requires to manually accept them (`kubectl get csr`, `kubectl certificate approve`
# See https://github.com/kubernetes/kubeadm/issues/1223
#serverTLSBootstrap: true
