apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
    {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ phpldapadmin.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ phpldapadmin.labels_def | to_nice_yaml() | indent(8) }}
        {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - image: "{{ phpldapadmin.container.image }}"
        name: phpldapadmin
        ports:
          - name: http
            containerPort: 80
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /
            port: http
        resources:
          requests:
            cpu: "{{ phpldapadmin.container.requests_cpu }}"
            memory: "{{ phpldapadmin.container.requests_memory }}"
          limits:
            cpu: "{{ phpldapadmin.container.limits_cpu }}"
            memory: "{{ phpldapadmin.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: config-volume
          mountPath: /opt/phpldapadmin/config/config.php
          subPath: config.php
        - name: config-volume
          mountPath: /etc/ldap/ldap.conf
          subPath: ldap.conf
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: config-volume
        secret:
          secretName: phpldapadmin-config
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/general-purpose: 'yes'
