apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
    {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ phpldapadmin.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ phpldapadmin.labels_def | to_nice_yaml() | indent(8) }}
        {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - image: "{{ phpldapadmin.container.image }}"
        name: phpldapadmin
        ports:
          - name: http
            containerPort: 80
        resources:
          requests:
            cpu: "{{ phpldapadmin.container.requests_cpu }}"
            memory: "{{ phpldapadmin.container.requests_memory }}"
          limits:
            cpu: "{{ phpldapadmin.container.limits_cpu }}"
            memory: "{{ phpldapadmin.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: config-volume
          mountPath: /container/environment/01-custom
        - name: cluster-ca-volume
          # workaround : the container chown the /container/service/ldap-client/assets/certs folder, so we can't mount a secret directly inside it
          mountPath: /container/service/ldap-client/assets/server-certs/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: config-volume
        secret:
          secretName: phpldapadmin-config
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      nodeSelector:
        capability/general-purpose: 'yes'
