apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
    {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if phpldapadmin.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
{% endif %}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - phpldapadmin.auth.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: phpldapadmin.auth.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if phpldapadmin.context_root == '' else phpldapadmin.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: phpldapadmin
            port:
              name: http
