apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    app: phpldapadmin
spec:
  tls:
    - hosts:
      - infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
      - path: /phpldapadmin
        backend:
          serviceName: phpldapadmin
          servicePort: 80
