kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    app.kubernetes.io/name: phpldapadmin
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: phpldapadmin
      app.kubernetes.io/component: phpldapadmin

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: http
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
