apiVersion: v1
kind: Secret
metadata:
  name: phpldapadmin-config
  namespace: {{ phpldapadmin.namespace }}
  labels:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
    {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(4) }}
data:
  config.php: {{ lookup('template', role_path + '/app/config/config.php.j2') | b64encode }}
  ldap.conf: {{ lookup('template', role_path + '/app/config/ldap.conf.j2') | b64encode }}
