apiVersion: v1
kind: Service
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
    {{ phpldapadmin.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    name: http
  selector:
    {{ phpldapadmin.labels_def | to_nice_yaml() | indent(4) }}
