apiVersion: v1
kind: Service
metadata:
  name: phpldapadmin
  namespace: {{ phpldapadmin.namespace }}
  labels:
    app: phpldapadmin
spec:
  ports:
  - port: 80
    name: http
  selector:
    app: phpldapadmin
    app-component: phpldapadmin
