apiVersion: apps/v1
kind: Deployment
metadata:
  name: blocky
  namespace: {{ blocky.namespace }}
  labels:
    {{ blocky.labels_def | to_nice_yaml() | indent(4) }}
    {{ blocky.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: {{ blocky.container.replicas }}
  selector:
    matchLabels:
      {{ blocky.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ blocky.labels_def | to_nice_yaml() | indent(8) }}
        {{ blocky.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: blocky
        image: "{{ blocky.private_image | image_full_name }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
          name: http
        - name: dns
          containerPort: 53
          protocol: TCP
        - name: dns-udp
          containerPort: 53
          protocol: UDP
        securityContext:
          runAsNonRoot: true
          runAsUser: 100 # blocky
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: "{{ blocky.container.requests_cpu }}"
            memory: "{{ blocky.container.requests_memory }}"
          limits:
            cpu: "{{ blocky.container.limits_cpu }}"
            memory: "{{ blocky.container.limits_memory }}"
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /
            port: http
          initialDelaySeconds: 3
          periodSeconds: 5
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: blocky-config
          mountPath: /app/config.yml
          subPath: config.yml
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: blocky-config
        configMap:
          name: blocky-config
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
