apiVersion: v1
kind: Secret
metadata:
  name: pgsql-pass
  namespace: {{ blocky.namespace }}
  labels:
    {{ blocky_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ blocky_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ blocky_pgsql.password | b64encode }}

