apiVersion: v1
kind: Secret
metadata:
  name: pgsql-config
  namespace: {{ blocky.namespace }}
  labels:
    {{ blocky_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ blocky_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  pg_readonly.sql: |
    {{ lookup('template', role_path + '/app/config/pg_readonly.sql.j2')  | b64encode }}
