apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: "{{ blocky.namespace }}"
  labels:
    {{ blocky_redis.labels_def | to_nice_yaml() | indent(4) }}
    {{ blocky_redis.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 6379
    name: redis
    targetPort: redis
  selector:
    {{ blocky_redis.labels_def | to_nice_yaml() | indent(4) }}
