{
	"data": "ENC[AES256_GCM,data:t/cyeDCAhY4ho0LHXbsHXXmaYY1eRSilMcwGZATN1FHGV1KeCg3C23XK56aBSzBLINISsk1McS4+ll9pPtVGqdRZbZN/d4GOdPR3xG7DBRdZFOE=,iv:eEUeSdRVNBQiJoQRE0utBWpxQCkZz3TJ0dI5RG7q1Nk=,tag:TWoyS90/GonQMSQTEU2U1Q==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1ykc9cp7e7sylr09ldufwd337h6kvghn8ga250unudvxxlaczpuzsv04rqn",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXVzc5aVlMUUZZT2xuREhY\nR3pNbXk1cytqdXdJN0wyZmpQc3dSVTBoUDF3CmtYT2JJWVFjcWk2UmMwdXBPYlIz\nZVVNaTZnRlVEMkpHYjRuMG5DcGo2VHMKLS0tIHJUbDNtT1VEb1dSTFE5aWpObHJH\nMGo4dWFiWHpubDc5ajU3YkJVL0JVb1EKQnSigMGd/gYwP6T2HfCakUZYSYTM+jlS\nyc/G8cGi7uSJMn0Ucfg/GFT8BUxifYZp6LJFqlo3atwImvwbZbCZXg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-07-02T14:56:43Z",
		"mac": "ENC[AES256_GCM,data:uAD61LZtG57F9wgZ8/saaUnoL3kMsvITNg0s08HEWjhQaFgQ/WxKyklcByfJo2UGm6ynsyPoAJSc/5R/oHASJzF2aYZJMLcLAmYG55vOJvF40GeLvFhsBcaia0Fa7eKjba+073im4B9l14G8ebBaxYHwmHx+lwisWBX+J6BzGT0=,iv:OY3IKQypmw2vMIaijJzjpONTPBe5EvXe6ZLLmxAXmk4=,tag:0Qn2XU+Fxrb4G5KWQT0lqw==,type:str]",
		"pgp": null,
		"unencrypted_regex": "^(apiVersion|metadata|kind|type)$",
		"version": "3.7.3"
	}
}