
kind: Service
apiVersion: v1
metadata:
  name: apcupsd
  namespace: monitoring
  labels:
    app: apcupsd
    prometheus-target: apcupsd
spec:
  ports:
  - name: metrics
    port: {{ apcups.netserver.listen_port }}
    targetPort: metrics
