apiVersion: v1
kind: ConfigMap
metadata:
  name: olivetin-config
  namespace: {{ olivetin.namespace }}
  labels:
    {{ olivetin.labels_def | to_nice_yaml() | indent(4) }}
    {{ olivetin.labels_desc | to_nice_yaml() | indent(4) }}
data:
  config.yaml:  |
    {{ lookup('template', role_path + '/app/config/config.yaml.j2')  | replace('\n', '\n    ') }}
  images.csv: |
    {{ lookup('template', role_path + '/app/config/images.csv.j2')  | replace('\n', '\n    ') }}
