apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{ alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
  name: alertmanager
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    metricRelabelings:
    # Drop unused metrics
    - action: drop
      regex: alertmanager_http_(request|response)_.*
      sourceLabels:
      - __name_  
    port: web
  selector:
    matchLabels:
      {{ alertmanager.labels_def | to_nice_yaml() | indent(6) }}
