apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: apcups-exporter
    app.kubernetes.io/component: apcups-exporter
  name: apcups-exporter
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: metrics
  namespaceSelector:
    matchNames:
    - monitoring-apcups-exporter
  selector:
    matchLabels:
      prometheus-target: apcups-exporter
