apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: blackbox-exporter
    app.kubernetes.io/component: exporter
  name: blackbox-exporter
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    path: /metrics
    port: https
    scheme: https
    tlsConfig:
      insecureSkipVerify: true
  namespaceSelector:
    matchNames:
    - monitoring-blackbox-exporter
  selector:
    matchLabels:
      prometheus-target: blackbox-exporter
