apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: fluent
    app.kubernetes.io/component: fluent
  name: fluentd
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: metrics
    path: /metrics
  namespaceSelector:
    matchNames:
    - logging-fluentd
  selector:
    matchLabels:
      prometheus-target: fluentd
