apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{ gitea.labels_def | to_nice_yaml() | indent(4) }}
    {{ gitea.labels_desc | to_nice_yaml() | indent(4) }}
  name: gitea
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: http
  namespaceSelector:
    matchNames:
    - {{ gitea.namespace }}
  selector:
    matchLabels:
      prometheus-target: gitea
