apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: grafana
  name: grafana
  namespace: {{ prometheus.namespace }}
spec:
  endpoints:
  - interval: {{ (15 * service_monitors.interval_factor | float) | int }}s
    port: http
  namespaceSelector:
    matchNames:
    - monitoring-grafana
  selector:
    matchLabels:
      prometheus-target: grafana
