apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kube-state-metrics
  namespace: {{ prometheus.namespace }}
  labels:
    app.kubernetes.io/name: kube-state-metrics
    app.kubernetes.io/component: kube-state-metrics
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    honorLabels: true
    interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    metricRelabelings:
    - action: drop
      regex: kube_endpoint_address_not_ready|kube_endpoint_address_available
      sourceLabels:
      - __name__
    # Drop unused metrics
    - action: drop
      regex: kube_pod_(init_)?container_status_(.*)_reason
      sourceLabels:
      - __name__
    port: https-main
    relabelings:
    - action: labeldrop
      regex: (pod|service|endpoint|namespace)
    scheme: https
    scrapeTimeout: 30s
    tlsConfig:
      insecureSkipVerify: true
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: https-self
    scheme: https
    tlsConfig:
      insecureSkipVerify: true
  jobLabel: app.kubernetes.io/name
  namespaceSelector:
    matchNames:
    - monitoring-kube-state-metrics
  selector:
    matchLabels:
      prometheus-target: kube-state-metrics
