apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus-operator
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus_operator.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus_operator.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    honorLabels: true
    interval: {{ (30 * service_monitors.interval_factor | float) | int }}s
    port: https
    scheme: https
    tlsConfig:
      insecureSkipVerify: true
  selector:
    matchLabels:
      prometheus-target: prometheus-operator
