apiVersion: v1
kind: Secret
metadata:
  name: ttrss-pgsql-pass
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ ttrss_pgsql.password | b64encode }}
