apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ttrss-job
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss.labels_job_def | to_nice_yaml() | indent(4) }}
    {{ ttrss.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ ttrss.labels_job_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ ttrss.labels_job_def | to_nice_yaml() | indent(8) }}
        {{ ttrss.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /opt/ttrss-data/feed-icons
            mkdir -p /opt/ttrss-data/cache/images
            mkdir -p /opt/ttrss-data/cache/export
            mkdir -p /opt/ttrss-data/cache/upload
            mkdir -p /opt/ttrss-data/lock
            chown -R 33:33 /opt/ttrss-data/
        volumeMounts:
        - name: ttrss-data-pv-claim
          mountPath: /opt/ttrss-data
      containers:
      - name: ttrss-job
        image: "{{ ttrss.private_image | image_full_name }}"
        imagePullPolicy: Always
        args: ["job"]
        env:
        - name: TTRSS_CONTEXT_ROOT
          value: {{ '/' if ttrss.context_root == '' else ttrss.context_root }}
        - name: TTRSS_RUN_ROOT_DIR
          value: /opt/ttrss-data
        - name: TTRSS_DB_TYPE
          value: pgsql
        - name: TTRSS_DB_HOST
          value: ttrss-pgsql
        - name: TTRSS_DB_USER
          value: "{{ ttrss_pgsql.user }}"
        - name: TTRSS_DB_NAME
          value: "{{ ttrss_pgsql.database }}"
        - name: TTRSS_DB_PASS
          value: "{{ ttrss_pgsql.password }}"
        - name: TTRSS_DB_PORT
          value: "5432"
        - name: TTRSS_SELF_URL_PATH
          value: "https://ttrss.web.{{ web_base_domain }}{{ ttrss.context_root }}/"
        - name: TTRSS_LOCK_DIRECTORY
          value: /opt/ttrss-data/lock
        - name: TTRSS_CACHE_DIR
          value: /opt/ttrss-data/cache
        - name: TTRSS_ICONS_DIR
          value: /opt/ttrss-data/feed-icons
        - name: TTRSS_ICONS_URL
          value: feed-icons
        - name: TTRSS_SMTP_FROM_NAME
          value: "{{ ttrss.smtp.displayName }}"
        - name: TTRSS_SMTP_FROM_ADDRESS
          value: "{{ ttrss.smtp.from }}"
        - name: TTRSS_SMTP_FROM_NAME
          value: "{{ ttrss.smtp.displayName }}"
        - name: TTRSS_SMTP_FROM_ADDRESS
          value: "{{ ttrss.smtp.from }}"
        - name: TTRSS_DAEMON_MAX_JOBS
          value: "{{ ttrss.daemon.max_jobs }}"
        - name: TTRSS_PLUGINS
          value: "data_migration, auth_ldap, note, mailer_smtp"      
        securityContext:
          runAsNonRoot: true
          runAsUser: 33 # www-data
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: "{{ ttrss.container.requests_cpu }}"
            memory: "{{ ttrss.container.requests_memory }}"
          limits:
            cpu: "{{ ttrss.container.limits_cpu }}"
            memory: "{{ ttrss.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: ttrss-data-pv-claim
          mountPath: /opt/ttrss-data
        - name: ttrss-config
          mountPath: /opt/ttrss/config.php
          subPath: config.php
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
        - name: tmp-volume
          mountPath: /tmp
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: ttrss-data-pv-claim
        persistentVolumeClaim:
          claimName: ttrss-data-pv-claim
      - name: ttrss-config
        configMap:
          name: ttrss-config
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      - name: tmp-volume
        emptyDir: {}
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
