apiVersion: v1
kind: ConfigMap
metadata:
  name: ttrss-config
  namespace: {{ ttrss.namespace }}
  labels:
    {{ ttrss.labels_def | to_nice_yaml() | indent(4) }}
    {{ ttrss.labels_desc | to_nice_yaml() | indent(4) }}
data:
  config.php:  |
    {{ lookup('template', role_path + '/app/config/config.php.j2')  | replace('\n', '\n    ') }}
