<!DOCTYPE html>
<!-- {{ ansible_managed }} -->
<html>
<head>
<title>Welcome to nginx on {{ machine_name }}!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to nginx on {{ machine_name }}!</h1>
</body>
</html>
