#jinja2: trim_blocks: "true", lstrip_blocks: "false"
# {{ ansible_managed }}

{% if item.0.http_port | default(False) %}
server {
	listen {{ nginx_listen_ip }}:{{ item.0.http_port }}{% if item.0.default | default(False) %} default_server{% endif %};
	listen [::]:{{ item.0.http_port }}{% if item.0.default | default(False) %} default_server{% endif %};
	server_name {% if item.0.default | default(False) %}_ {% endif %}{{ item.0.server_name | default("_") }};
	root /var/www/html;
	
	access_log /var/log/nginx/{{ item.0.name }}_access.log main;
	error_log /var/log/nginx/{{ item.0.name }}_error.log;	
	
	{% if item.0.default | default(False) %}
	location /nginx_status {
		stub_status on;
		access_log off;
		allow 127.0.0.1;
		allow ::1;
		deny all;
	}
	{% endif %}
	
	location /.well-known {
    	alias {{ item.0.https_cert.docroot }}/.well-known;
    }

	{% if item.0.disable_robots %}
	location /robots.txt { alias {{ nginx_default_disabled_robots_path }}; }
	{% endif %}
}

{% endif %}
