#jinja2: trim_blocks: "true", lstrip_blocks: "false"
# {{ ansible_managed }}

{% if item.http_port | default(False) %}
server {
	listen {{ item.http_port }};
	listen [::]:{{ item.http_port }};
	
	proxy_pass {{ item.proxy_pass }};
	{% if item.content is defined %}
	{{ item.content }}
	{% endif %}
}
{% endif %}

{% if item.https_port | default(False) %}
server {
	listen {{ item.https_port }} ssl;
	listen [::]:{{ item.https_port }} ssl;

	# SSL configuration
	ssl_certificate {{ item.https_cert.cert_path }};
	ssl_certificate_key {{ item.https_cert.cert_key_path }};
	
	proxy_pass {{ item.proxy_pass }};
	{% if item.content is defined %}
	{{ item.content }}
	{% endif %}
}
{% endif %}
