# {{ ansible_managed }}
# "Fake" module used to import all stream configurations without changing the main nginx.conf itself

stream {

	log_format basic '$remote_addr [$time_local] $protocol $status $bytes_sent $bytes_received $session_time';

	include {{ nginx_streams_conf_dir }}/*.conf;
	include {{ nginx_streams_enabled_dir }}/*;
}
