apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/name: homeassistant
      app.kubernetes.io/component: mysql
      app.kubernetes.io/version: 9.5.0-oraclelinux9

secretGenerator:
- name: mysql-env
  env: secret/mysql.env

resources:
- networkPolicy.yaml
- service.yaml
- pvc.yaml
- statefulSet.yaml
