apiVersion: v1
kind: ConfigMap
metadata:
  name: nodered-bootstrap
  namespace: {{ nodered.namespace }}
  labels:
    {{ nodered.labels_def | to_nice_yaml() | indent(4) }}
    {{ nodered.labels_desc | to_nice_yaml() | indent(4) }}
data:
  flows.json: |-
    {{ lookup('template', role_path + '/app/config/bootstrap/flows.json.j2', convert_data=False) | replace('\n', '\n    ') }}
