apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: openzwave
  namespace: {{ openzwave.namespace }}
  labels:
    {{ openzwave.labels_def | to_nice_yaml() | indent(4) }}
    {{ openzwave.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
spec:
  tls:
    - hosts:
      - home.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: home.{{ web_base_domain }}
    http:
      paths:
        - path: /openzwave/?(.*)
          backend:
            serviceName: openzwave
            servicePort: web
        - path: /websockify/?(.*)
          backend:
            serviceName: openzwave
            servicePort: web
