apiVersion: v1
kind: Secret
metadata:
  name: openzwave-secret
  namespace: "{{ openzwave.namespace }}"
  labels:
    {{ openzwave.labels_def | to_nice_yaml() | indent(4) }}
    {{ openzwave.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  mqtt_username: {{ openzwave.mqtt.user | b64encode }}
  mqtt_password: {{ openzwave.mqtt.password | b64encode }}
  ozw_network_key: {{ openzwave.ozw_network_key | b64encode }}

