apiVersion: v1
kind: Service
metadata:
  name: openzwave
  namespace: {{ openzwave.namespace }}
  labels:
    {{ openzwave.labels_def | to_nice_yaml() | indent(4) }}
    {{ openzwave.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    name: web
    targetPort: web
  - port: 1983
    name: ozw-admin
    targetPort: ozw-admin
  selector:
    {{ openzwave.labels_def | to_nice_yaml() | indent(4) }}
