apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: lemonldap-auth
  namespace: {{ lemonldap.namespace }}
  labels:
    app: lemonldap
spec:
  tls:
    - hosts:
      - auth.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: auth.{{ web_base_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: lemonldap
          servicePort: 80
