apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lemonldap-reloader
  namespace: {{ lemonldap.namespace }}
  labels:
    {{ lemonldap.labels_def | to_nice_yaml() | indent(4) }}
    {{ lemonldap.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/upstream-vhost: reloader.{{ web_base_domain }}
spec:
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
      - path: /lemonldap/reloader/?(.*)
        pathType: Prefix
        backend:
          service:
            name: lemonldap
            port:
              name: http
