kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-lemonldap
  namespace: {{ lemonldap.namespace }}
  labels:
    app: lemonldap
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: lemonldap
      app-component: lemonldap

  ingress:
    # Allow http from the ingress controller
    - ports:
        - port: http
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx

    # Allow fastcgi from all
    - ports:
        - port: fastcgi
      from: []
