apiVersion: v1
kind: Service
metadata:
  name: lemonldap-handler
  namespace: {{ lemonldap.namespace }}
  labels:
    app.kubernetes.io/name: lemonldap
spec:
  type: NodePort
  ports:
    - port: {{ lemonldap.fastcgi_port }}
      targetPort: {{ lemonldap.fastcgi_port }}
      name: fastcgi
      nodePort: {{ kubernetes_ingress_lemonLdap_handler_port }}
  selector:
    app.kubernetes.io/name: lemonldap
    app.kubernetes.io/component: lemonldap
