apiVersion: v1
kind: Service
metadata:
  name: lemonldap
  namespace: {{ lemonldap.namespace }}
  labels:
    {{ lemonldap.labels_def | to_nice_yaml() | indent(4) }}
    {{ lemonldap.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    name: http
  selector:
    {{ lemonldap.labels_def | to_nice_yaml() | indent(4) }}
