apiVersion: v1
kind: ConfigMap
metadata:
  name: lemonldap
  namespace: default
  labels:
    app: lemonldap
    app-component: lemonldap
data:
  lemonldap-ng.ini: |
    {{ lookup('template', kubernetes_app_root_path + '/auth/lemonldap/config/lemonldap-ng.ini.j2')  | replace('\n', '\n    ') }}
  lmConf.json: |
    {{ lookup('template', kubernetes_app_root_path + '/auth/lemonldap/config/lmConf.json.j2')  | replace('\n', '\n    ') }}
