apiVersion: apps/v1
kind: Deployment
metadata:
  name: lemonldap
  namespace: default
  labels:
    app: lemonldap
    app-component: lemonldap
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lemonldap
      app-component: lemonldap
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lemonldap
        app-component: lemonldap
    spec:
      containers:
      - name: lemonldap
        image: coudot/lemonldap-ng:2.0.2
        ports:
          - containerPort: 80
            name: http
          - containerPort: {{ lemonldap_fastcgi_port }}
            name: fastcgi
        env:
          - name: SSODOMAIN
            value: "{{ web_base_domain }}"
          - name: LISTEN
            value: "0.0.0.0:{{ lemonldap_fastcgi_port }}"
        resources:
          requests:
            cpu: "{{ lemonldap_requests_cpu | default("100m") }}"
            memory: "{{ lemonldap_requests_memory | default("384Mi") }}"
          limits:
            cpu: "{{ lemonldap_limits_cpu | default("200m") }}"
            memory: "{{ lemonldap_limits_memory | default("384Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: etc-volume
          mountPath: /etc/lemonldap-ng
        - name: lmconf-volume
          mountPath: /var/lib/lemonldap-ng/conf/lmConf-2.json
          subPath: lmConf.json
        - name: certs-volume
          mountPath: /var/lib/lemonldap-ng/server-certs/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: lmconf-volume
        configMap:
          name: lemonldap-lmconf
      - name: etc-volume
        configMap:
          name: lemonldap-etc
      - name: certs-volume
        secret:
          secretName: openldap-ca
      nodeSelector:
        capability/general-purpose: 'yes'
