apiVersion: v1
kind: ConfigMap
metadata:
  name: lemonldap-etc
  namespace: default
  labels:
    app: lemonldap
    app-component: lemonldap
data:
{% for lemonldap_config_file in lemonldap_config_files %}
  {{ lemonldap_config_file | basename | replace(".j2", "") }}: |
    {{ lookup(lemonldap_config_file | regex_search('.j2$') | ternary('template','file'), lemonldap_config_file) | replace('\n', '\n    ') }}
{% endfor %}
