apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: lemonldap-reloader
  namespace: default
  labels:
    app: lemonldap
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/upstream-vhost: reloader.{{ web_base_domain }}
spec:
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
      - path: /lemonldap/reloader/?(.*)
        backend:
          serviceName: lemonldap
          servicePort: 80
