apiVersion: v1
kind: Service
metadata:
  name: lemonldap-handler
  namespace: default
  labels:
    app: lemonldap
spec:
  type: NodePort
  ports:
    - port: 2884
      targetPort: 2884
      name: handler
      nodePort: {{ kubernetes_ingress_lemonLdap_handler_port }}
  selector:
    app: lemonldap
    app-component: lemonldap
