apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: lemonldap
  namespace: default
  labels:
    app: lemonldap
    app-component: lemonldap
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lemonldap
      app-component: lemonldap
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lemonldap
        app-component: lemonldap
    spec:
      initContainers:
      - name: create-folders
        image: busybox
        command: 
          - "sh"
          - "-c"
          - |
            mkdir -p {{ lemonldap_persistent_volume_path }}/sessions/lock
            mkdir -p {{ lemonldap_persistent_volume_path }}/psessions/lock
            mkdir -p {{ lemonldap_persistent_volume_path }}/notifications
            chown -R www-data:www-data {{ lemonldap_persistent_volume_path }}
        volumeMounts:
        - name: lemonldap-data-pv-claim
          mountPath: {{ lemonldap_persistent_volume_path }}
      containers:
      - name: lemonldap
        #image: coudot/lemonldap-ng:2.0.2
        image: {{ kubernetes_registry_url }}/lemonldap-ng:latest
        ports:
          - containerPort: 80
            name: http
          - containerPort: {{ lemonldap_fastcgi_port }}
            name: fastcgi
        env:
          - name: SSODOMAIN
            value: "{{ web_base_domain }}"
          - name: FASTCGI_LISTEN_PORT
            value: "{{ lemonldap_fastcgi_port }}"
          - name: MANAGER_HOSTNAME
            value: "infra.{{ web_base_domain }}"
        resources:
          requests:
            cpu: "{{ lemonldap_requests_cpu | default("100m") }}"
            memory: "{{ lemonldap_requests_memory | default("384Mi") }}"
          limits:
            cpu: "{{ lemonldap_limits_cpu | default("200m") }}"
            memory: "{{ lemonldap_limits_memory | default("384Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: lemonldap-data-pv-claim
          mountPath: {{ lemonldap_persistent_volume_path }}
        - name: lmconf-volume
          mountPath: /var/lib/lemonldap-ng/conf/lmConf-2.json
          subPath: lmConf.json
        - name: certs-volume
          mountPath: /var/lib/lemonldap-ng/server-certs/ca.crt
          subPath: ca.crt
        - name: smtp-certs-volume
          mountPath: /var/lib/lemonldap-ng/smtp-certs/ca.crt
          subPath: ca.crt
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: lmconf-volume
        configMap:
          name: lemonldap-lmconf
      - name: certs-volume
        secret:
          secretName: openldap-ca
      - name: smtp-certs-volume
        secret:
          secretName: zonemta-certificates
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: lemonldap-data-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 32M
      selector:
        matchLabels:
          app: lemonldap
          app-component: lemonldap
          storage: data

