apiVersion: v1
data:
  alertmanager.yaml: {{ lookup('file', kubernetes_app_root_path + '/monitoring/prometheus-operator/config/alertmanager/alertmanager.yaml') | b64encode }}
kind: Secret
metadata:
  name: alertmanager-main
  namespace: monitoring
type: Opaque
