---
letsencrypt_dir: /opt/letsencrypt
letsencrypt_config_dir: "{{ letsencrypt_dir }}/config"
letsencrypt_hooks_dir: "{{ letsencrypt_dir }}/hooks"
letsencrypt_hooks_pre_include_dir: "{{ letsencrypt_hooks_dir }}/pre.d"
letsencrypt_hooks_post_include_dir: "{{ letsencrypt_hooks_dir }}/post.d"

certbot_venv_dir: /opt/certbot_venv

# Roughly the same config as nginx_keepalived_instance
letsencrypt_keepalived_instance:
  name: letsencrypt
  virtual_router_id: 101
  is_master: "{{ nginx_keepalived_instance_public_is_master | default('false') }}"
  interface: "{{ nginx_keepalived_instance_public_interface }}"
  priority: "{{ nginx_keepalived_instance_public_priority | default(100) }}"
  auth_pass: "{{ nginx_keepalived_instance_public_auth_pass }}"
  virtual_ips:
    - "{{ nginx_keepalived_instance_public_virtual_ip }}"
    - "{{ nginx_keepalived_instance_internal_virtual_ip }}"
