kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-ntfy
  namespace: {{ ntfy.namespace }}
  labels:
    {{ ntfy.labels_def | to_nice_yaml() | indent(4) }}
    {{ ntfy.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ ntfy.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    - ports:
        - port: http
      from:
        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from ntfy-alertmanager
        - podSelector:
            matchLabels:
              {{ ntfy_alertmanager.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from homeassistant
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: home-homeassistant
          podSelector:
            matchLabels:
              app.kubernetes.io/name: homeassistant
              app.kubernetes.io/component: homeassistant

---

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-ntfy-alertmanager
  namespace: {{ ntfy.namespace }}
  labels:
    {{ ntfy_alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ ntfy_alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ ntfy_alertmanager.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    - ports:
        - port: http
      from:
        # Allow from alertmanager
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              {{ alertmanager.labels_def | to_nice_yaml() | indent(14) }}
