apiVersion: v1
kind: Service
metadata:
  name: ntfy-alertmanager
  namespace: {{ ntfy.namespace }}
  labels:
    {{ ntfy_alertmanager.labels_def | to_nice_yaml() | indent(4) }}
    {{ ntfy_alertmanager.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
    - port: 8080
      name: http
      targetPort: http
  selector:
    {{ ntfy_alertmanager.labels_def | to_nice_yaml() | indent(4) }}
