apiVersion: v1
kind: Secret
metadata:
  name: ntfy-init
  namespace: {{ ntfy.namespace }}
  labels:
    {{ ntfy.labels_def | to_nice_yaml() | indent(4) }}
    {{ ntfy.labels_desc | to_nice_yaml() | indent(4) }}
data:
  manage_users.sh: {{ lookup('template', role_path + '/app/config/manage_users.sh.j2') | b64encode }}
