kind: Service
apiVersion: v1
metadata:
  name: ntfy
  namespace: {{ ntfy.namespace }}
  labels:
    {{ ntfy.labels_def | to_nice_yaml() | indent(4) }}
    {{ ntfy.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
    - port: 8080
      name: http
      targetPort: http
  selector:
    {{ ntfy.labels_def | to_nice_yaml() | indent(4) }}
