<?php

	// If you need SMTP support, take a look here:
	// https://git.tt-rss.org/fox/ttrss-mailer-smtp

	define('SMTP_SERVER', '{{ ttrss.smtp.host }}:{{ ttrss.smtp.port }}');
	// Hostname:port combination to send outgoing mail (i.e. localhost:25).
	// Blank - use system MTA.

	define('SMTP_LOGIN', '{{ ttrss.smtp.user }}');
	define('SMTP_PASSWORD', '{{ ttrss.smtp.password }}');

	define('SMTP_SECURE', '{{ ttrss.smtp.secure }}');
	// Used to select a secure SMTP connection. Allowed values: ssl, tls,
	// or empty.

	define('SMTP_SKIP_CERT_CHECKS', false);
	
	define('SMTP_CA_FILE', '/etc/ssl/cluster/ca.crt');
	// Use a custom CA to validate the SMTP server certificate


	// Configurations for auth_ldap plugin
	putenv('LDAPTLS_CACERT=/etc/ssl/cluster/ca.crt');
	putenv('LDAPTLS_REQCERT=demand');

	// Required parameters:
	define('LDAP_AUTH_SERVER_URI', 'ldap://{{ ttrss.ldap.servername }}:389/');
	define('LDAP_AUTH_USETLS', TRUE); // Enable StartTLS Support for ldap://
	define('LDAP_AUTH_ALLOW_UNTRUSTED_CERT', FALSE); // Allows untrusted certificate
	define('LDAP_AUTH_BASEDN', '{{ ttrss.ldap.users_dn }}');
	define('LDAP_AUTH_ANONYMOUSBEFOREBIND', FALSE);
	// ??? will be replaced with the entered username(escaped) at login
	define('LDAP_AUTH_SEARCHFILTER', '(&(objectClass=inetOrgPerson)(cn=???)(memberOf={{ ttrss.ldap.group }}))');

	// Optional configuration
	define('LDAP_AUTH_BINDDN', '{{ ttrss.ldap.manager_dn }}');
	define('LDAP_AUTH_BINDPW', '{{ ttrss.ldap.manager_password }}');
	define('LDAP_AUTH_LOGIN_ATTRIB', 'cn');
	define('LDAP_AUTH_LOG_ATTEMPTS', TRUE);

	// Enable Debug Logging
	define('LDAP_AUTH_DEBUG', TRUE);

	// vim:ft=php
