apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-exporter
  namespace: {{ elasticsearch.namespace }}
  labels:
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/component: elastic-exporter
    prometheus-target: elastic-exporter
spec:
  ports:
  - port: 9114
    name: metrics
    targetPort: metrics
  selector:
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/component: elastic-exporter
