
# Cf https://airsonic.github.io/docs/configure/airsonic-properties/

# The airsonic.properties file contains both technical settings (LDAP, SMTP ...) and the state of the application (JWTKey, statistics ...).

# To avoid breaking things, this file only handles a subset of available properties : Ldap* and Smtp*
# These properties are injected over the ones that might exist in the airsonic.properties file that lives on the data volume.
# Any other property set here will be ignored.

LdapEnabled=true
LdapUrl=ldaps://{{ airsonic_ldap_servername }}/{{ airsonic_ldap_users_dn }}
LdapSearchFilter=(&(cn={0})(memberOf={{ airsonic_ldap_group }}))
LdapManagerDn={{ airsonic_ldap_manager_dn }}
LdapManagerPassword={{ airsonic_ldap_manager_password | hexlify }}
LdapAutoShadowing=true

SmtpServer={{ airsonic_smtp_host }}
SmtpEncryption={{ airsonic_smtp_encryption }}
SmtpPort={{ airsonic_smtp_port }}
SmtpUser={{ airsonic_smtp_user }}
SmtpFrom={{ airsonic_smtp_from }}
SmtpPassword={{ airsonic_smtp_password | hexlify }}
