apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-includes
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for fluentd_included_config_file in fluentd_included_config_files %}
  {{ fluentd_included_config_file | basename }}: |
    {{ lookup('file', fluentd_included_config_file)  | replace('\n', '\n    ') }}
{% endfor %}