apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-includes
  namespace: {{ fluentd.namespace }}
  labels:
    app.kubernetes.io/name: fluentd
    app.kubernetes.io/component: fluentd
data:
{% for fluentd_included_config_file in fluentd_included_config_files %}
  {{ fluentd_included_config_file | basename }}: |
    {{ lookup('file', fluentd_included_config_file)  | replace('\n', '\n    ') }}
{% endfor %}