apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: {{ fluentd.namespace }}
  labels:
    app: fluentd
    app-component: fluentd
data:
  fluent.conf: |
    {{ lookup('file', role_path + '/app/config/fluent.conf')  | replace('\n', '\n    ') }}
