apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluentd
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ fluentd.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ fluentd.labels_def | to_nice_yaml() | indent(8) }}
        {{ fluentd.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: fluentd
        image: "{{ fluentd.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 24224
          name: fluentd
        env:
          - name:  FLUENT_ELASTICSEARCH_HOST
            value: "{{ elasticsearch.servername }}"
          - name:  FLUENT_ELASTICSEARCH_PORT
            value: "9200"
          - name: FLUENT_ELASTICSEARCH_SCHEME
            value: "https"
          - name: FLUENT_ELASTICSEARCH_USER
            value: "{{ fluentd_elasticsearch_user }}"
          - name: FLUENT_ELASTICSEARCH_PASSWORD
            value: "{{ fluentd_elasticsearch_password }}"
          - name: SSL_CERT_FILE
            value: "/etc/ssl/cluster/ca.crt"
        securityContext:
          runAsNonRoot: true
          runAsUser: 999 # fluent
          readOnlyRootFilesystem: true
        readinessProbe:
          tcpSocket:
            port: fluentd
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ fluentd.container.requests_cpu }}"
            memory: "{{ fluentd.container.requests_memory }}"
          limits:
            cpu: "{{ fluentd.container.limits_cpu }}"
            memory: "{{ fluentd.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: fluentd-config
          mountPath: /fluentd/etc/
        - name: fluentd-includes
          mountPath: /fluentd/etc/conf.d
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
        - name: tmp-volume
          mountPath: /tmp
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: fluentd-config
        configMap:
          name: fluentd-config
      - name: fluentd-includes
        configMap:
          name: fluentd-includes
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      - name: tmp-volume
        emptyDir: {}
      nodeSelector:
        capability/general-purpose: 'yes'
