apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluentd
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ fluentd.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ fluentd.labels_def | to_nice_yaml() | indent(8) }}
        {{ fluentd.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: fluentd
        image: "{{ fluentd.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 24224
          name: fluentd
        - containerPort: 24231
          name: metrics
        env:
          - name:  FLUENT_ELASTICSEARCH_HOST
            value: "{{ elasticsearch.servername }}"
          - name:  FLUENT_ELASTICSEARCH_PORT
            value: "9200"
          - name: FLUENT_ELASTICSEARCH_SCHEME
            value: "https"
          - name: FLUENT_ELASTICSEARCH_USER
            value: "{{ fluentd_elasticsearch_user }}"
          - name: FLUENT_ELASTICSEARCH_PASSWORD
            value: "{{ fluentd_elasticsearch_password }}"
          - name: SSL_CERT_FILE
            value: "/etc/ssl/cluster/ca.crt"
          # https://github.com/uken/fluent-plugin-elasticsearch#stopped-to-send-events-on-k8s-why
          - name: FLUENT_ELASTICSEARCH_RELOAD_CONNECTIONS
            value: "false"
          - name: FLUENT_ELASTICSEARCH_RECONNECT_ON_ERROR
            value: "true"
          - name: FLUENT_ELASTICSEARCH_RELOAD_ON_FAILURE
            value: "true"
          - name: FLUENT_SELF_HOSTNAME
            value: "{{ fluentd.servername }}"
          - name: FLUENT_SHARED_KEY
            valueFrom:
              secretKeyRef:
                name: fluentd-secret
                key: fluentd_shared_key
          - name: FLUENT_REQUEST_TIMEOUT
            value: "10s"
          - name: FLUENT_ELASTICSEARCH_BUFFER_FLUSH_THREAD_COUNT
            value: "2"
        securityContext:
          runAsNonRoot: true
          runAsUser: 999 # fluent
          readOnlyRootFilesystem: true
        readinessProbe:
          # Using a tcpSocket on the fluentd port generates TLS errors
          httpGet:
            scheme: HTTP
            path: /metrics
            port: metrics
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ fluentd.container.requests_cpu }}"
            memory: "{{ fluentd.container.requests_memory }}"
          limits:
            cpu: "{{ fluentd.container.limits_cpu }}"
            memory: "{{ fluentd.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: fluentd-config
          mountPath: /fluentd/etc/
        - name: fluentd-includes
          mountPath: /fluentd/etc/conf.d
        - name: certs-volume
          mountPath: /fluentd/certs
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.crt
          subPath: ca.crt
        - name: tmp-volume
          mountPath: /tmp
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: fluentd-config
        configMap:
          name: fluentd-config
      - name: fluentd-includes
        configMap:
          name: fluentd-includes
      - name: certs-volume
        secret:
          secretName: fluentd-certs
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      - name: tmp-volume
        emptyDir: {}
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
