kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-fluentd
  namespace: {{ fluentd.namespace }}
  labels:
    app: fluentd
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app: fluentd
      app-component: fluentd

  ingress:
    # Allow from fluent-bit
    - ports:
        - port: fluentd
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ fluentbit.namespace }}
          podSelector:
            matchLabels:
              app: fluent-bit
              app-component: fluent-bit
