apiVersion: v1
kind: Secret
metadata:
  name: fluentd-certs
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
data:
{% for fluentd_generated_certificate_file in fluentd_generated_certificate_files.results %}
  {{ fluentd_generated_certificate_file.source | basename }}: {{ fluentd_generated_certificate_file.content }}
{% endfor %}
