apiVersion: v1
kind: Service
metadata:
  name: fluentd-prometheus
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
    prometheus-target: fluentd
spec:
  ports:
  - port: 24231
    name: metrics
    targetPort: metrics
  selector:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
