
apiVersion: v1
kind: Service
metadata:
  name: fluentd
  namespace: {{ fluentd.namespace }}
  labels:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentd.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  clusterIP: None
  ports:
    - name: fluentd
      port: 24224
      targetPort: 24224
  selector:
    {{ fluentd.labels_def | to_nice_yaml() | indent(4) }}
