
apiVersion: v1
kind: Service
metadata:
  name: fluentd
  namespace: {{ fluentd.namespace }}
  labels:
    app.kubernetes.io/name: fluentd
spec:
  clusterIP: None
  ports:
    - name: fluentd
      port: 24224
      targetPort: 24224
  selector:
    app.kubernetes.io/name: fluentd
    app.kubernetes.io/component: fluentd
