apiVersion: apps/v1
kind: Deployment
metadata:
  name: reloader
  namespace: {{ reloader.namespace }}
  labels:
    app.kubernetes.io/name: reloader
    app.kubernetes.io/component: reloader
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: reloader
      app.kubernetes.io/component: reloader
  template:
    metadata:
      labels:
        app.kubernetes.io/name: reloader
        app.kubernetes.io/component: reloader
    spec:
      containers:
      - name: reloader
        image: "{{ reloader.container.image }}"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "{{ reloader.container.requests_cpu }}"
            memory: "{{ reloader.container.requests_memory }}"
          limits:
            cpu: "{{ reloader.container.limits_cpu }}"
            memory: "{{ reloader.container.limits_memory }}"
      serviceAccountName: reloader
