apiVersion: v1
kind: ServiceAccount
metadata:
  name: reloader
  namespace: {{ reloader.namespace }}
  labels:
    {{ reloader.labels_def | to_nice_yaml() | indent(4) }}
    {{ reloader.labels_desc | to_nice_yaml() | indent(4) }}
