apiVersion: v1
kind: Secret
metadata:
  name: cluster-ca
  namespace: cluster-secrets
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
data:
  ca.crt: {{ lookup('ansible.builtin.file', custom_ssl_pki_generation_root_dir + '/cluster/ca.crt') | b64encode }}
