apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-config
  namespace: cluster-secrets
  annotations:
    replicator.v1.mittwald.de/replicate-to: ".*"
binaryData:
  localtime: {{ lookup('ansible.builtin.file', '/etc/localtime') | b64encode }}
