apiVersion: v1
kind: Secret
metadata:
  name: cluster-ca
  namespace: cluster-secrets
  annotations:
    replicator.v1.mittwald.de/replicate-to: ".*"
data:
  ca.crt: {{ lookup('ansible.builtin.file', custom_ssl_pki_generation_root_dir + '/cluster/ca.crt') | b64encode }}
