apiVersion: v1
kind: Secret
metadata:
  name: cluster-ca
  namespace: cluster-secrets
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
data:
  {{ cluster_ca_file.source | basename }}: {{ cluster_ca_file.content }}
