apiVersion: v1
kind: Secret
metadata:
  name: crowdsec-ca-certs
  namespace: cluster-secrets
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "infra-crowdsec"
data:
  ca.crt: {{ lookup('ansible.builtin.file', crowdsec_pki_generation_root_dir + '/ca.crt') | b64encode }}
  client_intermediate_ca.crt: {{ lookup('ansible.builtin.file', crowdsec_pki_generation_root_dir + '/client_intermediate_ca.crt') | b64encode }}
  server_intermediate_ca.crt: {{ lookup('ansible.builtin.file', crowdsec_pki_generation_root_dir + '/server_intermediate_ca.crt') | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: crowdsec-lapi-certs
  namespace: cluster-secrets
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "infra-crowdsec"
data:
  server-chain.crt: {{ lookup('ansible.builtin.file', crowdsec_pki_generation_root_dir + '/server/server-chain.crt') | b64encode }}
  server.key: {{ lookup('ansible.builtin.file', crowdsec_pki_generation_root_dir + '/server/server.key') | b64encode }}
