{
	"auths": {
		"{{ docker_private_registry.domain }}": {
			"auth": "{{ (docker_private_registry.username + ':' + docker_private_registry.password) | b64encode }}"
		},
		"docker-registry.infra-docker-registry.svc.cluster.local": {
			"auth": "{{ (docker_private_registry.username + ':' + docker_private_registry.password) | b64encode }}"
		}
	}
}
