apiVersion: v1
kind: Secret
metadata:
  name: opensslpki-{{ item.secret_name }}-tls
  namespace: cluster-secrets
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "{{ item.allowed_full_namespaces | join(',') }}"
type: kubernetes.io/tls
data:
  ca.crt: {{ lookup('ansible.builtin.file', item.ca_path) | b64encode }}
  tls.crt: {{ lookup('ansible.builtin.file', item.cert_path) | b64encode }}
  tls.key: {{ lookup('ansible.builtin.file', item.key_path) | b64encode }}

---

apiVersion: v1
kind: Secret
metadata:
  name: opensslpki-{{ item.secret_name }}-cert
  namespace: cluster-secrets
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "{{ item.allowed_cert_namespaces | join(',') }}"
data:
  ca.crt: {{ lookup('ansible.builtin.file', item.ca_path) | b64encode }}
  tls.crt: {{ lookup('ansible.builtin.file', item.cert_path) | b64encode }}
