apiVersion: v1
kind: Secret
metadata:
  name: sops-key
  namespace: cluster-secrets
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "dev-argo-cd,dev-argo-tasks"
data:
  key.txt: {{ sops_age_key_content | b64encode }}
