apiVersion: v1
kind: Secret
metadata:
  name: ingress-tls
  namespace: cluster-secrets
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
data:
  tls.key: {{ ingress_tls_key_file.content }}
  tls.crt: {{ ingress_tls_cert_file.content }}
