# Database configuration
# this file is loaded when NODE_ENV=production

# MongoDB connection string
mongo="mongodb://{{ zonemta.mongo.user }}:{{ zonemta.mongo.password }}@zonemta-mongo:27017/{{ zonemta.mongo.database }}"

# Redis connection string
redis="redis://:{{ zonemta.redis.password }}@zonemta-redis:6379/0"

# Database name for ZoneMTA data in MongoDB. In most cases it should be the same as in the connection string
sender="{{ zonemta.mongo.database }}"
