kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-zwavejs2mqtt
  namespace: {{ zwavejs2mqtt.namespace }}
  labels:
    {{ zwavejs2mqtt.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejs2mqtt.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ zwavejs2mqtt.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow http from the ingress controller
    - ports:
        - port: http
      from:
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}

    # Allow ws from HomeAssistant
    - ports:
        - port: ws
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ homeassistant.namespace }}
          podSelector:
            matchLabels:
              {{ homeassistant.labels_def | to_nice_yaml() | indent(14) }}
