apiVersion: v1
kind: Secret
metadata:
  name: zwavejs2mqtt-secret
  namespace: "{{ zwavejs2mqtt.namespace }}"
  labels:
    {{ zwavejs2mqtt.labels_def | to_nice_yaml() | indent(4) }}
    {{ zwavejs2mqtt.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  session-secret: {{ zwavejs2mqtt.session_secret | b64encode }}
  settings.json: {{ lookup('template', role_path + '/app/config/settings.json.j2', convert_data=False) | b64encode }}
  users.json: {{ lookup('template', role_path + '/app/config/users.json.j2', convert_data=False) | b64encode }}
