apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluent-bit
  namespace: {{ fluentbit.namespace }}
  labels:
    {{ fluentbit.labels_def | to_nice_yaml() | indent(4) }}
    {{ fluentbit.labels_desc | to_nice_yaml() | indent(4) }}
