apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: {{ homeassistant.namespace }}
  labels:
    app: homeassistant
spec:
  ports:
  - port: 80
    targetPort: 8123
  selector:
    app: homeassistant
    app-component: homeassistant
