apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: {{ homeassistant.namespace }}
  labels:
    {{ homeassistant.labels_def | to_nice_yaml() | indent(4) }}
    {{ homeassistant.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    name: homeassistant
    targetPort: homeassistant
  selector:
    {{ homeassistant.labels_def | to_nice_yaml() | indent(4) }}
