apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: homeassistant
  namespace: {{ homeassistant.namespace }}
  labels:
    {{ homeassistant.labels_def | to_nice_yaml() | indent(4) }}
    {{ homeassistant.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ homeassistant.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ homeassistant.labels_def | to_nice_yaml() | indent(8) }}
        {{ homeassistant.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.container.image }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /homeassistant-config/config
            chown -R 1000:1000 /homeassistant-config/config
        volumeMounts:
        - name: homeassistant-pv-claim
          mountPath: /homeassistant-config
      containers:
      - name: homeassistant
        image: "{{ homeassistant.container.image }}"
        imagePullPolicy: Always        
        ports:
        - containerPort: 8123
          name: homeassistant
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: homeassistant-pv-claim
          mountPath: /config
          subPath: config
        - name: homeassistant-socat-config
          mountPath: /etc/supervisor/conf.d/
        - name: homeassistant-config
          mountPath: /opt/ldap-auth/config.cfg
          subPath: ldap-auth-config.cfg
        - name: cluster-ca-volume
          mountPath: /etc/ssl/cluster/ca.cert
          subPath: ca.crt
        - name: run-volume
          mountPath: /run/udev
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # homeassistant
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /
            port: homeassistant
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ homeassistant.container.requests_cpu }}"
            memory: "{{ homeassistant.container.requests_memory }}"
          limits:
            cpu: "{{ homeassistant.container.limits_cpu }}"
            memory: "{{ homeassistant.container.limits_memory }}"
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: homeassistant-config
        configMap:
          name: homeassistant-config
      - name: homeassistant-socat-config
        configMap:
          name: homeassistant-socat-config
      - name: cluster-ca-volume
        secret:
          secretName: cluster-ca
      - name: run-volume
        emptyDir: {}
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: homeassistant-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 256M
      selector:
        matchLabels:
          {{ homeassistant.labels_def | to_nice_yaml() | indent(10) }}
