apiVersion: v1
kind: ConfigMap
metadata:
  name: homeassistant-config
  namespace: default
  labels:
    app: homeassistant
    app-component: homeassistant
data:
  ldap-auth-config.cfg: |-
    {{ lookup('template', role_path + '/app/config/ldap-auth-config.cfg.j2') | replace('\n', '\n    ') }}
