apiVersion: v1
kind: Service
metadata:
  name: homeassistant-mysql
  namespace: {{ homeassistant.namespace }}
  labels:
    {{ homeassistant_mysql.labels_def | to_nice_yaml() | indent(4) }}
    {{ homeassistant_mysql.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
    - port: 3306
  selector:
    {{ homeassistant_mysql.labels_def | to_nice_yaml() | indent(4) }}
  clusterIP: None
