apiVersion: v1
kind: Secret
metadata:
  name: homeassistant-mysql-pass
  namespace: {{ homeassistant.namespace }}
  labels:
    app: homeassistant
    app-component: mysql
type: Opaque
data:
  password: {{ homeassistant_mysql.password | b64encode }}
  root_password: {{ homeassistant_mysql.root_password | b64encode }}
