apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: homeassistant-mysql
  namespace: default
  labels:
    app: homeassistant
    app-component: mysql
spec:
  selector:
    matchLabels:
      app: homeassistant
      app-component: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: homeassistant
        app-component: mysql
    spec:
      containers:
      - image: mysql:5.6.43
        name: mysql
        env:
        - name: MYSQL_DATABASE
          value: {{ homeassistant_mysql_database }}
        - name: MYSQL_USER
          value: {{ homeassistant_mysql_user }}
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: homeassistant-mysql-pass
              key: password
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: homeassistant-mysql-pass
              key: root_password
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: homeassistant-mysql-pv-claim
          mountPath: /var/lib/mysql
        resources:
          requests:
            cpu: "{{ homeassistant_mysql_requests_cpu | default("250m") }}"
            memory: "{{ homeassistant_mysql_requests_memory | default("512Mi") }}"
          limits:
            cpu: "{{ homeassistant_mysql_limits_cpu | default("500m") }}"
            memory: "{{ homeassistant_mysql_limits_memory | default("512Mi") }}"
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: homeassistant-mysql-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 2G
      selector:
        matchLabels:
          app: homeassistant
          app-component: mysql
