apiVersion: v1
kind: Service
metadata:
  name: homeassistant-mysql
  namespace: {{ homeassistant.namespace }}
  labels:
    app: homeassistant
    app-component: mysql
spec:
  ports:
    - port: 3306
  selector:
    app: homeassistant
    app-component: mysql
  clusterIP: None
