apiVersion: v1
kind: Secret
metadata:
  name: homeassistant-mysql-pass
  namespace: default
  labels:
    app: homeassistant
    app-component: mysql
type: Opaque
data:
  password: {{ homeassistant.mysql.password | b64encode }}
  root_password: {{ homeassistant.mysql.root_password | b64encode }}
