apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nodered
  namespace: default
  labels:
    app: nodered
spec:
  rules:
  - host: home.{{ web_base_domain }}
    http:
      paths:
        - path: {{ nodered_context_root }}
          backend:
            serviceName: nodered
            servicePort: 80
