apiVersion: v1
kind: ConfigMap
metadata:
  name: sabnzbd-config
  namespace: {{ sabnzbd.namespace }}
  labels:
    {{ sabnzbd.labels_def | to_nice_yaml() | indent(4) }}
    {{ sabnzbd.labels_desc | to_nice_yaml() | indent(4) }}
data:
  sabnzbd_delta.ini: |
    {{ lookup('template', role_path + '/app/config/sabnzbd_delta.ini.j2') | replace('\n', '\n    ') }}
  autoProcessMedia_delta.cfg: |
    {{ lookup('template', role_path + '/app/config/autoProcessMedia_delta.cfg.j2') | replace('\n', '\n    ') }}
