apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sabnzbd
  namespace: {{ sabnzbd.namespace }}
  labels:
    {{ sabnzbd.labels_def | to_nice_yaml() | indent(4) }}
    {{ sabnzbd.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ sabnzbd.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ sabnzbd.labels_def | to_nice_yaml() | indent(8) }}
        {{ sabnzbd.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /opt/sabnzbd/data
            chown -R 1000:1000 /opt/sabnzbd/data
        volumeMounts:
        - name: sabnzbd-config-pv-claim
          mountPath: /opt/sabnzbd
      containers:
      - name: sabnzbd
        image: "{{ sabnzbd.private_image | image_full_name }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: {{ '/' if sabnzbd.context_root == '' else sabnzbd.context_root }}
            port: http
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ sabnzbd.container.requests_cpu }}"
            memory: "{{ sabnzbd.container.requests_memory }}"
          limits:
            cpu: "{{ sabnzbd.container.limits_cpu }}"
            memory: "{{ sabnzbd.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: sabnzbd-config-pv-claim
          mountPath: /opt/sabnzbd-data
          subPath: data
        - name: sabnzbd-download
          mountPath: /mnt/download
        - name: sabnzbd-config
          mountPath: /tmp/config
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: sabnzbd-config
        configMap:
          name: sabnzbd-config
      - name: sabnzbd-download
        persistentVolumeClaim:
          claimName: nfs-download
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: sabnzbd-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_longhorn_high_durability_storage_class_name }}
      resources:
        requests:
          storage: {{ sabnzbd.container.storage.config }}
