apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homer
  namespace: {{ homer.namespace }}
  labels:
    {{ homer.labels_def | to_nice_yaml() | indent(4) }}
    {{ homer.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if homer.context_root != "" %}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^({{ homer.context_root }})$ $1/ permanent;
{% endif %}
spec:
  tls:
    - hosts:
      - homer.web.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: homer.web.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if homer.context_root == '' else homer.context_root }}
        pathType: Prefix
        backend:
          service:
            name: homer
            port:
              name: http
