apiVersion: v1
kind: Secret
metadata:
  name: homeassistant-mysql-pass
  namespace: default
type: Opaque
data:
  password: {{ homeassistant_mysql_password | b64encode }}
  root_password: {{ homeassistant_mysql_root_password | b64encode }}
