apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: deluge
  namespace: {{ deluge.namespace }}
  labels:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
    {{ deluge.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - deluge.dl.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: deluge.dl.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if deluge_web.context_root == '' else deluge_web.context_root }}
        pathType: Prefix
        backend:
          service:
            name: deluge-web
            port:
              name: webui
