apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: deluge
  namespace: {{ deluge.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Deluge-Base "{{ deluge.context_root }}";
spec:
  tls:
    - hosts:
      - dl.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: dl.{{ web_base_domain }}
    http:
      paths:
      - path: {{ deluge.context_root }}/?(.*)
        backend:
          serviceName: deluge
          servicePort: 80
