kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-deluge
  namespace: {{ deluge.namespace }}
  labels:
    app.kubernetes.io/name: deluge
    app.kubernetes.io/component: deluge
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: deluge
      app.kubernetes.io/component: deluge

  ingress:
    # Allow from the ingress controller
    - ports:
        - port: webui
      from:
        - namespaceSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
