apiVersion: v1
kind: Secret
metadata:
  name: deluge-secret
  namespace: {{ deluge.namespace }}
  labels:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
    {{ deluge.labels_desc | to_nice_yaml() | indent(4) }}
data:
  auth: {{ lookup('template', role_path + '/app/config/auth.j2') | b64encode }}
  hostlist.conf: {{ lookup('template', role_path + '/app/config/hostlist.conf.j2') | b64encode }}
