apiVersion: v1
kind: Service
metadata:
  name: deluge
  namespace: {{ deluge.namespace }}
  labels:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
    {{ deluge.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 80
    targetPort: 8112
    name: webui
  selector:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
