apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: deluge
  namespace: {{ deluge.namespace }}
  labels:
    {{ deluge.labels_def | to_nice_yaml() | indent(4) }}
    {{ deluge.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      {{ deluge.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ deluge.labels_def | to_nice_yaml() | indent(8) }}
        {{ deluge.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: inject-config
        image: "{{ deluge.container.image }}"
        command: [ "python3", "/tmp/config/mergeConf.py" ]
        volumeMounts:
        - name: deluge-config-pv-claim
          mountPath: /config
        - name: deluge-config
          mountPath: /tmp/config
      containers:
      - name: deluge
        image: "{{ deluge.container.image }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8112
          name: webui
        securityContext:
          # TODO : deluge requires to run as root for now :/
          #runAsNonRoot: true
          #runAsUser: xxxx
          #runAsGroup: xxxx
          #readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /
            port: webui
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ deluge.container.requests_cpu }}"
            memory: "{{ deluge.container.requests_memory }}"
          limits:
            cpu: "{{ deluge.container.limits_cpu }}"
            memory: "{{ deluge.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: deluge-config-pv-claim
          mountPath: /config
        - name: deluge-download
          mountPath: /mnt/download
        # deluge-config is not used by the container directly
        # But mounting it enables the use of the reloader
        - name: deluge-config
          mountPath: /tmp/config
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: deluge-config
        configMap:
          name: deluge-config
      - name: deluge-download
        persistentVolumeClaim:
          claimName: nfs-download
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: deluge-config-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 256M
      selector:
        matchLabels:
          {{ deluge.labels_def | to_nice_yaml() | indent(10) }}
