# {{ ansible_managed }}

[misc]
# Run `sudo -v` to cache credentials at the start of the run
# This avoids a blocking password prompt in the middle of an unattended run
# (default: false)
pre_sudo = true

# Disable specific steps - same options as the command line flag
# disable = ["system", "emacs"]

# Run specific steps - same options as the command line flag
# only = ["system", "emacs"]

# Whether to self update
# this will be ignored if the binary is built without self update support
# available also via setting the environment variable TOPGRADE_NO_SELF_UPGRADE)
no_self_update = true

# Do not set the terminal title (default: true)
set_title = false

# Cleanup temporary or old files (default: false)
cleanup = true
