apiVersion: v1
kind: Secret
metadata:
  name: zonemta-ca
  namespace: {{ item.1 }}
  labels:
    app: zonemta
    app-component: zonemta
data:
{% for zonemta_generated_certificate_file in zonemta_generated_certificate_files.results %}
  {% if zonemta_generated_certificate_file.source | basename == "ca.crt" %}
  {{ zonemta_generated_certificate_file.source | basename }}: {{ zonemta_generated_certificate_file.content }}
  {% endif %}
{% endfor %}
