{% for ip_pool in metallb_ip_pools %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ ip_pool.name }}
  namespace: metallb-system
spec:
  addresses:
  {{ ip_pool.addresses | to_nice_yaml(indent=2) | indent(2) }}
{% endfor %}
