apiVersion: v1
kind: Secret
metadata:
  name: openldap-ca
  namespace: default
  labels:
    app: openldap
    app-component: openldap
data:
{% for openldap_generated_certificate_file in openldap_generated_certificate_files.results %}
  {% if openldap_generated_certificate_file.source | basename == "ca.crt" %}
  {{ openldap_generated_certificate_file.source | basename }}: {{ openldap_generated_certificate_file.content }}
  {% endif %}
{% endfor %}
