---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# Define your internal users here

{% for user in elasticsearch.internal_users | default([]) %}
{{ user.name }}:
  reserved: {{ user.reserved }}
  hash: {{ user.password | password_hash('bcrypt', '%021d.' | format(999999999999999999999 | random(seed=inventory_hostname + user.name))) }}
{% if user.backend_roles | default([]) | length > 0 %}
  backend_roles:
{% for backend_role in user.backend_roles | default([]) %}
    - "{{ backend_role }}"
{% endfor %}
{% endif %}

{% endfor %}

