---
# Homepage configuration
# See https://fontawesome.com/icons for icons options

title: "{{ homer.config.title }}"
subtitle: "{{ homer.config.subtitle }}"
logo: "{{ homer.config.logo }}"
icon: "{{ homer.config.icon }}"

header: true # Set to false to hide the header
footer: false

columns: "3" # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)
connectivityCheck: true # whether you want to display a message when the apps are not accessible anymore (VPN disconnected for example)

# Optional theming
theme: default # 'default' or one of the theme available in 'src/assets/themes'.

{% if homer.config.message %}
# Optional message
message:
{% if 'url' in homer.config.message %}  url: "{{ homer.config.message.url }}"
{% endif %}
  style: "{{ homer.config.message.style }}"
  title: "{{ homer.config.message.title }}"
  content: "{{ homer.config.message.content }}"
{% endif %}


{% if homer.config.links %}
# Optional navbar
links:
{% for link in homer.config.links %}
  - name: "{{ link.name }}"
    icon: "{{ link.icon }}"
    url: "{{ link.url }}"
{% if 'target' in link %}    target: "{{ link.target }}"
{% endif %}
{% endfor %}
{% endif %}


{% if homer.config.services %}
# Services
# First level array represent a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
{% for service in homer.config.services %}
  - 
{% if 'name' in service %}    name: "{{ service.name }}"
{% endif %}
{% if 'icon' in service %}    icon: "{{ service.icon }}"
{% endif %}
{% if service['items'] %}
    items:
{% for service_item in service['items'] %}
      - name: "{{ service_item.name }}"
{% if 'logo' in service_item %}        logo: "{{ service_item.logo }}"
{% endif %}
{% if 'subtitle' in service_item %}        subtitle: "{{ service_item.subtitle }}"
{% endif %}
{% if 'tag' in service_item %}        tag: "{{ service_item.tag }}"
{% endif %}
{% if 'url' in service_item %}        url: "{{ service_item.url }}"
{% endif %}
{% if 'target' in service_item %}        target: "{{ service_item.target }}"
{% endif %}
{% if 'tagstyle' in service_item %}        tagstyle: "{{ service_item.tagstyle }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
