apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud
  namespace: {{ nextcloud.namespace }}
  labels:
    {{ nextcloud.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Tools
    gethomepage.dev/name: Nextcloud
    gethomepage.dev/description: The self-hosted productivity platform that keeps you in control
    gethomepage.dev/icon: nextcloud
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=nextcloud"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - nextcloud.tool.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: nextcloud.tool.intra.{{ web_base_domain }}
    http:
      paths:
      - path: '/'
        pathType: Prefix
        backend:
          service:
            name: nextcloud
            port:
              name: web
