apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: {{ nextcloud.namespace }}
  labels:
    {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud_mysql.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
    - port: 3306
      name: mysql
  selector:
    {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(4) }}
