apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: {{ nextcloud.namespace }}
  labels:
    {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud_mysql.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  selector:
    matchLabels:
      {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(8) }}
        {{ nextcloud_mysql.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      initContainers:
      - name: create-folders
        image: "{{ busybox.private_image | image_full_name }}"
        imagePullPolicy: Always
        command:
          - "sh"
          - "-c"
          - |
            mkdir -p /mnt/mysql-pv-claim/mysql
            chown -R 1000:1000 /mnt/mysql-pv-claim/mysql
        volumeMounts:
        - name: mysql-pv-claim
          mountPath: /mnt/mysql-pv-claim
      containers:
      - name: mysql
        image: "{{ nextcloud_mysql.private_image | image_full_name }}"
        args:
        - --transaction-isolation=READ-COMMITTED
        - --log-bin
        - --binlog-format=ROW
        imagePullPolicy: Always        
        env:
        - name: MYSQL_DATABASE
          value: {{ nextcloud_mysql.database }}
        - name: MYSQL_USER
          value: {{ nextcloud_mysql.user }}
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: root_password
        ports:
        - containerPort: 3306
          name: mysql
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # random uid
          readOnlyRootFilesystem: true
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - "mysqladmin ping -u root -p${MYSQL_ROOT_PASSWORD}"
          initialDelaySeconds: 3
          periodSeconds: 5
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: mysql-pv-claim
          mountPath: /var/lib/mysql
          subPath: mysql
        - name: tmp-volume
          mountPath: /tmp
        - name: run-volume
          mountPath: /var/run/mysqld
        resources:
          requests:
            cpu: "{{ nextcloud_mysql.container.requests_cpu }}"
            memory: "{{ nextcloud_mysql.container.requests_memory }}"
          limits:
            cpu: "{{ nextcloud_mysql.container.limits_cpu }}"
            memory: "{{ nextcloud_mysql.container.limits_memory }}"
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: tmp-volume
        emptyDir: {}
      - name: run-volume
        emptyDir: {}
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: mysql-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_glusterfs_storage_class_name }}
      resources:
        requests:
          storage: 256M
      selector:
        matchLabels:
          {{ nextcloud_mysql.labels_def | to_nice_yaml() | indent(10) }}
