apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: {{ nextcloud.namespace }}
  labels:
    {{ nextcloud.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  admin_user: {{ nextcloud.admin.user | b64encode }}
  admin_password: {{ nextcloud.admin.password | b64encode }}
