apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: {{ nextcloud.namespace }}
  labels:
    {{ nextcloud.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  admin_user: {{ nextcloud.admin.user | b64encode }}
  admin_password: {{ nextcloud.admin.password | b64encode }}
  smtp_user: {{ nextcloud.smtp.user | b64encode }}
  smtp_password: {{ nextcloud.smtp.password | b64encode }}
  smtp_custom.config.php: {{ lookup('template', role_path + '/app/config/smtp_custom.config.php.j2') | b64encode }}
  ldap.conf: {{ lookup('template', role_path + '/app/config/ldap.conf.j2') | b64encode }}
