apiVersion: v1
kind: Secret
metadata:
  name: task-rescheduler
  namespace: "{{ nextcloud.namespace }}"
  labels:
    {{ nextcloud_task_rescheduler.labels_def | to_nice_yaml() | indent(4) }}
    {{ nextcloud_task_rescheduler.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  config.yaml: {{ lookup('template', role_path + '/app/config/task-rescheduler-config.yaml.j2') | b64encode }}
