apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mailhog
  namespace: {{ mailhog.namespace }}
  labels:
    {{ mailhog.labels_def | to_nice_yaml() | indent(4) }}
    {{ mailhog.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Cluster Management
    gethomepage.dev/name: MailHog
    gethomepage.dev/description: MailHog is an email testing tool for developers
    gethomepage.dev/icon: mailhog
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=mailhog"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - mailhog.infra.intra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: mailhog.infra.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if mailhog.context_root == '' else mailhog.context_root }}
        pathType: Prefix
        backend:
          service:
            name: mailhog
            port:
              name: http
