apiVersion: v1
kind: Secret
metadata:
  name: mailhog-smtp
  namespace: {{ mailhog.namespace }}
  labels:
    {{ mailhog.labels_def | to_nice_yaml() | indent(4) }}
    {{ mailhog.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  smtp.json: {{ lookup('template', role_path + '/app/config/smtp.json.j2', convert_data=False) | b64encode }}
