#!/usr/bin/env bash

function handleRemoteHost() {
    remoteHost="$1"
    echo " - remote : $remoteHost"
    # Stop nginx to make sure the VIP targets the local machine
    echo "stoppping nginx ..."
    ssh $remoteHost "systemctl stop nginx"
}

function handleLocalHost() {
    echo " - local"
    mkdir -p /etc/systemd/system/nginx.service.d/
    cat <<EOF > /etc/systemd/system/nginx.service.d/10-bootstrap_letsencrypt.conf
[Service]
ExecStartPre=
ExecStartPre=/usr/sbin/nginx -c {{ nginx_letsencrypt_dir }}/nginx.conf -t -q -g 'daemon on; master_process on;'
ExecStart=
ExecStart=/usr/sbin/nginx -c {{ nginx_letsencrypt_dir }}/nginx.conf -g 'daemon on; master_process on;'
ExecReload=
ExecReload=/usr/sbin/nginx -c {{ nginx_letsencrypt_dir }}/nginx.conf -g 'daemon on; master_process on;' -s reload
EOF
    systemctl daemon-reload
    echo "restarting nginx ..."
    systemctl restart nginx
}

{% for host in nginx_ssl_certbot_slaves | default([]) %}
handleRemoteHost {{ host }}
{% endfor %}
handleLocalHost
