apiVersion: v1
kind: Service
metadata:
  name: kube-dns-prometheus-discovery
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    prometheus-target: kube-dns
spec:
  selector:
    k8s-app: kube-dns
  ports:
  - name: http-metrics
    port: 9153
    targetPort: 9153
    protocol: TCP
