apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/name: alertmanager
      app.kubernetes.io/component: alertmanager
      app.kubernetes.io/instance: k8s
      app.kubernetes.io/part-of: prometheus
      app.kubernetes.io/version: v0.29.0

generatorOptions:
 disableNameSuffixHash: true

secretGenerator:
- name: alertmanager-k8s
  files:
  - secret/alertmanager.yaml

resources:
- serviceAccount.yaml
- ingress.yaml
- networkPolicy.yaml
- service.yaml
- alertmanager.yaml
