apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nginx-exporter
  namespace: {{ nginx_exporter.namespace }}
  labels:
    {{ nginx_exporter.labels_def | to_nice_yaml() | indent(4) }}
    {{ nginx_exporter.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  selector:
    matchLabels:
      {{ nginx_exporter.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ nginx_exporter.labels_def | to_nice_yaml() | indent(8) }}
        {{ nginx_exporter.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: nginx-exporter
        image: "{{ nginx_exporter.private_image | image_full_name }}"
        imagePullPolicy: Always
        args:
        - -nginx.scrape-uri
        - http://$(NODE_IP):81/status
        ports:
        - containerPort: 9113
          name: metrics
        env:
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # random uid
          readOnlyRootFilesystem: true
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /metrics
            port: metrics
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: "{{ nginx_exporter.container.requests_cpu }}"
            memory: "{{ nginx_exporter.container.requests_memory }}"
          limits:
            cpu: "{{ nginx_exporter.container.limits_cpu }}"
            memory: "{{ nginx_exporter.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/loadbalancer: 'yes'
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
