
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
some_password: welcome

recorder_mysql_url: mysql://{{ homeassistant_mysql_user }}:{{ homeassistant_mysql_password }}@homeassistant-mysql/{{ homeassistant_mysql_database }}?charset=utf8
