
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/


recorder_mysql_url: mysql://{{ homeassistant_mysql_user }}:{{ homeassistant_mysql_password }}@homeassistant-mysql/{{ homeassistant_mysql_database }}?charset=utf8

# MQTT credentials
mqtt_username: {{ homeassistant_mqtt_user }}
mqtt_password: {{ homeassistant_mqtt_password }}

# SMTP credentials
smtp_username: {{ homeassistant_smtp_user }}
smtp_password: {{ homeassistant_smtp_password }}
smtp_recipient_user: user@mail.net
