apiVersion: v1
kind: Service
metadata:
  name: zigbee2mqtt
  namespace: {{ zigbee2mqtt.namespace }}
  labels:
    {{ zigbee2mqtt.labels_def | to_nice_yaml() | indent(4) }}
    {{ zigbee2mqtt.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  ports:
  - port: 8080
    name: http
    targetPort: http
  selector:
    {{ zigbee2mqtt.labels_def | to_nice_yaml() | indent(4) }}
