---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: {{ kubernetes_metrics_server.namespace }}
  labels:
    {{ kubernetes_metrics_server.labels_def | to_nice_yaml() | indent(4) }}
    {{ kubernetes_metrics_server.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  selector:
    matchLabels:
      {{ kubernetes_metrics_server.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    rollingUpdate:
      maxUnavailable: 0
  template:
    metadata:
      name: metrics-server
      labels:
        {{ kubernetes_metrics_server.labels_def | to_nice_yaml() | indent(8) }}
        {{ kubernetes_metrics_server.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - args:
        - --cert-dir=/tmp
        - --secure-port=4443
        # TODO : Fix kubelet serving certificate and remove this insecure flag
        # See https://github.com/kubernetes/kubeadm/issues/1223
        - --kubelet-insecure-tls=true
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
        - --kubelet-use-node-status-port
        - --metric-resolution=15s
        image: "{{ kubernetes_metrics_server.private_image | image_full_name }}"
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /livez
            port: https
            scheme: HTTPS
          periodSeconds: 10
        name: metrics-server
        ports:
        - containerPort: 4443
          name: https
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: https
            scheme: HTTPS
          initialDelaySeconds: 20
          periodSeconds: 10
        resources:
          requests:
            cpu: "{{ kubernetes_metrics_server.container.requests_cpu }}"
            memory: "{{ kubernetes_metrics_server.container.requests_memory }}"
          limits:
            cpu: "{{ kubernetes_metrics_server.container.limits_cpu }}"
            memory: "{{ kubernetes_metrics_server.container.limits_memory }}"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
        volumeMounts:
        - mountPath: /tmp
          name: tmp-dir
      nodeSelector:
        kubernetes.io/os: linux
        capability/general-purpose: 'yes'
      priorityClassName: system-cluster-critical
      serviceAccountName: metrics-server
      volumes:
      - emptyDir: {}
        name: tmp-dir
