---
apiVersion: v1
kind: Service
metadata:
  name: metrics-server
  namespace: {{ kubernetes_metrics_server.namespace }}
  labels:
    {{ kubernetes_metrics_server.labels_def | to_nice_yaml() | indent(4) }}
    {{ kubernetes_metrics_server.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  selector:
    {{ kubernetes_metrics_server.labels_def | to_nice_yaml() | indent(4) }}
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: https
