apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana
  namespace: logging
  labels:
    app: kibana
    app-component: kibana
data:
  kibana.yml: |
    {{ lookup('template', kubernetes_app_root_path + '/logging/kibana/config/kibana.yml.j2') | replace('\n', '\n    ') }}
