apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: logging
  labels:
    app: kibana
    app-component: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
      app-component: kibana
  template:
    metadata:
      labels:
        app: kibana
        app-component: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana-oss:6.6.0
        resources:
          requests:
            cpu: "{{ kibana_requests_cpu | default("100m") }}"
            memory: "{{ kibana_requests_memory | default("512Mi") }}"
          limits:
            cpu: "{{ kibana_limits_cpu | default("1000m") }}"
            memory: "{{ kibana_limits_memory | default("512Mi") }}"
        env:
          - name: SERVER_BASEPATH
            value: {{ logging_kibana_context_path | default('/kibana') }}
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch:9200
        ports:
        - containerPort: 5601
      nodeSelector:
        capability/general-purpose: 'yes'
