[
    {
        "id": "5cf77e32.54a47",
        "type": "tab",
        "label": "Test HomeAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3925f1ad.f3636e",
        "type": "server",
        "name": "Home Assistant",
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "dbac5e46.ca6e1",
        "type": "inject",
        "z": "5cf77e32.54a47",
        "name": "Manual trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 320,
        "wires": [
            ["675da9de.c7ff7"]
        ]
    },
    {
        "id": "6007c54a.af0e04",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Notif",
        "server": "3925f1ad.f3636e",
        "version": 5,
        "debugenabled": true,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ '{{' }} payload {{ '}}' }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [{
            "property": "payload",
            "propertyType": "msg",
            "value": "",
            "valueType": "data"
        }],
        "queue": "none",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "98bee1c8.a412c",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Email",
        "server": "3925f1ad.f3636e",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "email_user",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ '{{' }} payload {{ '}}' }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [{
            "property": "payload",
            "propertyType": "msg",
            "value": "",
            "valueType": "data"
        }],
        "queue": "none",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "675da9de.c7ff7",
        "type": "api-current-state",
        "z": "5cf77e32.54a47",
        "name": "Sun",
        "server": "3925f1ad.f3636e",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sun.sun",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{
            "property": "payload",
            "propertyType": "msg",
            "value": "",
            "valueType": "entityState"
        }, {
            "property": "data",
            "propertyType": "msg",
            "value": "",
            "valueType": "entity"
        }, {
            "property": "topic",
            "propertyType": "msg",
            "value": "",
            "valueType": "triggerId"
        }],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 470,
        "y": 320,
        "wires": [
            ["6007c54a.af0e04", "98bee1c8.a412c", "c487401f16759748"]
        ]
    },
    {
        "id": "27909229.fa886e",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "You still need to configure the HomeAssistant server",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "17c95d30.ca700b",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Go to the top-right menu > Configuration Nodes > Home Assistant",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "40ecd08a.702268",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Fill in the settings : ",
        "info": "",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "7fc01d2e.5151fc",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Base URL : http://homeassistant.home-homeassistant.svc.cluster.local",
        "info": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bc984a7.09107c",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Access Token : [HomeAssistant long lived token]",
        "info": "",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f4c554d.c866a2",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "And remember to hit the Deploy button !",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "965bf194.aa89d8",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Each time you click on the grey button, you should see a notification on HomeAssistant and receive an email",
        "info": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "c487401f16759748",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Ntfy",
        "server": "3925f1ad.f3636e",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "ntfy_info",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ '{{' }} payload {{ '}}' }}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [{
            "property": "payload",
            "propertyType": "msg",
            "value": "",
            "valueType": "data"
        }],
        "queue": "none",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 690,
        "y": 440,
        "wires": [
            []
        ]
    }
]