watchers:
  - type: docker_registry
    repo: quay.io
    image: argoproj/argocli
    tag: v3.7.4
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*rc[0-9]+
      - .*-linux-
      - v[0-2]\.
      - v3\.[0-6]\.
      - v3\.7\.[0-3]$
  - type: docker_registry
    repo: quay.io
    image: argoproj/workflow-controller
    tag: v3.7.4
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*rc[0-9]+
      - .*-linux-
      - v[0-2]\.
      - v3\.[0-6]\.
      - v3\.7\.[0-3]$
