watchers:
  - type: docker_registry
    name: ddclient Base image
    repo: registry-1.docker.io
    image: library/alpine
    tag: 3.22.2
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*rc.*
      - 3\.[0-9]\..*
      - 3\.1[0-9]\..*
      - 3\.2[0-1]\..*
      - 3\.22\.[0-1]$
