watchers:
  - name: PyLoad Baseimage
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.13.11-slim-trixie
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-slim-trixie
    excludes:
      - ^2\.
      - ^3\.[0-9]\.
      - ^3\.1[0-2]\.
      - ^3\.13\.[0-9]-
      - ^3\.13\.1[0]-
  - name: PyLoad
    type: pypi
    package: pyload-ng
    version: 0.5.0b3.dev94
    excludes:
      - ^1\..*
