watchers:
  - name: "Buildah"
    type: docker_registry
    repo: quay.io
    image: containers/buildah
    tag: v1.42.0
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - v0\.
      - v1\.[0-9]\.
      - v1\.[0-3][0-9]\.
      - v1\.4[0-1]\.
  - name: "Source fetcher base image"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.13.9-alpine3.22
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^3\.[0-9]\.
      - ^3\.1[0-2]\.
      - ^3\.13\.[0-8]-
  - name: "Source fetcher pyyaml"
    type: pypi
    package: pyyaml
    version: 6.0.1
    excludes:
      - .*[ab][1-9]$
      - .*rc[1-9]$
      - ^[0-6]\..*
      - ^7\.[0-3]\..*
