watchers:
  - name: "ArgoCD ksops"
    type: docker_registry
    repo: registry-1.docker.io
    image: viaductoss/ksops
    tag: v4.3.3-amd64
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+-amd64
    excludes:
      - v[0-3]\.
      - v4\.[0-2]\.
  - name: "ArgoCD"
    type: docker_registry
    repo: quay.io
    image: argoproj/argocd
    tag: v3.2.0
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - .*-rc
      - v[0-2]\.
      - v2\.[0-9]\.
      - v3\.[0-1]\.
  - name: "ArgoCD Dex"
    type: docker_registry
    repo: ghcr.io
    image: dexidp/dex
    tag: v2.43.1-distroless
    includes:
      - v[0-9]+\.[0-9]+\.[0-9]+-distroless
    excludes:
      - v[0-1]\.
      - v2\.[0-9]\.
      - v2\.[0-3][0-9]\.
  - name: "ArgoCD Redis"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/redis
    tag: 8.2.2-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^[0-7]\.
      - ^8\.[0-1]\.
