watchers:
  - name: Nextcloud
    type: docker_registry
    repo: registry-1.docker.io
    image: library/nextcloud
    tag: 32.0.1-apache
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-apache
    excludes:
      - ^[0-9]\..*
      - ^1[0-9]\..*
      - ^2[0-9]\..*
      - ^3[0-1]\..*
  - name: Nextcloud supercronic
    type: github_release
    repo: aptible/supercronic
    release: v0.2.39
    excludes:
      - .*(alpha|beta|rc).*
      - ^v0\.[0-1]\.
  - name: Nextcloud Calendar
    type: github_release
    repo: nextcloud-releases/calendar
    release: v6.0.4
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-5]\..*
  - name: Nextcloud Contacts
    type: github_release
    repo: nextcloud-releases/contacts
    release: v8.0.6
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-7]\..*
  - name: Nextcloud Notes
    type: github_release
    repo: nextcloud/notes
    release: v4.12.3
    excludes:
      - .*(alpha|beta|rc).*
      - ^v[0-3]\..*
  - name: Nextcloud Tasks
    type: github_release
    repo: nextcloud/tasks
    release: v0.17.1
    excludes:
      - .*(alpha|beta|rc).*
      - ^v0\.[0-9]\..*
      - ^v0\.1[0-6]\..*
  - name: "Nextcloud MySQL"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/mysql
    tag: 9.5.0-oraclelinux9
    includes:
      - ^[0-9]\.[0-9]+\.[0-9]+-oraclelinux.+
    excludes:
      - .*rc.*
      - ^[0-8]\..*
      - ^9\.[0-4]\..*
  - name: "Nextcloud Redis"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/redis
    tag: 8.2.3-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^[0-7]\.
      - ^8\.[0-1]\.
  - name: "Caldav recurring task scheduler base image"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.13.9-alpine3.22
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^3\.[0-9]\.
      - ^3\.1[0-2]\.
      - ^3\.13\.[0-8]-
  - name: Caldav recurring task scheduler
    type: github_commit
    repo: Neraud/caldav-recurring-task-scheduler
    branch: main
    commit: 0601e962a228aaa3610fefac9fde7f24caa9ce97
