watchers:
  - type: docker_registry
    repo: ghcr.io
    image: home-assistant/home-assistant
    tag: 2025.11.1
    includes:
      - ^[0-9][0-9][0-9][0-9]\.[0-9]+\.[0-9]+.*
    excludes:
      - .*dev
      - .*b[0-9]
      - (latest|stable|beta|dev|rc)
      - ^202[0-4]\..*
      - ^2025\.[0-9]\..*
      - ^2025\.1[0]\..*
  - type: github_commit
    repo: bob1de/ldap-auth-sh
    branch: master
    commit: 819f9233116e68b5af5a5f45167bcbb4ed412ed4
  - name: "HomeAssistant MySQL"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/mysql
    tag: 9.5.0-oraclelinux9
    includes:
      - ^[0-9]\.[0-9]+\.[0-9]+-oraclelinux.+
    excludes:
      - .*rc.*
      - ^[0-8]\..*
      - ^9\.[0-4]\..*
