watchers:
  - type: docker_registry
    repo: ghcr.io
    image: jellyfin/jellyfin
    tag: 10.11.2
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+$
    excludes:
      - ^10\.[0-9]\..*
      - ^10\.1[0]\..*
  - name: Jellyfin inject conf
    type: docker_registry
    repo: registry-1.docker.io
    image: library/python
    tag: 3.13.9-alpine3.22
    includes:
      - 3\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^3\.[0-9]\.
      - ^3\.1[0-2]\.
      - ^3\.13\.[0-8]-
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anidb
    tag: v11
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anilist
    tag: v12
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-anisearch
    tag: v6
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-ldapauth
    tag: v22
  - type: github_tag
    repo: jellyfin/jellyfin-plugin-tvdb
    tag: v20
