watchers:
  - name: ZoneMTA
    type: github_tag
    repo: zone-eu/zone-mta
    tag: v3.10.8
    includes:
      - ^v[0-9]+\.[0-9]+\.[0-9]+
    excludes:
      - ^v[1-2]\.
  - name: "ZoneMTA Redis"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/redis
    tag: 8.2.3-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+.*alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*alpine3\.1[0-9]
      - .*alpine3\.2[0-1]
      - ^[0-7]\.
      - ^8\.[0-1]\.
  - name: "ZoneMTA Mongo"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/mongo
    tag: 8.2.1-noble
    includes:
      - '[0-9]+\.[0-9]+.[0-9]+-.*'
    excludes:
      - .*rc.*
      - .*-(nanoserver|windowsservercore).*$
      - .*-focal$
      - ^[0-7]\..*
      - ^8\.[0-1]\..*
      - ^8\.2\.[0]-.*
  - name: "ZoneMTA Node"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/node
    tag: 25.2.0-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[0-9]
      - .*-alpine3.2[0-1]
      - 1[0-9]\..*
      - 2[0-2]\..*
      - 23\.[0-9]\..*
      - 23\.1[0]\..*
