watchers:
  - name: Miniflux
    type: docker_registry
    repo: ghcr.io
    image: miniflux/miniflux
    tag: 2.2.14-distroless
    includes:
      - ^[0-9]+.[0-9]+.[0-9]+-distroless$
    excludes:
      - ^1\..*
      - ^2\.[0-1]\..*-distroless$
      - ^2\.2\.[0-9]-distroless$
      - ^2\.2\.1[0-3]-distroless$
  - name: Miniflux PostgreSQL
    type: docker_registry
    repo: registry-1.docker.io
    image: library/postgres
    tag: 15.14-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9]+
      # TODO upgrade major version
      - ^15\.
    excludes:
      - .*-alpine3\.1[0-9]
      - .*-alpine3\.2[0-1]
      - ^[0-9]\.
      - ^1[0-4]\.
      - ^15\.[0-9]\.
      - ^15\.1[0-3]\.
  - name: "Reminiflux Node"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/node
    tag: 25.1.0-alpine3.22
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]
    excludes:
      - .*-alpine3.1[0-9]
      - .*-alpine3.2[0]
      - 1[0-9]\..*
      - 2[0-4]\..*
      - 25\.[0]\..*
  - name: "Reminiflux Nginx"
    type: docker_registry
    repo: registry-1.docker.io
    image: library/nginx
    tag: 1.29.3-alpine3.22-slim
    includes:
      - ^[0-9]+\.[0-9]+\.[0-9]+-alpine[0-9]+\.[0-9][0-9]-slim
    excludes:
      - .*-alpine3.1[0-9]
      - .*-alpine3.2[0-1]
      - .*-perl
      - 1\.[0-9]\..*
      - 1\.[0-1][0-9]\..*
      - 1\.2[0-8]\..*
      - 1\.29\.[0-2]-
