watchers:
  - type: github_commit
    repo: mdlayher/apcupsd_exporter
    branch: main
    commit: 28b7412171d865777a1bb8c9358df081d50f2bba
  - type: docker_registry
    name: apcups Base image
    repo: registry-1.docker.io
    image: library/alpine
    tag: 3.22.2
    includes:
      - "[0-9]+\\.[0-9]+\\.[0-9]+.*"
    excludes:
      - .*rc.*
      - 3\.[0-9]\..*
      - 3\.1[0-9]\..*
      - 3\.2[0-1]\..*
