# {{ ansible_managed }}

[Unit]
Description=Backup apps data with restic
Requires=restic_backup_apps.service

[Timer]
Unit=restic_backup_apps.service
OnCalendar={{ restic_backup_apps_timer }}
Persistent=false

[Install]
WantedBy=timers.target
