# {{ ansible_managed }}

[Unit]
Description=Perform maintenance on restic repositories

[Timer]
Unit=restic_repo_maintenance.service
OnCalendar={{ restic_repo_maintenance_timer }}
Persistent=false

[Install]
WantedBy=timers.target
