apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  labels:
    app: alertmanager
    app-component: alertmanager
    alertmanager: main
  name: main
  namespace: monitoring
spec:
  baseImage: "{{ alertmanager.base_image.repo }}/{{ alertmanager.base_image.name }}"
  version: "{{ alertmanager.base_image.tag }}"
  nodeSelector:
    kubernetes.io/os: linux
    capability/general-purpose: 'yes'
  replicas: 1
  externalUrl: https://infra.{{ web_base_domain }}/alertmanager/
  secrets:  # The Secrets are mounted into /etc/alertmanager/secrets/<secret-name>
  - cluster-ca
  resources:
    requests:
      cpu: "{{ alertmanager.container.requests_cpu  }}"
      memory: "{{ alertmanager.container.requests_memory  }}"
    limits:
      cpu: "{{ alertmanager.container.limits_cpu  }}"
      memory: "{{ alertmanager.container.limits_memory  }}"
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: alertmanager-main
