apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: alertmanager
    alertmanager: main
    prometheus-target: alertmanager-main
  name: alertmanager-main
  namespace: {{ prometheus.namespace }}
spec:
  ports:
  - name: web
    port: 9093
    targetPort: web
  selector:
    alertmanager: main
    app.kubernetes.io/name: alertmanager
  sessionAffinity: ClientIP
