[default]
preferIPv6=false
ignoreIPv6=true
processes=1
connections=5
pool="default"

# If you want to send messages for this zone to next MTA instead of actual MX, then
# uncomment following lines and change values
host = "{{ zonemta.forward.mta_host }}"
port = {{ zonemta.forward.mta_port }}
{% if zonemta.forward.mta_auth_enabled | bool %}
[default.auth]
user = "{{ zonemta.forward.mta_user }}"
pass = "{{ zonemta.forward.mta_password }}"
{% endif %}
