# This file only contains a subset of available configurations
# It isn't used directly by Sickchill, but it's merged in the complete config file

[General]
    web_host = 0.0.0.0
    web_port = 8081
    web_root = {{ '/' if sickchill.context_root == '' else sickchill.context_root }}
    # Do not encrypt password, TODO enable it, see https://github.com/SickChill/SickChill/blob/master/sickbeard/helpers.py#L969
    encryption_version = 0
    web_password = {{ sickchill.web_password }}
    web_username = {{ sickchill.web_username }}

    api_key = "{{ sickchill.api_key }}"

    enable_https = 0
    https_cert = server.crt
    https_key = server.key

    # accept the following reverse proxy headers (advanced) (X-Forwarded-For, X-Forwarded-Host, and X-Forwarded-Proto)
    handle_reverse_proxy = 1

    # verify SSL Certificates (Disable this for broken SSL installs (Like QNAP))
    ssl_verify = 1

    root_dirs = 1|/mnt/multimedia/Anime|/mnt/multimedia/TV Shows
    tv_download_dir = /mnt/download/done

    # enable debug logs
    debug = 0
    # enable logs from the internal Tornado web server
    web_log = 0
    log_dir = Logs
    log_size = 10.0
    log_nr = 5

[Blackhole]
    nzb_dir = /mnt/download/newsgroup/nzbFiles
    torrent_dir = /mnt/download/torrent/auto-load

[SABnzbd]
    sab_host = http://{{ sabnzbd.servername }}:80/
    sab_apikey = {{ sabnzbd.api_key }}
    sab_username = {{ sabnzbd.user }}
    sab_password = {{ sabnzbd.password }}

[Email]
    #use_email = 0
    #email_notify_onsnatch = 0
    #email_notify_ondownload = 0
    #email_notify_onsubtitledownload = 0
    email_tls = {{ sickchill.smtp.tls | ternary(1, 0) }}
    email_host = "{{ sickchill.smtp.host }}"
    email_port = {{ sickchill.smtp.port }}
    email_user = "{{ sickchill.smtp.user }}"
    email_password = "{{ sickchill.smtp.password }}"
    email_from = "{{ sickchill.smtp.from }}"
    #email_list = ""
    #email_subject = ""
