
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/


recorder_mysql_url: mysql://{{ homeassistant_mysql.user }}:{{ homeassistant_mysql.password }}@homeassistant-mysql/{{ homeassistant_mysql.database }}?charset=utf8

# MQTT credentials
mqtt_username: {{ homeassistant.mqtt.user }}
mqtt_password: {{ homeassistant.mqtt.password }}

# SMTP credentials
smtp_username: {{ homeassistant.smtp.user }}
smtp_password: {{ homeassistant.smtp.password }}
smtp_recipient_user: user@mail.net

{% if homeassistant.gotify.enabled %}
# Gotify
gotify_application_token: {{ homeassistant_gotify_application_token }}
{% endif %}
