
# Cf https://airsonic.github.io/docs/configure/airsonic-properties/

# The airsonic.properties file contains both technical settings (LDAP, SMTP ...) and the state of the application (JWTKey, statistics ...).

# To avoid breaking things, this file only handles a subset of available properties : Ldap* and Smtp*
# These properties are injected over the ones that might exist in the airsonic.properties file that lives on the data volume.
# Any other property set here will be ignored.


