apiVersion: v1
kind: Secret
metadata:
  name: miniflux
  namespace: {{ miniflux.namespace }}
  labels:
    {{ miniflux.labels_def | to_nice_yaml() | indent(4) }}
    {{ miniflux.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  database_url: "{{ ('postgres://' + miniflux_pgsql.user + ':' + miniflux_pgsql.password + '@pgsql/' + miniflux_pgsql.database + '?sslmode=disable' ) | b64encode }}"
  admin_username: {{ miniflux.admin_user | b64encode }}
  admin_password: {{ miniflux.admin_password | b64encode }}
