apiVersion: v1
kind: Secret
metadata:
  name: pgsql-pass
  namespace: {{ miniflux.namespace }}
  labels:
    {{ miniflux_pgsql.labels_def | to_nice_yaml() | indent(4) }}
    {{ miniflux_pgsql.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  password: {{ miniflux_pgsql.password | b64encode }}
