{
    "policy": {
        "policy_id": "{{ elasticsearch.logstash_policy.name }}",
        "description": "A simple policy that handles hot / cold / delete states.",
        "schema_version": 1,
        "default_state": "hot",
        "states": [{
                "name": "hot",
                "actions": [{
                    "open": {}
                }],
                "transitions": [{
                    "state_name": "cold",
                    "conditions": {
                        "min_index_age": "{{ elasticsearch.logstash_policy.cold_age }}"
                    }
                }]
            },
            {
                "name": "cold",
                "actions": [
                    {
                        "read_only": {}
                    },
                    {
                        "replica_count": {
                            "number_of_replicas": 0
                        }
                    }
                ],
                "transitions": [{
                    "state_name": "delete",
                    "conditions": {
                        "min_index_age": "{{ elasticsearch.logstash_policy.delete_age }}"
                    }
                }]
            },
            {
                "name": "delete",
                "actions": [{
                    "delete": {}
                }],
                "transitions": []
            }
        ]
    }
}