kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-release-watcher
  namespace: {{ release_watcher.namespace }}
  labels:
    app.kubernetes.io/name: release-watcher
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      app.kubernetes.io/name: release-watcher
      app.kubernetes.io/component: release-watcher

  ingress:
    # Allow from prometheus
    - ports:
        - port: metrics
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
              prometheus: k8s
