kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-release-watcher
  namespace: {{ release_watcher.namespace }}
  labels:
    {{ release_watcher.labels_def | to_nice_yaml() | indent(4) }}
    {{ release_watcher.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ release_watcher.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    # Allow from prometheus
    - ports:
        - port: metrics
      from:
        - namespaceSelector:
            matchLabels:
              name: {{ prometheus.namespace }}
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
              prometheus: k8s
