apiVersion: v1
kind: ConfigMap
metadata:
  name: release-watcher-config
  namespace: monitoring
  labels:
    app: release-watcher
    app-component: release-watcher
data:
  config.yaml:  |
    {{ lookup('template', kubernetes_app_root_path + '/monitoring/release-watcher/config/config.yaml.j2')  | replace('\n', '\n    ') }}
  watchers.yaml:  |
    {{ lookup('file', kubernetes_app_root_path + '/monitoring/release-watcher/config/watchers.yaml')  | replace('\n', '\n    ') }}
