#{{ ansible_managed }}

[{{ item.name }}]
enabled = {{ item.enabled }}

{% if item.port is defined %}
port = {{ item.port }}
{% endif %}
{% if item.filter is defined %}
filter = {{ item.filter }}
{% endif %}
{% if item.action is defined %}
action = {{ item.action }}
{% endif %}
{% if item.logpath is defined %}
logpath = {{ item.logpath }}
{% endif %}
{% if item.maxretry is defined %}
maxretry = {{ item.maxretry }}
{% endif %}
{% if item.extra_conf is defined %}
{{ item.extra_conf }}
{% endif %}
