apiVersion: v1
kind: ConfigMap
metadata:
  name: roomassistant-config
  namespace: {{ roomassistant.namespace }}
  labels:
    {{ roomassistant.labels_def | to_nice_yaml() | indent(4) }}
    {{ roomassistant.labels_desc | to_nice_yaml() | indent(4) }}
data:
  local.yaml: |
    {{ lookup('template', role_path + '/app/config/local.yaml.j2')  | replace('\n', '\n    ') }}
