apiVersion: apps/v1
kind: Deployment
metadata:
  name: roomassistant
  namespace: {{ roomassistant.namespace }}
  labels:
    {{ roomassistant.labels_def | to_nice_yaml() | indent(4) }}
    {{ roomassistant.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      {{ roomassistant.labels_def | to_nice_yaml() | indent(6) }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ roomassistant.labels_def | to_nice_yaml() | indent(8) }}
        {{ roomassistant.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: roomassistant
        image: "{{ roomassistant.container.image }}"
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000 # node
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: "{{ roomassistant.container.requests_cpu }}"
            memory: "{{ roomassistant.container.requests_memory }}"
          limits:
            cpu: "{{ roomassistant.container.limits_cpu }}"
            memory: "{{ roomassistant.container.limits_memory }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
          readOnly: true
        - name: roomassistant-config
          mountPath: /room-assistant/config
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: roomassistant-config
        configMap:
          name: roomassistant-config
      # Host network required for bluetooth
      hostNetwork: true
      nodeSelector:
        capability/home: 'yes'
