
kind: Service
apiVersion: v1
metadata:
  name: apcupsd
  namespace: monitoring-apcups-exporter
  labels:
    app.kubernetes.io/name: apcupsd
spec:
  ports:
  - name: metrics
    port: {{ apcups_netserver_listen_port }}
    targetPort: metrics
