apiVersion: apps/v1
kind: Deployment
metadata:
  name: reloader
  namespace: {{ reloader.namespace }}
  labels:
    {{ reloader.labels_def | to_nice_yaml() | indent(4) }}
    {{ reloader.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      {{ reloader.labels_def | to_nice_yaml() | indent(6) }}
  template:
    metadata:
      labels:
        {{ reloader.labels_def | to_nice_yaml() | indent(8) }}
        {{ reloader.labels_desc | to_nice_yaml() | indent(8) }}
    spec:
      containers:
      - name: reloader
        image: "{{ reloader.private_image | image_full_name }}"
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: "{{ reloader.container.requests_cpu }}"
            memory: "{{ reloader.container.requests_memory }}"
          limits:
            cpu: "{{ reloader.container.limits_cpu }}"
            memory: "{{ reloader.container.limits_memory }}"
      serviceAccountName: reloader
      imagePullSecrets:
      - name: docker-config
      nodeSelector:
        capability/general-purpose: 'yes'
