apiVersion: v1
kind: Secret
metadata:
  name: zonemta-mongo-init
  namespace: "{{ zonemta.namespace }}"
  labels:
    app: zonemta
    app-component: mongo
type: Opaque
data:
  create-user.js: |
    {{ lookup('template', role_path + '/app/config/mongodb/create-user.js.j2') | b64encode }}
