apiVersion: v1
kind: Secret
metadata:
  name: zonemta-mongo-init
  namespace: "{{ zonemta.namespace }}"
  labels:
    {{ zonemta_mongo.labels_def | to_nice_yaml() | indent(4) }}
    {{ zonemta_mongo.labels_desc | to_nice_yaml() | indent(4) }}
type: Opaque
data:
  create-user.js: |
    {{ lookup('template', role_path + '/app/config/mongodb/create-user.js.j2') | b64encode }}
