apiVersion: v1
kind: Secret
metadata:
  name: zonemta-mongo-pass
  namespace: "{{ zonemta.namespace }}"
  labels:
    app.kubernetes.io/name: zonemta
    app.kubernetes.io/component: mongo
type: Opaque
data:
  password: {{ zonemta_mongo.root_password | b64encode }}
