apiVersion: v1
kind: Service
metadata:
  name: zonemta-redis
  namespace: "{{ zonemta.namespace }}"
  labels:
    app: zonemta
spec:
  ports:
  - port: 6379
    name: redis
  selector:
    app: zonemta
    app-component: redis
