apiVersion: v1
kind: Secret
metadata:
  name: zonemta-certificates
  namespace: "{{ zonemta.namespace }}"
  labels:
    app.kubernetes.io/name: zonemta
    app.kubernetes.io/component: zonemta
data:
{% for zonemta_generated_certificate_file in zonemta_generated_certificate_files.results %}
  {{ zonemta_generated_certificate_file.source | basename }}: {{ zonemta_generated_certificate_file.content }}
{% endfor %}
