apiVersion: v1
kind: Service
metadata:
  name: zonemta
  namespace: "{{ zonemta.namespace }}"
  labels:
    app.kubernetes.io/name: zonemta
spec:
  ports:
  - port: 587
    targetPort: 1587
    name: smtp
  selector:
    app.kubernetes.io/name: zonemta
    app.kubernetes.io/component: zonemta
