apiVersion: v1
kind: Service
metadata:
  name: zonemta-prometheus
  namespace: "{{ zonemta.namespace }}"
  labels:
    app.kubernetes.io/name: zonemta
    app.kubernetes.io/component: zonemta
    prometheus-target: zonemta
spec:
  ports:
  - port: 12080
    name: metrics
    targetPort: metrics
  selector:
    app.kubernetes.io/name: zonemta
    app.kubernetes.io/component: zonemta
