kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-mosquitto
  namespace: {{ mosquitto.namespace }}
  labels:
    {{ mosquitto.labels_def | to_nice_yaml() | indent(4) }}
    {{ mosquitto.labels_desc | to_nice_yaml() | indent(4) }}
spec:
  types: [Ingress]

  podSelector:
    matchLabels:
      {{ mosquitto.labels_def | to_nice_yaml() | indent(6) }}

  ingress:
    - ports:
        - port: mqtt
        - port: mqtts
      from:
        # Allow from test pods
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: mosquitto
              app.kubernetes.io/component: test

        # Allow from the ingress controller
        - namespaceSelector:
            matchLabels:
              {{ ingress_nginx.namespace_labels_def | to_nice_yaml() | indent(14) }}
          podSelector:
            matchLabels:
              {{ ingress_nginx.labels_def | to_nice_yaml() | indent(14) }}
        
        # Allow from homeassistant
        - namespaceSelector:
            matchLabels:
              name: {{ homeassistant.namespace }}
          podSelector:
            matchLabels:
              {{ homeassistant.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from roomassistant
        - namespaceSelector:
            matchLabels:
              name: {{ roomassistant.namespace }}
          podSelector:
            matchLabels:
              {{ roomassistant.labels_def | to_nice_yaml() | indent(14) }}

        # Allow from frigate
        - namespaceSelector:
            matchLabels:
              name: {{ frigate.namespace }}
          podSelector:
            matchLabels:
              {{ frigate.labels_def | to_nice_yaml() | indent(14) }}
