apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  namespace: logging
  labels:
    app: elasticsearch
    app-component: elasticsearch
data:
  elasticsearch.yml: |
    {{ lookup('template', kubernetes_app_root_path + '/logging/elasticsearch/config/elasticsearch.yml.j2') | replace('\n', '\n    ') }}
