apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: elasticsearch
  namespace: logging
  labels:
    app: elasticsearch
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  rules:
  - host: infra.{{ web_base_domain }}
    http:
      paths:
        - path: {{ logging_elasticsearch_context_path | default('/elasticsearch') }}/?(.*)
          backend:
            serviceName: elasticsearch
            servicePort: 9200
