apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: logging
  labels:
    app: elasticsearch
    app-component: elasticsearch
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  serviceName: elasticsearch
  replicas: {{ logging_elasticsearch_replicas }}
  selector:
    matchLabels:
      app: elasticsearch
      app-component: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
        app-component: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: amazon/opendistro-for-elasticsearch:0.7.0
        ports:
        - containerPort: 9200
          name: rest
          protocol: TCP
        - containerPort: 9300
          name: inter-node
          protocol: TCP
        - containerPort: 9600
          name: perftop
          protocol: TCP
        resources:
          requests:
            cpu: "{{ elasticsearch_requests_cpu | default("100m") }}"
            memory: "{{ elasticsearch_requests_memory | default("1024Mi") }}"
          limits:
            cpu: "{{ elasticsearch_limits_cpu | default("1000m") }}"
            memory: "{{ elasticsearch_limits_memory | default("1024Mi") }}"
        volumeMounts:
        - name: tz-config
          mountPath: /etc/localtime
        - name: elasticsearch-pv-claim
          mountPath: /usr/share/elasticsearch/data
        - name: elasticsearch-config
          mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
          subPath: elasticsearch.yml
        - name: elasticsearch-security
          mountPath: /usr/share/elasticsearch/plugins/opendistro_security/securityconfig
        - name: certs-volume
          mountPath: /usr/share/elasticsearch/config/certs
        env:
          - name: cluster.name
            value: k8s-logs
          - name: node.name
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: discovery.zen.ping.unicast.hosts
            value: "{% for i in range(0, logging_elasticsearch_replicas) %}{% if i > 0 %},{% endif %}elasticsearch-{{ i }}.elasticsearch{% endfor %}"
          - name: discovery.zen.minimum_master_nodes
            value: "{{ (logging_elasticsearch_replicas / 2 + 1) | int }}"
          - name: ES_JAVA_OPTS
            value: "-Xms512m -Xmx512m"
      initContainers:
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 1000:1000 /usr/share/elasticsearch/data"]
        securityContext:
          privileged: true
        volumeMounts:
        - name: elasticsearch-pv-claim
          mountPath: /usr/share/elasticsearch/data
      - name: increase-vm-max-map
        image: busybox
        command: ["sysctl", "-w", "vm.max_map_count=262144"]
        securityContext:
          privileged: true
      - name: increase-fd-ulimit
        image: busybox
        command: ["sh", "-c", "ulimit -n 65536"]
        securityContext:
          privileged: true
      volumes:
      - name: tz-config
        hostPath:
          path: /etc/localtime
      - name: elasticsearch-config
        configMap:
          name: elasticsearch-config
      - name: elasticsearch-security
        configMap:
          name: elasticsearch-security
      - name: certs-volume
        secret:
          secretName: elasticsearch-certs
      nodeSelector:
        capability/general-purpose: 'yes'
  volumeClaimTemplates:
  - metadata:
      name: elasticsearch-pv-claim
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ kubernetes_local_lvm_storage_class_name }}
      resources:
        requests:
          storage: 10G
      selector:
        matchLabels:
          app: elasticsearch
          app-component: elasticsearch
