# {{ ansible_managed }}

[Unit]
Description=Perform maintenance on restic repositories

[Service]
Type=oneshot
Nice=10
ExecStart={{ restic_backup_scripts_dir }}/restic_repo_maintenance.sh
# $HOME or $XDG_CACHE_HOME must be set for restic to find /root/.cache/restic/
Environment="HOME=/root"
