# {{ ansible_managed }}

[Unit]
Description=Perform maintenance on restic repositories
Requires=restic_repo_maintenance.service

[Timer]
Unit=restic_repo_maintenance.service
OnCalendar={{ restic_repo_maintenance_timer }}
Persistent=true

[Install]
WantedBy=timers.target
