apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alertmanager
  namespace: {{ prometheus.namespace }}
  labels:
    {{ prometheus.labels_def | to_nice_yaml() | indent(4) }}
    {{ prometheus.labels_desc | to_nice_yaml() | indent(4) }}
  annotations:
{% if alertmanager.context_root != "" %}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
{% endif %}
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Monitoring
    gethomepage.dev/name: AlertManager
    gethomepage.dev/description: Alert manager for Prometheus
    gethomepage.dev/icon: prometheus
    gethomepage.dev/pod-selector: "app.kubernetes.io/name=alertmanager"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - ntfy.infra.{{ web_base_domain }}
      secretName: ingress-tls
  rules:
  - host: alertmanager.monitoring.intra.{{ web_base_domain }}
    http:
      paths:
      - path: {{ '/' if alertmanager.context_root == '' else alertmanager.context_root + '/?(.*)' }}
        pathType: Prefix
        backend:
          service:
            name: alertmanager-k8s
            port:
              number: 9093
